{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text 'browse:data_collection_related_resource_types' %}
{% breadcrumb_item resource_list_page_breadcrumb_text 'browse:list_data_collections' %}
{% breadcrumb_item scientific_metadata.name 'browse:data_collection_detail' scientific_metadata.id %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui-custom-base.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui-custom.css' %}>
{% endblock styles %}

{% block scripts %}
{{ api_specification_url|json_script:'api-specification-url' }}
<script src="{% static "present/swagger-ui-bundle.js" %}" id="swagger-ui-bundle-script" defer></script>
<script src="{% static "present/swagger-ui-standalone-preset.js" %}" id="swagger-ui-standalone-script" defer></script>
<script src="{% static "present/swagger-initializer.js" %}" id="swagger-initializer-script" defer></script>
{% if developer %}
<script src="{% static "present/swagger-ui-mode.js" %}" id="swagger-ui-mode-script" defer></script>
{% endif %}
{% endblock scripts %}
{% block content %}
<div class="row align-items-start justify-content-between gy-4 mb-3">
    <div class="col-lg-8">
        <h1>{{ title }}</h1>
        <span class="text-muted">{{ scientific_metadata.name }}</span>
    </div>
    {% if developer %}
    <div class="col-lg-2">
        {{ form.mode.label_tag }}
        {{ form.mode }}
    </div>
    {% endif %}
</div>
<div id="swagger-ui" data-mode="user"></div>
{% endblock content %}