{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Present' %}
{% endblock breadcrumbs %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/index.css' %}>

{% block scripts %}
{{ api_specification_url|json_script:'api-specification-url' }}
<script src="{% static "present/swagger-ui-bundle.js" %}" id="swagger-ui-bundle-script" defer></script>
<script src="{% static "present/swagger-ui-standalone-preset.js" %}" id="swagger-ui-standalone-script" defer></script>
<script src="{% static "present/swagger-initializer.js" %}" id="swagger-initializer-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row pb-4">
    <div class="col-lg-8">
        <h1>Data Collection Interaction</h1>
    </div>
</div>
    <div id="swagger-ui"></div>
</div>

{% endblock content %}