{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text 'browse:data_collection_related_resource_types' %}
{% breadcrumb_item resource_list_page_breadcrumb_text 'browse:list_data_collections' %}
{% breadcrumb_item scientific_metadata.name 'browse:data_collection_detail' scientific_metadata.id %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/SwaggerDark.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui-custom-base.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'present/swagger-ui-custom.css' %}>
{% endblock styles %}

{% block scripts %}
{{ api_specification_url|json_script:'api-specification-url' }}
<script src="{% static "present/swagger-ui-bundle.js" %}" id="swagger-ui-bundle-script" defer></script>
<script src="{% static "present/swagger-ui-standalone-preset.js" %}" id="swagger-ui-standalone-script" defer></script>
<script src="{% static "present/swagger-initializer.js" %}" id="swagger-initializer-script" defer></script>
{% if developer %}
<script src="{% static "present/swagger-ui-mode.js" %}" id="swagger-ui-mode-script" defer></script>
{% endif %}
{% endblock scripts %}
{% block content %}
<div class="row align-items-baseline justify-content-between column-gap-4 row-gap-lg-4">
    <div class="col-lg-8">
        <hgroup>
            <h1 class="text-body-secondary fs-6 mb-0">API Access</h1>
            <p class="text-body fs-5 fw-semibold">{{ scientific_metadata.name }}</p>
        </hgroup>
    </div>
    {% if developer %}
    <div class="col-lg-2">
        {{ form.mode.label_tag }}
        {{ form.mode }}
    </div>
    {% endif %}
</div>
<div id="swagger-ui" data-mode="user"></div>
{% endblock content %}