{% extends 'browse/detail/bases/base.html' %}

{# Appears after the description #}
{% block post_description_content %}
{% include 'browse/detail/sections/capabilities_section.html' %}
{% include 'browse/detail/sections/data_levels_section.html' %}
{% include 'browse/detail/sections/quality_assessment_section.html' %}
{% if resource.properties.instrument_mode_pair %}
<section class="resource-detail-section">
    <h2>Instrument Mode Pair</h2>
    {% with instrument_mode_pair=resource.properties.instrument_mode_pair %}
    <dl class="d-flex flex-column row-gap-3">
        <div>
            <dt>Instrument</dt>
            <dd>
                {% with value=instrument_mode_pair.instrument %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </dd>
        </div>
        <div>
            <dt>Mode</dt>
            <dd>
                {% with value=instrument_mode_pair.mode %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </dd>
        </div>
    </dl>
    {% endwith %}
</section>
{% endif %}
{% if resource.properties.input_descriptions %}
{% with io_section_heading_text='Input Parameters' io_data=resource.properties.input_descriptions io_name='input parameter' %}
{% include 'browse/detail/sections/input_output_section.html' %}
{% endwith %}
{% endif %}
{% if resource.properties.output_descriptions %}
{% with io_section_heading_text='Output Parameters' io_data=resource.properties.output_descriptions io_name='output parameter' %}
{% include 'browse/detail/sections/input_output_section.html' %}
{% endwith %}
{% endif %}
{% include 'browse/detail/sections/responsive/documentation_section.html' %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content %}
{% include 'browse/detail/sections/asides/responsive/data_levels_aside_section.html' %}
{% include 'browse/detail/sections/asides/responsive/quality_assessment_aside_section.html' %}
{% include 'browse/detail/sections/asides/responsive/documentation_aside_section.html' %}
{% endblock aside_extra_content %}