{% extends 'browse/detail/bases/base_catalogue_related.html' %}
{% load project_tags %}
{% block top_section_extra_content %}
<div class="resource-detail-top-section-extra-content mt-4">
    <dl class="d-flex flex-md-row flex-column column-gap-5 row-gap-4">
        {% if resource.properties.result_time %}
        <div>
            <dt class="visually-hidden">Result Time</dt>
            <dd>
                <dl class="d-flex flex-md-column flex-row flex-wrap row-gap-md-3 row-gap-2 column-gap-5">
                    <div>
                        <dt>Result (Begin Time)</dt>
                        <dd>{{ resource.properties.result_time.time_period.begin.time_position|date:'M jS, Y, H:i e' }}</dd>
                    </div>
                    <div>
                        <dt>Result (End Time)</dt>
                        <dd>{{ resource.properties.result_time.time_period.end.time_position|date:'M jS, Y, H:i e' }}</dd>
                    </div>
                </dl>
            </dd>
        </div>
        {% endif %}
        {% if resource.properties.catalogue_entry_urls %}
        <div>
            <dt>From Catalogue Entry</dt>
            <dd>
                {% with value=resource.properties.catalogue_entry_urls.0 %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </dd>
        </div>
        {% endif %}
        {% if resource.properties.data_collection_urls %}
        <div>
            <dt>Subset of Data Collection</dt>
            <dd>
                {% with value=resource.properties.data_collection_urls.0 %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </dd>
        </div>
        {% endif %}
    </dl>
</div>
{% endblock top_section_extra_content %}
{% block post_description_content %}
{% with section_heading='How to Access This Data Subset' %}
{% include 'browse/detail/sections/interaction_methods_section.html' %}
{% endwith %}
{% endblock post_description_content %}
{% block further_information_extra_sections %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% endblock further_information_extra_sections %}