{% extends 'browse/detail/bases/base.html' %}
{% load project_tags %}
{% block top_section_extra_content %}
<div class="d-flex flex-wrap column-gap-5 row-gap-3 mt-4">
    {% if resource.properties.catalogue_entry_urls %}
    <div>
        <h2 class="fs-6">From Catalogue Entry</h2>
        {% with value=resource.properties.catalogue_entry_urls.0 %}
        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
        {% endwith %}
    </div>
    {% endif %}
    {% if resource.properties.data_collection_urls %}
    <div>
        <h2 class="fs-6">Subset of Data Collection</h2>
        {% with value=resource.properties.data_collection_urls.0 %}
        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
        {% endwith %}
    </div>
    {% endif %}
</div>
{% endblock top_section_extra_content %}
{% block pre_description_content %}
{% if 'source' in resource.json %}
<section class="interaction-methods-section resource-detail-section">
    <h2>Access this Data Subset</h2>
    {% with sources=resource.json.source %}
    {% include 'browse/detail/components/online_resource_list.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock pre_description_content %}
{% block further_information_extra_sections %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% endblock further_information_extra_sections %}