{% extends 'browse/detail/bases/base_catalogue_related.html' %}
{% load project_tags %}
{% block top_section_extra_content %}
<div class="pt-4">
    {% with value=resource.properties.catalogue_category pill_type='dark' extra_badge_classes='catalogue-category-badge' %}
    {% include 'browse/placeholders/ontology_server_url_pill_placeholder.html' %}
    {% endwith %}
</div>
{% endblock top_section_extra_content %}
{% block post_description_content %}
{% if resource.entries %}
<section class="resource-detail-section">
    <h2>Entries for This Catalogue</h2>
    <p class="text-secondary">
        {{ resource.entries|length }} Entries
    </p>
    <ol class="list-group my-2">
        {% for entry in resource.entries %}
        <li class="list-group-item">
            {% with value=entry.metadata_server_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ol>
</section>
{% endif %}
{% endblock post_description_content %}
{% block further_information_extra_sections %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% endblock further_information_extra_sections %}