{% extends 'browse/detail/bases/base_catalogue_related.html' %}
{% block top_section_extra_content %}
<div class="d-flex flex-column row-gap-4 pt-4">
    {% if resource.properties.catalogue_urls %}
    <div>
        <h2 class="fs-6">From Catalogue</h2>
        {% with value=resource.properties.catalogue_urls.0 %}
        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
        {% endwith %}
    </div>
    {% endif %}
    {% if resource.properties.phenomenon_time %}
    <div class="border-top pt-4">
        <h2 class="fs-6">Phenomenon Time</h2>
        <dl class="d-flex flex-wrap justify-content-start column-gap-4 row-gap-2 pt-2">
            <div class="d-flex flex-column">
                <dt>Begin</dt>
                <dd>{{ resource.properties.phenomenon_time.time_period.begin.time_position|date:'M jS, Y, H:i e' }}</dd>
            </div>
            <div class="d-flex flex-column">
                <dt>End</dt>
                <dd>{{ resource.properties.phenomenon_time.time_period.end.time_position|date:'M jS, Y, H:i e' }}</dd>
            </div>
        </dl>
    </div>
    {% endif %}
</div>
{% endblock top_section_extra_content %}
{% block pre_description_content %}
{% if resource.data_subsets %}
<section class="resource-detail-section">
    <h2>Data Subsets</h2>
    <ol class="mt-4">
        {% for data_subset in resource.data_subsets %}
        <li>
            {% with value=data_subset.metadata_server_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ol>
</section>
{% endif %}
{% endblock pre_description_content %}