{% extends 'browse/detail/bases/base.html' %}

{# Appears after the last modified date #}
{% block post_last_modified_date_content %}
{# Version #}
{% if resource.properties.computation_version %}
<div class="d-flex align-items-center flex-wrap row-gap-1 column-gap-1 fs-sm-2 text-body-secondary pt-3">
    <h2 id="version" class="d-inline fs-sm-2 text-body-secondary mb-0">Version:</h2>
    <p class="mb-0">{{ resource.properties.computation_version }}</p>
</div>
{% endif %}
{# Types #}
{% if resource.properties.types %}
{% with types=resource.properties.types %}
{% include 'browse/detail/components/type_section_list.html' %}
{% endwith %}
{% endif %}
{% endblock post_last_modified_date_content %}

{# Appears before the description #}
{% block pre_description_content %}
{% if resource.properties.child_computations %}
<section class="resource-detail-section">
    <details>
        <summary class="summary-marker-custom">
            <h2 id="child-computations" class="fs-6">Child Computations <span class="text-body-secondary">({{ resource.properties.child_computations|length }})</span></h2>
        </summary>
        <ul class="list-group list-group-flush">
            {% for child_computation_url in resource.properties.child_computations %}
            <li class="list-group-item">
                {% with value=child_computation_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </details>
</section>
{% endif %}
{% endblock pre_description_content %}

{# Appears after the description #}
{% block post_description_content %}
{% include 'browse/detail/sections/capabilities_section.html' %}
{% if resource.properties.processing_inputs %}
{% with io_section_heading_text='Processing Input Parameters' io_data=resource.properties.processing_inputs io_name='input parameter' %}
{% include 'browse/detail/sections/input_output_section.html' %}
{% endwith %}
{% endif %}
{% if resource.properties.processing_outputs %}
{% with io_section_heading_text='Processing Output Parameters' io_data=resource.properties.processing_outputs io_name='output parameter' %}
{% include 'browse/detail/sections/input_output_section.html' %}
{% endwith %}
{% endif %}
{% include 'browse/detail/sections/data_levels_section.html' %}
{% include 'browse/detail/sections/quality_assessment_section.html' %}
{% include 'browse/detail/sections/documentations_section.html' %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content_before_default %}
{% include 'browse/detail/sections/asides/responsive/data_levels_aside_section.html' %}
{% include 'browse/detail/sections/asides/responsive/quality_assessment_aside_section.html' %}
{% endblock aside_extra_content_before_default %}