{% extends 'browse/detail/bases/base_catalogue_related.html' %}
{% load project_tags %}

{# Appears after the description #}
{% block post_description_content %}
{% with section_heading='Access This Data Subset' %}
{% include 'browse/detail/sections/interaction_methods_section.html' %}
{% endwith %}
<div class="responsive-resource-detail-section resource-detail-section">
    <h2>Result Time</h2>
    {% include 'browse/detail/components/data_subset/result_time_section_content.html' %}
</div>
{% if resource.properties.catalogue_entry_urls %}
<section class="responsive-resource-detail-section resource-detail-section">
<h2 class="fs-6 fw-semibold mb-2">Static Dataset Entry</h2>
    {% with value=resource.properties.catalogue_entry_urls.0 %}
    {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock post_description_content %}

{# Appears in the further information disclosure widget #}
{% block further_information_extra_sections %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% if resource.properties.doi_kernel_metadata.referent_doi_name %}
<section class="resource-detail-section">
    <h3>DOI</h3>
    <p>
        {{ resource.properties.doi_kernel_metadata.referent_doi_name|urlize }}
    </p>
</section>
{% endif %}
{% if resource.properties.data_collection_urls %}
<section class="responsive-resource-detail-section resource-detail-section">
    <h2>Subset of Data Collection</h2>
    {% with value=resource.properties.data_collection_urls.0 %}
    {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock further_information_extra_sections %}

{# Appears in aside section #}
{% block aside_extra_content_after_default %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Result Time</h2>
    {% include 'browse/detail/components/data_subset/result_time_section_content.html' %}
</section>
{% if resource.properties.catalogue_entry_urls %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Static Dataset Entry</h2>
    {% with value=resource.properties.catalogue_entry_urls.0 %}
    {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
    {% endwith %}
</section>
{% endif %}
{% if resource.properties.data_collection_urls %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Subset of Data Collection</h2>
    {% with value=resource.properties.data_collection_urls.0 %}
    {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock aside_extra_content_after_default %}