{% extends 'browse/detail/bases/base.html' %}
{% load project_tags %}
{% load static %}
{% block extra_scripts %}
{{ ontology_node_properties_mapping_url|json_script:'ontology-node-properties-mapping-url' }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.6/purify.min.js" integrity="sha512-jB0TkTBeQC9ZSkBqDhdmfTv1qdfbWpGE72yJ/01Srq6hEzZIz2xkz1e57p9ai7IeHMwEG7HpzG6NdptChif5Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'browse/data_collection_permissions_loader.js' %}" type="module"></script>
<script src="{% static 'browse/data_collection.js' %}" defer></script>
{% endblock extra_scripts %}

{# Appears after the description #}
{% block post_description_content %}
{% include 'browse/detail/sections/interaction_methods_section.html' %}
{% include 'browse/detail/sections/permissions_section.html' %}
{% endblock post_description_content %}

{# Appears in the further information disclosure widget #}
{% block further_information_extra_sections %}
{% if resource.properties.procedure %}
<section class="resource-detail-section">
    <h3>Procedure</h3>
    {% with value=resource.properties.procedure %}
    {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
    {% endwith %}
</section>
{% endif %}
{% if resource.properties.projects %}
<section class="resource-detail-section">
    <h3>Projects</h3>
    <ul>
        {% for project in resource.properties.projects %}
        <li>
            {% with value=project %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if resource.properties.sub_collections %}
<section class="resource-detail-section">
    <h3>Sub-collections</h3>
    <ul>
        {% for sub_collection in resource.properties.sub_collections %}
        <li>
            {% with value=sub_collection %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if resource.properties.features_of_interest %}
<section class="resource-detail-section">
    <h3>Features of Interest</h3>
    <ul>
        {% for foi in resource.properties.features_of_interest %}
        <li>
            {% with value=foi %}
            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% endblock further_information_extra_sections %}

{# Appears in the aside section #}
{% block aside_extra_content_before_default %}
{% if resource.permission_urls %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Permissions</h2>
    <ul class="d-flex flex-column row-gap-2 list-unstyled bg-body-tertiary rounded p-3">
        {% for permission_url in resource.permission_urls %}
        {% with value=permission_url|get_key_value:'@xlink:href' %}
        <li>
            <div class="d-flex align-items-baseline column-gap-2">
                <a href="#permission_{{ value|server_url_id|lower }}" class="link-underline-by-default">
                    {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                </a>
            </div>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock aside_extra_content_before_default %}