{% extends 'browse/detail/bases/base.html' %}
{% load project_tags %}

{# Appears after the last modified date #}
{% block post_last_modified_date_content %}
{# Version #}
{% if resource.properties.instrument_version %}
<div class="d-flex align-items-center flex-wrap row-gap-1 column-gap-1 fs-sm-2 text-body-secondary pt-3">
    <h2 id="version" class="d-inline fs-sm-2 text-body-secondary mb-0">Version:</h2>
    <p class="mb-0">{{ resource.properties.instrument_version }}</p>
</div>
{% endif %}
{# Type #}
{% if resource.properties.type %}
{% with types=resource.properties.type %}
{% include 'browse/detail/components/type_section_list.html' %}
{% endwith %}
{% endif %}
{% endblock post_last_modified_date_content %}

{# Appears after the description #}
{% block post_description_content %}
{% include 'browse/detail/sections/website_section.html' %}
{% if resource.properties.operational_modes %}
<section class="resource-detail-section">
    <h2 id="operational-modes">Operational Modes</h2>
    <ul class="list-group list-group-flush">
        {% for operational_mode in resource.properties.operational_modes %}
        <li class="list-group-item p-0">
            <details id="{{ operational_mode.id }}" name="details-operational-modes" {% if 'operational_mode_id' not in request.GET and forloop.counter == 1 or request.GET.operational_mode_id == operational_mode.id %}open{% endif %}>
                <summary class="summary-marker-custom summary-marker-custom-baseline summary-marker-custom-highlight p-3 mb-0">
                    <div>
                        <h3 class="fw-semibold fs-base-2">{{ operational_mode.name }}</h3>
                        <small class="text-body-secondary">
                            {{ operational_mode.id }}
                        </small>
                    </div>
                </summary>
                <div class="py-3">
                    {% with forloop_counter_str=forloop.counter|stringformat:'s' op_mode_description_paragraphs=operational_mode.description|wrap_in_list_if_dict %}
                    {% with text_block_id='op-mode-description-'|add:forloop_counter_str text_block_paragraphs=op_mode_description_paragraphs %}
                    {% with expand_btn_type='sm btn-link' expand_btn_top_margin='mt-1' expand_btn_text='Show more...' %}
                    {% include 'utils/expandable_text_block.html' %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </div>
            </details>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if resource.properties.members %}
<section class="resource-detail-section">
    <h2 id="members">Members</h2>
    <ul>
        {% for member_url in resource.properties.members %}
        <li>
            {% with value=member_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% include 'browse/detail/sections/documentations_section.html' %}
{% endblock post_description_content %}