{% extends 'browse/detail/bases/base.html' %}

{# Appears before the description #}
{% block pre_description_content %}
{% if resource.properties.status %}
<section class="responsive-resource-detail-section resource-detail-section">
    <h2>Status</h2>
    {% with value=resource.properties.status %}
    {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
    {% endwith %}
</section>
{% endif %}
<section class="responsive-resource-detail-section resource-detail-section">
    <h2>Operation Time</h2>
    {% include 'browse/detail/components/operation/operation_time_section_content.html' %}
</section>
{% endblock pre_description_content %}

{# Appears after the description #}
{% block post_description_content %}
{% if resource.properties.platforms %}
<section class="resource-detail-section">
    <details>
        <summary class="summary-marker-custom">
            <h2>Platforms <span class="text-body-secondary">({{ resource.properties.platforms|length }})</span></h2>
        </summary>
        <ul class="list-group list-group-flush">
            {% for platform_url in resource.properties.platforms %}
            <li class="list-group-item">
                {% with value=platform_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </details>
</section>
{% endif %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content_after_default %}
{% if resource.properties.status %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Status</h2>
    {% with value=resource.properties.status %}
    {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
    {% endwith %}
</section>
{% endif %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Operation Time</h2>
    {% include 'browse/detail/components/operation/operation_time_section_content.html' %}
</section>
{% endblock aside_extra_content_after_default %}