{% extends 'browse/detail/bases/base.html' %}

{# Appears before the description #}
{% block post_description_content %}
{% if resource.properties.contact_info %}
<section class="responsive-resource-detail-section resource-detail-section">
    {% with heading_font_size_class='fs-base-2 fw-semibold' %}
    {% include 'browse/detail/components/contact_info_section_content.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content %}
{% if resource.properties.contact_info %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    {% with col_width_class='col-lg-12' %}
    {% include 'browse/detail/components/contact_info_section_content.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock aside_extra_content %}