{% extends 'browse/detail/bases/base.html' %}

{# Appears before the description #}
{% block pre_description_content %}
{% if resource.properties.online_resource %}
{% with contact_info_details_top_section_heading='Website and Contact Details' %}
{% include 'browse/detail/components/top_section_extra_content/contact_info.html' %}
{% endwith %}
{% else %}
{% with contact_info_details_top_section_heading='Contact Details' %}
{% include 'browse/detail/components/top_section_extra_content/contact_info.html' %}
{% endwith %}
{% endif %}
{% endblock pre_description_content %}