{% extends 'browse/detail/bases/base.html' %}

{# Appears before the description #}
{% block pre_description_content %}
{% include 'browse/detail/sections/responsive/website_section.html' %}
{% if resource.properties.standard_identifiers %}
<div class="responsive-resource-detail-section resource-detail-section">
    <h2>
        {% if resource.properties.standard_identifiers|length == 1 %}
        Standard Identifier
        {% else %}
        Standard Identifiers
        {% endif %}
    </h2>
    {% include 'browse/detail/components/platform/standard_identifier_section_content.html' %}
</div>
{% endif %}
{% endblock pre_description_content %}

{# Appears after the description #}
{% block post_description_content %}
{% if resource.properties.location %}
<section class="responsive-resource-detail-section resource-detail-section">
    <h2>Location</h2>
    {% include 'browse/detail/components/platform/location_section_content.html' %}
</section>
{% endif %}
{% if resource.properties.child_platforms %}
<section class="resource-detail-section">
    <h2>Child Platforms</h2>
    <ul>
        {% for platform_url in resource.properties.child_platforms %}
        <li>
            {% with value=platform_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% include 'browse/detail/sections/responsive/documentation_section.html' %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content %}
{% include 'browse/detail/sections/asides/responsive/website_aside_section.html' %}
{% if resource.properties.standard_identifiers %}
<div class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>
        {% if resource.properties.standard_identifiers|length == 1 %}
        Standard Identifier
        {% else %}
        Standard Identifiers
        {% endif %}
    </h2>
    {% include 'browse/detail/components/platform/standard_identifier_section_content.html' %}
</div>
{% endif %}
{% if resource.properties.location %}
<section class="responsive-resource-detail-aside-section resource-detail-aside-section">
    <h2>Location</h2>
    {% include 'browse/detail/components/platform/location_section_content.html' %}
</section>
{% endif %}
{% include 'browse/detail/sections/asides/responsive/documentation_aside_section.html' %}
{% endblock aside_extra_content %}