{% extends 'browse/detail/bases/base.html' %}

{# Appears after the last modified date, before the related parties #}
{% block top_section_extra_content %}
{% if resource.properties.standard_identifiers %}
<div class="resource-detail-top-section-extra-content border-top mt-4">
    <dl class="mb-0">
        {% if resource.properties.standard_identifiers %}
        <div class="pt-4">
            <dt class="mb-2">
                {% if resource.properties.standard_identifiers|length == 1 %}
                Standard Identifier
                {% else %}
                Standard Identifiers
                {% endif %}
            </dt>
            {% for standard_identifier in resource.properties.standard_identifiers %}
            <dd>
                {{ standard_identifier.value }} <span class="text-body-secondary">({{ standard_identifier.authority }})</span>
            </dd>
            {% endfor %}
        </div>
        {% endif %}
    </dl>
</div>
{% endif %}
{% endblock top_section_extra_content %}

{# Appears before the description #}
{% block pre_description_content %}
{% include 'browse/detail/sections/responsive/website_section.html' %}
{% endblock pre_description_content %}

{# Appears after the description #}
{% block post_description_content %}
{% if resource.properties.location %}
<section class="resource-detail-section">
    <h2>Location</h2>
    <dl class="d-flex flex-column row-gap-4">
        {% if resource.properties.location.name %}
        <div>
            <dt class="fs-5 fw-medium">Name</dt>
            <dd>{{ resource.properties.location.name }}</dd>
        </div>
        {% endif %}
        <div>
            <dt class="fs-5 fw-medium">Point</dt>
            <dd>
                <dl>
                    <div class="mb-3">
                        <dt>ID</dt>
                        <dd>{{ resource.properties.location.point.id }}</dd>
                    </div>
                    <div class="mb-3">
                        <dt>SRS Name</dt>
                        <dd>
                            {% with value=resource.properties.location.point.srs_name %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                        </dd>
                    </div>
                    <div>
                        <dt>Position</dt>
                        <dd>{{ resource.properties.location.point.pos }}</dd>
                    </div>
                </dl>
            </dd>
        </div>
    </dl>
</section>
{% endif %}
{% if resource.properties.child_platforms %}
<section class="resource-detail-section">
    <h2>Child Platforms</h2>
    <ul>
        {% for platform_url in resource.properties.child_platforms %}
        <li>
            {% with value=platform_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% include 'browse/detail/sections/responsive/documentation_section.html' %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content %}
{% include 'browse/detail/sections/asides/responsive/website_aside_section.html' %}
{% include 'browse/detail/sections/asides/responsive/documentation_aside_section.html' %}
{% endblock aside_extra_content %}