{% extends 'browse/detail/bases/base.html' %}
{% block post_description_content %}
{% if resource.properties.location %}
<section class="resource-detail-section">
    <h2>Location</h2>
    <dl class="row align-items-center g-4">
        {% if resource.properties.location.name %}
        <div class="col-lg-6">
            <dt class="fs-5 fw-medium">Name</dt>
            <dd>{{ resource.properties.location.name }}</dd>
        </div>
        {% endif %}
        <div class="col-lg-6">
            <dt class="fs-5 fw-medium">Point</dt>
            <dd>
                <dl>
                    <div class="mb-3">
                        <dt>ID</dt>
                        <dd>{{ resource.properties.location.point.id }}</dd>
                    </div>
                    <div class="mb-3">
                        <dt>SRS Name</dt>
                        <dd>
                            {% with value=resource.properties.location.point.srs_name %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                        </dd>
                    </div>
                    <div>
                        <dt>Position</dt>
                        <dd>{{ resource.properties.location.point.pos }}</dd>
                    </div>
                </dl>
            </dd>
        </div>
    </dl>
</section>
{% endif %}
{% if resource.properties.child_platforms %}
<section class="resource-detail-section">
    <h2>Child Platforms</h2>
    <ul>
        {% for platform_url in resource.properties.child_platforms %}
        <li>
            {% with value=platform_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock post_description_content %}