{% extends 'browse/detail/bases/base.html' %}
{% block post_description_content %}
{% if resource.properties.acquisition_components %}
<section class="resource-detail-section">
    <h2>Acquisition Components</h2>
    <ul>
        {% for acquisition_url in resource.properties.acquisition_components %}
        <li>
            {% with value=acquisition_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% if resource.properties.computation_components %}
<section class="resource-detail-section">
    <h2>Computation Components</h2>
    <ul>
        {% for computation_url in resource.properties.computation_components %}
        <li>
            {% with value=computation_url %}
            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% include 'browse/detail/sections/data_levels_section.html' %}
{% include 'browse/detail/sections/quality_assessment_section.html' %}
{% endblock post_description_content %}