{% extends 'browse/detail/bases/base.html' %}

{# Appears after the description #}
{% block post_description_content %}
{% if resource.properties.acquisition_components or resource.properties.computation_components %}
<section class="d-flex flex-column row-gap-4 resource-detail-section">
    {% if resource.properties.acquisition_components %}
    <div>
        <h2>Acquisition Components</h2>
        <ul class="list-group list-group-flush">
            {% for acquisition_url in resource.properties.acquisition_components %}
            <li class="list-group-item px-0">
                {% with value=acquisition_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if resource.properties.computation_components %}
    <div>
        <h2>Computation Components</h2>
        <ul class="list-group list-group-flush">
            {% for computation_url in resource.properties.computation_components %}
            <li class="list-group-item px-0">
                {% with value=computation_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endif %}
{% include 'browse/detail/sections/capabilities_section.html' %}
{% include 'browse/detail/sections/data_levels_section.html' %}
{% include 'browse/detail/sections/quality_assessment_section.html' %}
{% endblock post_description_content %}

{# Appears in the aside section #}
{% block aside_extra_content_after_default %}
{% include 'browse/detail/sections/asides/responsive/data_levels_aside_section.html' %}
{% include 'browse/detail/sections/asides/responsive/quality_assessment_aside_section.html' %}
{% endblock aside_extra_content_after_default %}