{% extends 'browse/detail/bases/base.html' %}

{# Appears after the description #}
{% block post_description_content %}
{% if resource.properties.acquisition_components or resource.properties.computation_components %}
<section class="d-flex flex-column row-gap-4 resource-detail-section">
    {% if resource.properties.acquisition_components %}
    <div>
        <h2 id="acquisitions">Acquisition Components</h2>
        <ul class="list-group list-group-flush">
            {% for acquisition_url in resource.properties.acquisition_components %}
            <li class="list-group-item px-0">
                {% with value=acquisition_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if resource.properties.computation_components %}
    <div>
        <h2 id="computations">Computation Components</h2>
        <ul class="list-group list-group-flush">
            {% for computation_url in resource.properties.computation_components %}
            <li class="list-group-item px-0">
                {% with value=computation_url %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endif %}
{% include 'browse/detail/sections/capabilities_section.html' %}
{% include 'browse/detail/sections/documentations_section.html' %}
{% endblock post_description_content %}

{# Appears in the further information disclosure widget #}
{% block further_information_extra_sections %}
{% include 'browse/detail/sections/bottom/quality_assessment_bottom_section.html' %}
{% include 'browse/detail/sections/bottom/data_levels_bottom_section.html' %}
{% endblock further_information_extra_sections %}