{% extends 'browse/detail/bases/base.html' %}
{% block pre_description_content %}
{% if resource.abstract.strip|length > 0 %}
<section class="resource-detail-section">
    <h2>Abstract</h2>
    {% with text_block_id='resource-abstract' text_block_paragraphs=project_abstract_split %}
    {% include 'browse/detail/components/expandable_text_block.html' %}
    {% endwith %}
</section>
{% endif %}
{% endblock pre_description_content %}
{% block description_heading_text %}
{% if resource.abstract.strip|length > 0 %}
Additional Description
{% else %}
Description
{% endif %}
{% endblock description_heading_text %}