{% extends 'browse/detail/bases/base.html' %}
{% block pre_description_content %}
{% if resource.abstract.strip|length > 0 %}
<section class="resource-detail-section">
    <h2>Abstract</h2>
    {% if project_abstract_split %}
    {% for ap in project_abstract_split %}
    <p class="resource-description">{{ ap|urlize }}</p>
    {% endfor %}
    {% endif %}
</section>
{% endif %}
{% endblock pre_description_content %}
{% block description_heading_text %}
{% if resource.abstract.strip|length > 0 %}
Additional Description
{% else %}
Description
{% endif %}
{% endblock description_heading_text %}