{% extends 'browse/detail/bases/base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_list_page_breadcrumb_text resource_list_page_breadcrumb_url_name %}
{% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
{% breadcrumb_item_active resource.name|default:pithia_identifier.localID %}
{% endwith %}{% endblock breadcrumbs %}
{% block post_description_content %}
<section class="resource-detail-section">
    <h2 class="mb-3">Execute from e-Science Centre</h2>
    <ul class="list-group mt-0">
        <li class="list-group-item">
            <div class="d-flex flex-column row-gap-3 py-2">
                <div>
                    <h3 class="fs-5">
                        <a href="{% url 'present:interact_with_workflow_through_api' workflow_id %}" class="icon-link icon-link-hover icon-link-interaction-method link-plain-by-default" target="_blank" rel="noopener noreferrer">
                            Interact
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-xl-1 ms-3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                    </h3>
                    <div>
                        <span class="badge rounded-pill text-bg-light">
                            API
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column row-gap-3 ms-2">
                    {% if workflow_interaction_method.config.description %}
                    <p class="mb-0">
                        {{ workflow_interaction_method.config.description }}
                    </p>
                    {% endif %}
                    <a href="{{ resource.details_url }}" class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-fill me-1" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z"/>
                        </svg>Diagram and Further Details
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
{% endblock post_description_content %}