<header>
    <div class="container d-md-flex d-none align-items-center justify-content-between column-gap-2 py-3">
        <a class="d-flex align-items-center column-gap-1 navbar-brand header-logo-link" href="/">
            {% load static %}
            {% include 'header/logo.html' %}
            <div class="d-md-flex d-none flex-column align-items-start text-body text-decoration-none fs-4">
                <span class="fw-semibold lh-sm pithia-blue" style="font-size: 0.925rem;">PITHIA</span>
                <span class="fs-6 fw-medium lh-sm text-secondary-emphasis">e-Science Centre</span>
            </div>
        </a>
        <div class="d-flex align-items-center justify-content-end column-gap-2">
            {% include 'header/help_and_support_link.html' %}
            <div class="vr"></div>
            {% include 'header/user_menu.html' %}
        </div>
    </div>
    {% include 'navbar.html' %}
</header>