<section id="sources-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">
                Sources
            </h2>
        </div>
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="sources-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="s1-tab" data-bs-toggle="tab" data-bs-target="#s1-tab-pane" type="button" role="tab" aria-controls="s1-tab-pane" aria-selected="true">Online Resource 1</button>
                </li>
                <li class="nav-item create-tab" role="presentation">
                    <button class="nav-link" type="button">
                        + Add Online Resource
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="sources-tab-content">
                <div class="tab-pane fade show active" id="s1-tab-pane" role="tabpanel" aria-labelledby="s1-tab" tabindex="0">
                    {% include 'metadata_editor/components/sources_tab_pane_content_template.html' %}
                </div>
            </div>
            {{ form.sources_json }}
            {{ form.sources_extra_json }}
        </div>
    </div>
</section>