<section id="processing-input-and-output-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">Processing Input and Output</h2>
        </div>
        <div class="col-lg-12">
            <h3 class="text-secondary fs-5 mb-0 mt-4">
                Processing Input
            </h3>
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.processing_input_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.processing_input_description %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            <h3 class="text-secondary fs-5 mb-0 mt-4">
                Processing Output
            </h3>
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.processing_output_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.processing_output_description %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>