<section id="processing-inputs-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">Processing Input Parameters</h2>
        </div>
        <div class="col-xl-9 col-lg-12">
            <p class="mb-0">
                Description of a required input of Computation and, if appropriate, the units
                used. The description does not involve the values of the input data. The actual
                values, if required, shall be stored in Data Collection, as they are specific
                to the event of the observation and not to the applied process.
            </p>
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with custom_summary_text='Adding information on processing input parameters is optional. If you would like to add this, each processing input parameter specified must have a description.' %}
            {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            {% include 'register_with_support/components/computation_capabilities/processing_inputs_table.html' %}
        </div>
    </div>
</section>