{% if resource.properties.capabilities %}
<section class="resource-detail-section">
    <details open>
        <summary class="summary-marker-custom">
            <h2>
                Capabilities
                <span class="fw-normal text-body-secondary">({{ resource.properties.capabilities|length }})</span>
            </h2>
        </summary>
        <div class="table-responsive position-relative table-capabilities-wrapper border rounded">
            <table class="table table-bordered table-striped table-capabilities">
                <thead class="position-sticky">
                    <tr>
                        <th class="position-sticky">Name</th>
                        <th class="position-sticky">Observed Property</th>
                        <th class="position-sticky">Dimensionality Timeline</th>
                        <th class="position-sticky">Dimensionality Instance</th>
                        <th class="position-sticky">Cadence</th>
                        <th class="position-sticky">Co-ordinate System</th>
                        <th class="position-sticky">Vector Representation</th>
                        <th class="position-sticky">Units</th>
                        <th class="position-sticky">Qualifiers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cap in resource.properties.capabilities %}
                    <tr>
                        <td class="position-sticky fst-italic">
                            {% if cap.name %}
                            {{ cap.name }}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.observed_property %}
                            {% with value=cap.observed_property %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.dimensionality_timeline %}
                            {% with value=cap.dimensionality_timeline %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.dimensionality_instance %}
                            {% with value=cap.dimensionality_instance %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.cadence %}
                            Every
                            {% if cap.cadence == '1' %}
                            {{ cap.cadence_units|default:'N/A' }}
                            {% else %}
                            {{ cap.cadence|default:'N/A' }} {{ cap.cadence_units|default:'unknown unit' }}s
                            {% endif %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.coordinate_system %}
                            {% with value=cap.coordinate_system %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.vector_representation %}
                            <ul>
                                {% for vector_representation in cap.vector_representations %}
                                <li>
                                    {% with value=vector_representation %}
                                    {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                                    {% endwith %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if cap.units %}
                            {% with value=cap.units %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% endwith %}
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if cap.qualifiers %}
                            <ul class="d-flex flex-column row-gap-2 list-unstyled">
                                {% for qualifier in cap.qualifiers %}
                                <li>
                                    {% with value=qualifier %}
                                    {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                                    {% endwith %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <span class="text-body-secondary">Not set</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </details>
</section>
{% endif %}