{% if resource.properties.capability_links %}
<section class="resource-detail-section">
    {# Determine if top-level disclosure widget needed or not #}
    {% if resource.properties.capability_links|length == 1 %}
    <h2 class="mb-1">Capability Links</h2>
    <div class="mb-2">{% include 'browse/detail/components/capability_links_help_button.html' %}</div>
    {% with cap_link=resource.properties.capability_links.0 %}
    {# Determine if just capabilities or not #}
    {% if cap_link.platform or cap_link.standard_identifiers or cap_link.time_spans %}
    {% with is_open=True %}
    {% include 'browse/detail/components/capability_link_details_component.html' %}
    {% endwith %}
    {% else %}
    <div class="pt-2">
        {# Computation capabilities #}
        {% if cap_link.computation_capabilities %}
        {% with value=cap_link.computation_capabilities %}
        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
        {% endwith %}
        {% endif %}
        {# Acquisition capabilities #}
        {% if cap_link.acquisition_capabilities %}
        {% with value=cap_link.acquisition_capabilities %}
        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
        {% endwith %}
        {% endif %}
    </div>
    {% endif %}
    {% endwith %}
    {% else %}
    {# Top-level disclosure element needed #}
    <details class="details-capability-links-top" open>
        <summary class="summary-marker-custom summary-marker-custom-baseline">
            <div class="d-inline-block">
                <h2>
                    Capability Links
                    <span class="text-body-secondary">({{ resource.properties.capability_links|length }})</span>
                </h2>
                {% include 'browse/detail/components/capability_links_help_button.html' %}
            </div>
        </summary>
        <ul class="list-group list-group-flush">
            {% for cap_link in resource.properties.capability_links %}
            {% if cap_link.platform or cap_link.standard_identifiers or cap_link.time_spans %}
            <li class="list-group-item p-0">
                {% if forloop.counter == 1 %}
                {% with is_open=True %}
                {% include 'browse/detail/components/capability_link_details_component.html' %}
                {% endwith %}
                {% else %}
                {% with is_open=False %}
                {% include 'browse/detail/components/capability_link_details_component.html' %}
                {% endwith %}
                {% endif %}
            </li>
            {% else %}
            <li class="list-group-item py-3">
                {# Computation capabilities #}
                {% if cap_link.computation_capabilities %}
                {% with value=cap_link.computation_capabilities %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
                {% endif %}
                {# Acquisition capabilities #}
                {% if cap_link.acquisition_capabilities %}
                {% with value=cap_link.acquisition_capabilities %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </details>
    {% endif %}
</section>
{% endif %}