{% if resource.properties.capabilities %}
<section class="resource-detail-section">
    {% if resource.properties.capabilities|length == 1 %}
    <h2 id="capabilities">
        Capabilities
        <span class="text-body-secondary">({{ resource.properties.capabilities|length }})</span>
    </h2>
    {% with cap=resource.properties.capabilities.0 %}
    {% include 'browse/detail/components/capability_details_pane_component.html' %}
    {% endwith %}
    {% else %}
    <details class="details-capabilities-top" open>
        <summary class="summary-marker-custom">
            <h2 id="capabilities">
                Capabilities
                <span class="text-body-secondary">({{ resource.properties.capabilities|length }})</span>
            </h2>
        </summary>
        <ul class="list-group list-group-flush">
            {% for cap in resource.properties.capabilities %}
            <li class="list-group-item p-0">
                {% if forloop.counter == 1 %}
                {% with is_open=True %}
                {% include 'browse/detail/components/capability_details_component.html' %}
                {% endwith %}
                {% else %}
                {% with is_open=False %}
                {% include 'browse/detail/components/capability_details_component.html' %}
                {% endwith %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
</section>
{% endif %}