{% load project_tags %}
{% if 'dataLevel' in resource.json %}
<section class="responsive-resource-detail-section resource-detail-section">
    <h2>Data Levels</h2>
    <ul>
        {% for data_level in resource.json.dataLevel|wrap_in_list_if_dict %}
        <li>
            {% with value=data_level|get_key_value:'@xlink:href' %}
            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}