{% if resource.description and resource.description|cut:' ' != '' %}
<section class="resource-detail-section">
    <h2>{% block description_heading_text %}Description{% endblock description_heading_text %}</h2>
    <div class="resource-description-wrapper">
        {% for dp in resource_description_split %}
        <p class="resource-description">{{ dp|urlize }}</p>
        {% endfor %}
    </div>
    <button class="btn btn-light btn-expand-resource-description mt-3">Show more</button>
</section>
{% endif %}