{% if resource.properties.documentations %}
<section class="resource-detail-section">
    <h2>Documentation</h2>
    <ul class="d-flex flex-column list-group list-group-flush">
        {% for documentation in resource.properties.documentations %}
        <li class="list-group-item px-0 {% if forloop.first %}pb-3{% elif forloop.last %}pt-3{% else %}py-3{% endif %}">
            {% include 'browse/detail/components/documentation_section_content.html' %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}