{% if resource.properties.documentation %}
{% with documentation=resource.properties.documentation %}
<section class="resource-detail-section">
    <h2 class="mb-4">Documentation</h2>
    <div class="d-inline-flex flex-column row-gap-1 mb-4">
        <div>
            {% if documentation.online_resource %}
            <a href="{{ documentation.online_resource }}" class="link-underline-by-default">
                {% if documentation.title %}{{ documentation.title }}{% else %}<i>{{ documentation.online_resource }}</i>{% endif %}</a>
            {% else %}
            {% if documentation.title %}
            {{ documentation.title }}
            {% else %}
            <i class="text-body-secondary">Unnamed Documentation</i>
            {% endif %}
            {% endif %}
        </div>
        {% if documentation.date %}
        <small class="text-body-secondary">
            {% if documentation.date_type|cut:' '|lower == 'publicationdate' %}
            Published on {{ documentation.date|date }}
            {% else %}
            {{ documentation.date|date }} ({{ documentation.date_type }})
            {% endif %}
        </small>
        {% endif %}
    </div>
    {% if documentation.online_resource or documentation.identifier or documentation.other_documentation_details %}
    <details>
        <summary>
            More details
        </summary>
        <dl class="d-flex flex-column row-gap-4 pt-4">
            {% if documentation.online_resource %}
            <div>
                <dt>Link to Documentation</dt>
                <dd>
                    <a href="{{ documentation.online_resource }}" class="link-underline-by-default">
                        {{ documentation.online_resource }}</a>
                </dd>
            </div>
            {% endif %}
            {% if documentation.identifier %}
            <div>
                <dt>
                    {% if 'doi' in documentation.identifier|lower %}
                    DOI
                    {% else %}
                    Identifier
                    {% endif %}
                </dt>
                <dd>{{ documentation.identifier|urlize }}</dd>
            </div>
            {% endif %}
            {% if documentation.other_documentation_details %}
            <div>
                <dt>Full Citation</dt>
                <dd>{{ documentation.other_documentation_details }}</dd>
            </div>
            {% endif %}
        </dl>
    </details>
    {% endif %}
</section>
{% endwith %}
{% endif %}