{% if resource.properties.features_of_interest %}
<section class="resource-detail-section">
    <h2 id="features-of-interest">Features of Interest</h2>
    <div class="bg-body-tertiary rounded py-3 px-4">
        <ul class="list-group list-group-flush">
            {% for foi in resource.properties.features_of_interest %}
            <li class="list-group-item bg-body-tertiary px-0">
                {% with value=foi %}
                {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}