{% load project_tags %}
{% if resource.permission_urls %}
<section class="resource-detail-section">
    <h2>Permissions</h2>
    <ul class="list-group list-group-flush">
        {% for p in resource.permission_urls %}
        {% with value=p|get_key_value:'@xlink:href' %}
        <li class="list-group-item py-3 ps-0" data-metadata-server-url={{ value }}>
            <details name="details-permissions">
                <summary class="summary-marker-custom">
                    <h3 class="d-inline-block fs-5 fw-normal mb-0">
                        {% with url_extra_classes='ontology-server-url permission-ontology-server-url' %}
                        {% include 'browse/placeholders/server_urL_placeholder_no_link.html' %}
                        {% endwith %}
                    </h3>
                </summary>
                <p class="permission-definition mb-0">
                    <span class="placeholder-glow">
                        <span class="placeholder rounded bg-secondary col-7"></span>
                        <span class="placeholder rounded bg-secondary col-7"></span>
                        <span class="placeholder rounded bg-secondary col-7"></span>
                    </span>
                </p>
            </details>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</section>
{% endif %}