{% load project_tags %}
{% if resource.permission_urls %}
<section id="permissions-section" class="resource-detail-section">
    <h2 class="mb-0">Permissions</h2>
    <ul class="list-group list-group-flush">
        {% for p in resource.permission_urls %}
        {% with value=p|get_key_value:'@xlink:href' %}
        <li class="list-group-item p-0" data-metadata-server-url={{ value }}>
            <details id="permission_{{ value|server_url_id|lower }}" name="details-permissions">
                <summary class="summary-marker-custom summary-marker-custom-baseline summary-marker-custom-sm py-3">
                    <span class="d-inline-flex flex-column">
                        <span class="d-inline-block fw-semibold">
                            {% with url_extra_classes='ontology-server-url permission-ontology-server-url' %}
                            {% include 'browse/placeholders/server_url_placeholder_no_link.html' %}
                            {% endwith %}
                        </span>
                    </span>
                </summary>
                <p class="permission-definition">
                    <span class="placeholder-glow">
                        <span class="placeholder rounded bg-dark-subtle col-7"></span>
                        <span class="placeholder rounded bg-dark-subtle col-7"></span>
                        <span class="placeholder rounded bg-dark-subtle col-7"></span>
                    </span>
                </p>
            </details>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</section>
{% endif %}