{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<div class="col-lg-8">
    <p>
        Please select the institution you would like
        to act on behalf of for this login session.
    </p>
    <form action="{% url 'choose_perun_organisation_subgroup_for_session' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <select class="form-select" name="subgroup-name">
            {% for institution, subgroup in request.session.user_institution_subgroups.items %}
                <option
                    value="{{ institution }}:{{ subgroup }}"
                    {% if request.session.institution_for_login_session == institution %}
                    selected
                    {% endif %}
                >{{ institution }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% comment %} <section>
    <h2>Debugging</h2>
    <hr>
    <h3>request.META</h3>
    <p style="white-space: pre-wrap;">{{ request.META|pprint }}</p>
    <h3>Is logged in</h3>
    <p>{{ request.session.is_logged_in }}</p>
</section> {% endcomment %}
{% endblock content %}