{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ create_institution_url }}">Register a New Institution</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'list_joinable_perun_organisations' %}">Join an Existing Institution</a>
    </li>
</ul>
{% endblock content %}