{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item join_an_institution_breadcrumb_text join_an_institution_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<section class="col-xl-7 col-lg-9">
    <h1>{{ title }}</h1>
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <a href="{{ join_url_base }}{{ institution_id }}:admins" target="_blank">Join as an Admin</a>
        </li>
        <li class="list-group-item">
            <a href="{{ join_url_base }}{{ institution_id }}:members" target="_blank">Join as a Member</a>
        </li>
    </ul>
    <small class="d-flex align-items-center alert alert-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle flex-shrink-0 me-3" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
        </svg>
        <span>
            If your request to join this institution has been approved
            and you are still unable to access it, logging out and logging
            back in again may fix the problem. If this does not work, please
            <a href="{% url 'support' %}#support-heading" target="_blank" class="link-underline-by-default">
            let our support team know</a>.
        </span>
    </small>
</section>
{% endblock content %}
