{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<section>
    <h1>{{ title }}</h1>
    {% if org_list %}
    <ul class="list-group">
    {% for o in org_list %}
        <li class="list-group-item">
            <a href="{% url 'list_joinable_perun_organisation_subgroups' o %}">{{ o }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No institutions have been registered with the e-Science Centre.</p>
    {% endif %}
</section>
{% endblock content %}
