<div class="dropdown ms-auto">
    <button class="btn btn-transparent btn-sm btn-institution-member dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" alt="Options">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
        </svg>
    </button>
    <ul class="dropdown-menu">
        <li>
            <button class="dropdown-item" type="button">
                Copy Email Address
            </button>
        </li>
        <li>
            <a href="mailto:{{ member.email }}" class="dropdown-item">
                Send Email
            </a>
        </li>
    </ul>
</div>