{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
{% if request.session.user_institution_subgroups|length > 0 %}
<div class="col-lg-8">
    <p>
        Please select the institution you would like
        to act on behalf of for this login session.
    </p>
    <form action="{% url 'choose_perun_organisation_subgroup_for_session' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <select class="form-select" name="subgroup-name">
            {% for institution, subgroup in request.session.user_institution_subgroups.items %}
                <option value="{{ institution }}:{{ subgroup }}">{{ institution }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% else %}
<div class="col-lg-8">
    <p>
        An institution membership is required before any
        further actions can be performed in the e-Science
        Centre. Please use the links below to submit an
        application to register a new institution, or
        alternatively, join an existing institution.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://perun.egi.eu/egi/registrar/?vo=vo.esc.pithia.eu&group=organizationRequests" target="_blank">
                Create an Institution
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'list_joinable_perun_organisations' %}">
                <span>Join an Institution</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}
{% comment %} <section>
    <h2>Debugging</h2>
    <hr>
    <h3>request.META</h3>
    <p style="white-space: pre-wrap;">{{ request.META|pprint }}</p>
    <h3>Is logged in</h3>
    <p>{{ request.session.is_logged_in }}</p>
</section> {% endcomment %}
{% endblock content %}