{% load project_tags %}
<span class="metadata-server-url {{ url_class }} loading">
    <div class="placeholder-wrapper">
        <div class="placeholder-wave">
            {% if max_placeholder_width %}
            <span class="placeholder col-lg-12 bg-secondary"></span>
            {% else %}
            <span class="placeholder col-lg-{% random_int 1 3 %} col-md-{% random_int 6 7 %} col-{% random_int 8 10 %} bg-secondary"></span>
            {% endif %}
        </div>
    </div>
    {{ value.strip|urlize }}
</span>