<h2 class="fw-semibold fs-5 mb-3">In This Page</h2>
<ul class="list-unstyled bg-body-tertiary text-secondary-emphasis rounded browse-toc px-4 py-2 mb-0">
    {% for key, value in resources.items %}
    {% if value %}
    <li class="my-2">
        <div class="d-inline-flex justify-content-between column-gap-4 w-100">
            {% with section_name=key.split|join:'-'|lower %}
            <a href="#{{ section_name }}-heading" class="text-body link-plain-by-default">
                {{ key }}</a>
            {% endwith %}
            <span class="text-body-secondary ms-auto">{{ value|length }}</span>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>