<ul class="ps-3 mb-0">
    <li>
        <div class="fw-bold mb-2">
            Tickets are manually re-assigned to our support
            unit by the Ticket Process Managers (TPM) in GGUS.
            To ensure that we will receive a notification of
            your ticket, please:
        </div>
        <ul class="ps-4 ms-1">
            <li class="pb-2">
                Include a line in the ticket's description to request
                the re-assignment of the ticket to the <strong>PITHIA
                e-Science Centre</strong> support unit, which will help
                the TPM with re-assigning the ticket to us later.
            </li>
            <li class="pt-0">
                Set the ticket <span class="fw-medium">Group</span> to
                <strong>TPM</strong>.
            </li>
        </ul>
    </li>
    <li class="pt-3">
        If there is a problem with a metadata registration,
        please provide the name. If appropriate, also
        consider providing any error messages, screenshots
        or files that may be relevant.
    </li>
</ul>