<section id="operational-modes-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Operational Modes</h2>
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with custom_summary_text='Adding information on operational modes is optional. If you would like to add this, an ID, name and description must be provided for each operational mode specified.' %}
            {% include 'metadata_editor/components/conditional_required_field_info_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            <table id="table-operational-modes" class="table table-dynamic">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% include 'metadata_editor/components/instrument/operational_mode_row_content_template.html' %}
                    </tr>
                </tbody>
            </table>
            <button id="add-omrow-button" class="btn btn-light btn-light-togglable add-dtrow-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg> Add operational mode
            </button>
        </div>
    </div>
    {{ form.operational_modes_json }}
    {{ form.operational_modes_extra_json }}
</section>