{% extends 'update/file_upload_update.html' %}
{% load static %}
{% block page_specific_scripts %}
{{ resource_id|json_script:"resource-id" }}
<script src="{% static 'register/catalogue_data_subset_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'update/update_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block extra_content %}
{% include 'register/components/online_resource_files_section.html' %}
{% include 'register/components/doi_registration_form_section.html' %}
{% endblock extra_content %}