{% extends 'register/file_upload.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block page_specific_scripts %}
{{ resource_id|json_script:"resource-id" }}
<script src="{% static 'update/update_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block file_upload_limit_info_text %}
Only one update file can be submitted
at a time.
{% endblock file_upload_limit_info_text %}
{% block file_list %}
{% include 'register/components/file_validation_status_form_section.html' %}
{% endblock file_list %}
{% block submit_button_text %}
Update
{% endblock submit_button_text %}
{% block sidemenu %}{% endblock sidemenu %}