{% extends 'update/file_upload.html' %}
{% load static %}
{% block scripts %}
{{ validation_url|json_script:"validation-url" }}
{{ expected_root_element_name|json_script:"expected-root-element-name" }}
{{ inline_validation_url|json_script:"inline-validation-url" }}
{{ inline_xsd_validation_url|json_script:"inline-xsd-validation-url" }}
{{ support_url|json_script:"support-url" }}
{{ resource_id|json_script:"resource-id" }}
<script src="{% static 'validation/inline_instrument_update_validation.js' %}" type="module" defer></script>
<script src="{% static 'update/instrument_update_form.js' %}" type="module" defer></script>
{% endblock scripts %}