{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
{{ data_collection_id|json_script:"resource-id" }}
<script src="{% static 'validation/api_specification_validation.js' %}" type="module" defer></script>
<script src="{% static "update/update_interaction_methods.js" %}" type="module" defer></script>
{% endblock scripts %}
{% block content %}
<div class="d-flex flex-column row-gap-4">
    <h1>{{ title }}</h1>
    <div class="col-xl-7 col-lg-9">
        <div class="alert alert-light p-3">
            <small>
                <div class="d-flex align-items-center column-gap-3 pb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill flex-shrink-0" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                    </svg>
                    <div>
                        <span class="fw-semibold">Updating:</span> {{ data_collection.name|default:data_collection.identifier.PITHIA_Identifier.localID }}
                    </div>
                </div>
                <p class="mb-0">
                    Modify the interaction methods for
                    <b>
                        {{ data_collection.name|default:data_collection.pk }}
                    </b>
                    using the form below, then submit it to save your
                    changes.
                </p>
            </small>
        </div>
    </div>
    <div class="col-xl-7 col-lg-9">
        <form action="{% url 'update:data_collection_interaction_methods' data_collection_id %}" method="POST" id="interaction-methods-form">
            {% csrf_token %}
            {% include 'register/interaction_methods_form.html' %}
            <div class="d-flex flex-column align-items-md-start align-items-stretch">
                <button type="submit" class="btn btn-lg btn-outline-primary fw-semibold py-3 px-4 mt-3">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}