{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
{{ data_collection_id|json_script:"resource-id" }}
<script src="{% static 'api_specification_validation.js' %}" type="module" defer></script>
<script src="{% static "update/update_interaction_methods.js" %}" type="module" defer></script>
{% endblock scripts %}
{% block content %}
<hgroup>
    <h1 class="mb-0">{{ title }}</h1>
    <p class="text-secondary fs-3">
        {{ data_collection.name|default:data_collection.identifier.PITHIA_Identifier.localID }}
    </p>
</hgroup>
<div class="row mb-3">
    <div class="col-lg-8">
        <p>Select and fill out the interaction method details you would like to add for <b>{{ data_collection.name|default:data_collection.identifier.PITHIA_Identifier.localID }}</b> below, then click <b>Save</b> to save your changes.</p>
    </div>
</div>
<form action="{% url 'update:data_collection_interaction_methods' data_collection_id %}" method="POST" id="interaction-methods-form">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">{% include 'register/interaction_methods_form.html' %}</div>
    </div>
    <div class="d-flex flex-column align-items-xl-start align-items-lg-start">
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </div>
</form>
{% endblock content %}