{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
<script src="{% static 'update/update_workflow_openapi_specification_url.js' %}" type="module" defer></script>
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<hgroup>
    <h1>{{ title }}</h1>
    <p class="mb-0">{{ workflow.name }}</p>
</hgroup>
<form action="{% url 'update:workflow_openapi_specification_url' workflow.id %}" method="POST" id="workflow-openapi-spec-url-update-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-5">
                {{ form.api_specification_url.label_tag }}
                {{ form.api_specification_url }}
                <small class="text-secondary status-validating-link d-none mt-1">Checking link...</small>
                <div class="mt-1 api-specification-url-status-validation d-none">
                    <ul class="list-group list-group-flush list-group-horizontal mb-0">
                        <li class="list-group-item border border-0 status-invalid-link d-none p-0">
                            <div class="d-flex flex-column">
                                <small class="status-text text-danger">Invalid link</small>
                                <small class="text-secondary status-details d-none mt-1">Details: <span class="status-details"></span></small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-7">
                {{ form.api_description.label_tag }}
                {{ form.api_description }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5"><button type="submit" class="btn btn-lg btn-outline-primary py-3 px-4 mt-3">Update</button></div>
        </div>
    </div>
</form>
{% endblock content %}