{% extends 'register/file_upload.html' %}
{% load static %}
{% block page_specific_scripts %}
<script src="{% static 'register/catalogue_data_subset_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/register_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block file_upload_limit_info_text %}
Only one catalogue data subset can be
registered at a time.
{% endblock file_upload_limit_info_text %}
{% block extra_content %}
{% include 'register/components/doi_registration_form_section.html' %}
{% endblock extra_content %}