{% extends 'register/file_upload.html' %}
{% load static %}
{% block page_specific_scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/data_collection_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'validation/interaction_methods_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block file_upload_heading_text %}Select a Metadata File{% endblock file_upload_heading_text %}
{% block file_upload_limit_info_text %}
Only one data collection metadata file
can be registered at a time.
{% endblock file_upload_limit_info_text %}
{% block extra_content %}
<div class="border-top pt-4">
    <h2 class="fs-5 fw-semibold mb-2" style="text-wrap: balance;">Add Interaction Methods</h2>
    {% include 'register/components/interaction_method_choices_form_section.html' %}
</div>
{% endblock extra_content %}