{% extends 'register/file_upload.html' %}
{% load static %}
{% block page_specific_scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/data_collection_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'validation/interaction_methods_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block multiple_allowed %}{% endblock multiple_allowed %}
{% block file_list %}
{% include 'register/validation_template.html' %}
{% endblock file_list %}
{% block register_api_specification %}
<div class="form-group mt-0">
    <h2 class="border-bottom fs-4 mb-4">Add Interaction Methods for the Data Collection</h2>
    <div class="interaction-methods-form-container">
        {% include 'register/interaction_methods_form.html' %}
    </div>
</div>
{% endblock register_api_specification %}