{% extends 'register/file_upload.html' %}
{% load static %}
{% block page_specific_scripts %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
{{ source_file_list_item_template|json_script:'source-file-list-item-template' }}
<script src="{% static 'register/catalogue_data_subset_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/register_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block file_upload_heading_text %}Select a Metadata File{% endblock file_upload_heading_text %}
{% block file_upload_registration_section_content %}
{% with file_list_title='Validate Your Metadata File' %}
{% include 'register/components/file_validation_status_form_section.html' %}
{% endwith %}
{% endblock file_upload_registration_section_content %}
{% block extra_content %}
<div class="d-flex flex-column row-gap-3 file-upload-registration-section">
    <h2 class="fs-4 fw-semibold mb-0">Add Online Resource Files</h2>
    <div class="form-check form-switch">
        {{ form.is_file_uploaded_for_each_online_resource }}
        <label class="form-check-label" for="{{ form.is_file_uploaded_for_each_online_resource.id_for_label }}">
            {{ form.is_file_uploaded_for_each_online_resource.label }}
        </label>
    </div>
    <div class="d-flex flex-column row-gap-3 online-resource-files-list-wrapper">
        <div class="d-none d-flex align-items-center column-gap-3 alert alert-danger online-resource-similar-names-error mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
            </svg>
            <p class="mb-0">
                Some online resource names in the metadata file are
                too similar to one another. To enable file uploads
                for these online resources, please remove the
                similarities between the names highlighted below
                (in the metadata file).
            </p>
        </div>
        <ul class="list-group online-resource-files-list"></ul>
    </div>
</div>
{% include 'register/components/doi_registration_form_section.html' %}
{% endblock extra_content %}