{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Register' 'register:index' %}
{% breadcrumb_item_active breadcrumb_item_active_text %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
{{ validation_url|json_script:"validation-url" }}
<script src="{% static "register/register.js" %}" id="register-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row pb-4">
    <div class="col-xl-9 col-lg-8">
        <h1>
            {{ title }}
        </h1>
    </div>
</div>
<div class="row gy-3">
    <div class="col-xl-9 col-lg-8">
        <h2 class="mb-3">XML File Upload</h2>
        <div class="row gy-4">
            <div class="col-lg-8 col-12">
                {% if messages %}
                <div class="registration-alerts">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="{{ post_url }}" method="post" enctype="multipart/form-data" id="upload-form">
                    {% csrf_token %}
                    <div class="row gy-3 align-items-lg-end align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            {% if form.file.errors %}
                                <ul>
                                {% for error in form.file.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.file.label_tag }}
                            {{ form.file }}
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-10 col-12">
                <div>XML Validation Status:</div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="file-validation-status-container">
                            The status will be updated upon selecting a file for upload.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-body">
                <b class="text-secondary">Register other resources:</b>
                <ul class="mt-3 mb-0">
                    <li><a href="{% url 'register:organisation' %}" class="pithia-blue">Organisation</a></li>
                    <li><a href="{% url 'register:individual' %}" class="pithia-blue">Individual</a></li>
                    <li><a href="{% url 'register:project' %}" class="pithia-blue">Project</a></li>
                    <li><a href="{% url 'register:platform' %}" class="pithia-blue">Platform</a></li>
                    <li><a href="{% url 'register:operation' %}" class="pithia-blue">Operation</a></li>
                    <li><a href="{% url 'register:instrument' %}" class="pithia-blue">Instrument</a></li>
                    <li><a href="{% url 'register:acquisition' %}" class="pithia-blue">Acquisition</a></li>
                    <li><a href="{% url 'register:computation' %}" class="pithia-blue">Computation</a></li>
                    <li><a href="{% url 'register:process' %}" class="pithia-blue">Process</a></li>
                    <li><a href="{% url 'register:data_collection' %}" class="pithia-blue">Model or Measurement</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}