{% extends 'register/file_upload.html' %}
{% load static %}
{% block page_specific_scripts %}
{{ source_file_list_item_template|json_script:'source-file-list-item-template' }}
<script src="{% static 'register/catalogue_data_subset_register_form.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/register_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% block file_upload_heading_text %}Select a Metadata File{% endblock file_upload_heading_text %}
{% block file_upload_registration_section_content %}
{% with file_list_title='Validate Your Metadata File' %}
{% include 'register/components/file_validation_status_form_section.html' %}
{% endwith %}
{% endblock file_upload_registration_section_content %}
{% block extra_content %}
<div class="d-flex flex-column row-gap-3 file-upload-registration-section">
    <h2 class="fs-4 fw-semibold mb-0">Add Online Resource Files</h2>
    <div class="form-check form-switch">
        {{ form.is_file_uploaded_for_each_online_resource }}
        <label class="form-check-label" for="{{ form.is_file_uploaded_for_each_online_resource.id_for_label }}">
            {{ form.is_file_uploaded_for_each_online_resource.label }}
        </label>
    </div>
    <ul class="list-group online-resource-files-list"></ul>
</div>
{% include 'register/components/doi_registration_form_section.html' %}
{% endblock extra_content %}