{% extends 'register/file_upload.html' %}
{% load static %}
{% load project_tags %}
{% block page_specific_scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/workflow_register_form.js' %}?{% now 'U' %}" type="module"></script>
{% endblock page_specific_scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block file_upload_heading_text %}Select a Metadata File{% endblock file_upload_heading_text %}
{% block file_upload_limit_info_text %}
Only one workflow metadata file can be
registered at a time.
{% endblock file_upload_limit_info_text %}
{% block pre_file_upload_extra_content %}
<div class="bg-light rounded p-4">
    <p class="fw-semibold">{{ form.details_file_storage_method.label }}</p>
    <p class="form-text">
        If you are not able to provide one, you can upload your workflow
        details file here and we will automatically generate a link for
        it and add it to your metadata file. Workflow details files must
        be in PDF format.
    </p>
    <div class="d-flex flex-column">
        {% for radio in form.details_file_storage_method %}
        <div class="form-check">
            {{ radio.tag }}
            <label for="{{ radio.id_for_label }}" class="form-check-label">
                {{ radio.choice_label }}
            </label>
        </div>
        {% endfor %}
        <div id="details_file_upload_section" class="d-none pt-3">
            <div>
                <label for="{{ form.details_file.id_for_label }}">
                    {{ form.details_file.label }}
                </label>
                {{ form.details_file }}
                <div class="form-text">{{ form.details_file.help_text }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock pre_file_upload_extra_content %}
{% block extra_content %}
<div>
    <h2 class="fs-4 mb-2">Link a Workflow OpenAPI Specification</h2>
    <div class="d-flex flex-column row-gap-4 bg-light rounded p-4">
        <div class="d-flex flex-column mt-2">
            {{ form.api_specification_url.label_tag }}
            {{ form.api_specification_url }}
            {% include 'register/components/open_api_specification_url_validation_subsection.html' %}
            {% if form.api_specification_url.errors %}
            <ul class="list-unstyled form-text text-danger mb-0">
                {% for error in form.api_specification_url.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.api_description.label_tag }}
            {{ form.api_description }}
            <div class="form-text">{{ form.api_description.help_text }}</div>
            {% if form.api_description.errors %}
            <ul class="list-unstyled form-text text-danger mb-0">
                {% for error in form.api_description.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock extra_content %}