{% extends 'register/file_upload.html' %}
{% load static %}
{% load project_tags %}
{% block page_specific_scripts %}
{{ api_specification_validation_url|json_script:'api-specification-validation-url' }}
<script src="{% static 'validation/inline_registration_validation.js' %}?{% now 'U' %}" type="module" defer></script>
<script src="{% static 'register/workflow_register_form.js' %}?{% now 'U' %}" type="module"></script>
{% endblock page_specific_scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block file_upload_heading_text %}Select a Metadata File{% endblock file_upload_heading_text %}
{% block file_upload_limit_info_text %}
Only one workflow metadata file can be
registered at a time.
{% endblock file_upload_limit_info_text %}
{% block extra_file_options %}
<div>
    <div class="form-check">
        {{ form.is_details_file_upload_needed }}
        <label for="{{ form.is_details_file_upload_needed.id_for_label }}" class="mb-0" style="font-size: 0.875rem;">
            {{ form.is_details_file_upload_needed.label }}
        </label>
    </div>
    {% if form.is_details_file_upload_needed.help_text %}
    <div class="form-text">{{ form.is_details_file_upload_needed.help_text }}</div>
    {% endif %}
</div>
<div id="{{ form.details_file.name }}_section" class="d-inline-flex d-none flex-column align-items-md-start align-items-stretch row-gap-4 bg-light rounded py-3 px-4">
    <div>
        {{ form.details_file.label_tag }}
        {{ form.details_file }}
        <div class="form-text">{{ form.details_file.help_text }}</div>
    </div>
</div>
{% endblock extra_file_options %}
{% block extra_content %}
<div>
    <h2 class="fs-4 mb-2">Link a Workflow OpenAPI Specification</h2>
    <div class="d-flex flex-column row-gap-4 bg-light rounded p-4">
        <div class="d-flex flex-column mt-2">
            {{ form.api_specification_url.label_tag }}
            {{ form.api_specification_url }}
            {% include 'register/components/open_api_specification_url_validation_subsection.html' %}
            {% if form.api_specification_url.errors %}
            <ul class="list-unstyled form-text text-danger mb-0">
                {% for error in form.api_specification_url.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.api_description.label_tag }}
            {{ form.api_description }}
            <div class="form-text">{{ form.api_description.help_text }}</div>
            {% if form.api_description.errors %}
            <ul class="list-unstyled form-text text-danger mb-0">
                {% for error in form.api_description.errors %}
                <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock extra_content %}