{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
{{ expected_root_element_name|json_script:"expected-root-element-name" }}
{{ inline_validation_url|json_script:"inline-validation-url" }}
{{ inline_xsd_validation_url|json_script:"inline-xsd-validation-url" }}
{{ support_url|json_script:"support-url" }}
{% block validation_setup_script %}
<script src="{% static 'validation/setup/inline_registration_validation_default_setup.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock validation_setup_script %}
{% block page_specific_scripts %}
<script src="{% static 'register/register_form.js' %}?{% now 'U' %}" type="module" defer></script>
{% endblock page_specific_scripts %}
{% endblock scripts %}
{% block content %}
<div class="row flex-md-row flex-column align-items-baseline justify-content-between gx-md-5 gy-5">
    <div class="col-xl-7 col-lg-8">
        <div class="d-flex flex-column row-gap-3">
            <h1 class="mb-0">{{ title }}</h1>
            {% block post_main_heading_content %}
            {% endblock post_main_heading_content %}
            <div>
                <span class="required-marker">*</span>
                <small>indicates a required field</small>
            </div>
        </div>
        <form id="file-upload-form" action="{{ post_url }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% block pre_file_upload_extra_content %}{% endblock pre_file_upload_extra_content %}
            <div class="file-upload-registration-section">
                <div class="d-flex flex-column row-gap-4">
                    <h2 class="fs-4 fw-semibold pb-0 mb-0">
                        {% block file_upload_heading_text %}
                        Select a Metadata File/Files
                        {% endblock file_upload_heading_text %}
                    </h2>
                    <div>
                        {{ form.files.label_tag }}
                        {% if form.files.errors %}
                        <ul>
                            {% for error in form.files.errors %}
                            <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ form.files }}
                        <div class="form-text">
                            Only XML files allowed
                        </div>
                    </div>
                </div>
            </div>
            <div class="file-upload-registration-section">
                {% block file_upload_registration_section_content %}
                {% with file_list_title='Validate Your Metadata File/Files' %}
                {% include 'register/components/file_validation_status_form_section.html' %}
                {% endwith %}
                {% endblock file_upload_registration_section_content %}
            </div>
            {% block extra_content %}{% endblock extra_content %}
            <div class="d-flex flex-column align-items-md-start align-items-stretch">
                <button type="submit" class="btn btn-lg btn-primary fw-semibold py-3 px-4" disabled>
                    {% block submit_button_text %}
                    Register
                    {% endblock submit_button_text %}
                </button>
            </div>
        </form>
    </div>
    {% block sidemenu %}
    <div class="col-lg-3">
        <aside class="sidemenu">
            <h2 class="fs-5">File Registration Shortcuts</h2>
            <section>
                <h2 class="fw-semibold fs-6 border-bottom pb-2 mb-2">{{ data_collection_related_index_page_title }}</h2>
                <nav>
                    <ul class="list-unstyled ps-0">
                        <li><a href="{% url 'register:organisation' %}" class="pithia-blue">Organisations</a></li>
                        <li><a href="{% url 'register:individual' %}" class="pithia-blue">Individuals</a></li>
                        <li><a href="{% url 'register:project' %}" class="pithia-blue">Projects</a></li>
                        <li><a href="{% url 'register:platform' %}" class="pithia-blue">Platforms</a></li>
                        <li><a href="{% url 'register:operation' %}" class="pithia-blue">Operations</a></li>
                        <li><a href="{% url 'register:instrument' %}" class="pithia-blue">Instruments</a></li>
                        <li><a href="{% url 'register:acquisition_capability_set' %}" class="pithia-blue">Acquisition Capabilities</a></li>
                        <li><a href="{% url 'register:acquisition' %}" class="pithia-blue">Acquisitions</a></li>
                        <li><a href="{% url 'register:computation_capability_set' %}" class="pithia-blue">Computation Capabilities</a></li>
                        <li><a href="{% url 'register:computation' %}" class="pithia-blue">Computations</a></li>
                        <li><a href="{% url 'register:process' %}" class="pithia-blue">Processes</a></li>
                        <li><a href="{% url 'register:data_collection' %}" class="pithia-blue">Data Collections</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h2 class="fw-semibold fs-6 border-bottom pb-2 mb-2">Static Dataset-related Metadata</h2>
                <nav>
                    <ul class="list-unstyled ps-0">
                        <li><a href="{% url 'register:catalogue' %}" class="pithia-blue">Static Datasets</a></li>
                        <li><a href="{% url 'register:static_dataset_entry' %}" class="pithia-blue">Static Dataset Entries</a></li>
                        <li><a href="{% url 'register:data_subset' %}" class="pithia-blue">Data Subsets</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h2 class="fw-semibold fs-6 border-bottom pb-2 mb-2">Workflows</h2>
                <nav>
                    <ul class="list-unstyled ps-0">
                        <li><a href="{% url 'register:workflow' %}" class="pithia-blue">Workflows</a></li>
                    </ul>
                </nav>
            </section>
        </aside>
    </div>
    {% endblock sidemenu %}
</div>
{% endblock content %}