{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Register' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script src="{% static "register/register.js" %}" id="register-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row pb-4">
    <div class="col-lg-8">
        <h1>Metadata Registration</h1>
    </div>
</div>
<p class="lead">
    Select the metadata you would like to register from the list below.
</p>
<div class="row">
    <ol class="list-group">
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'organisation' %}">Organisation</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'individual' %}">Individual</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'project' %}">Project</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'platform' %}">Platform</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'operation' %}">Operation</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'instrument' %}">Instrument</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'acquisition' %}">Acquisition</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'computation' %}">Computation</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'process' %}">Process</a></li>
        <li class="list-group-item"><a href="{% url 'register:metadata_upload' 'model-or-measurement' %}">Model or Measurement</a></li>
    </ol>
</div>
{% endblock content %}