{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.4/build/css/intlTelInput.css">
{% endblock styles %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.4/build/js/intlTelInput.min.js"></script>
<script src="{% static 'register/no_file_register_form.js' %}" defer></script>
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<form action="{{ success_url }}" method="POST">
    {% csrf_token %}
    <section>
        <div class="row gy-3 mb-3">
            <div class="col-lg-12">
                <h2>Name</h2>
            </div>
            <div class="col-lg-5">
                <label for="{{ form.name.id_for_label }}" class="mb-2">Long Name</label>
                {{ form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {{ form.short_name.label_tag }}
                {{ form.short_name }}
            </div>
        </div>
    </section>
    <hr class="my-5">
    {% include 'register/metadata_form_templates/identifier.html' %}
    <hr class="my-5">
    {% include 'register/metadata_form_templates/description.html' %}
    <hr class="my-5">
    {% include 'register/metadata_form_templates/contact_info.html' %}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock content %}