{% extends 'utils/resource_as_xml_base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block main_heading %}
<hgroup class="d-flex flex-column-reverse row-gap-1">
    <h1
        class="fs-6 fw-normal line-clamp line-clamp-2 text-body text-break mb-0"
        >{{ resource_name }}</h1>
    <p class="fs-sm-1 line-clamp line-clamp-2 text-body-secondary mb-0">
        {% if request.session.institution_for_login_session %}
        {{ request.session.institution_for_login_session }}
        {% else %}
        Unknown Institution
        {% endif %}
    </p>
</hgroup>
{% endblock main_heading %}