{% extends 'register_with_support/components/base_editor.html' %}
{% block form_content %}
<section id="name-and-organisation-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2>Name and Organisation</h2>
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.organisation %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'register_with_support/components/identifier.html' %}
<hr class="my-5">
{% include 'register_with_support/components/description.html' %}
<hr class="my-5">
{% include 'register_with_support/components/data_levels.html' %}
<hr class="my-5">
{% include 'register_with_support/components/quality_assessments.html' %}
<hr class="my-5">
{% include 'register_with_support/components/capabilities.html' %}
<hr class="my-5">
{% include 'register_with_support/components/related_parties.html' %}
<hr class="my-5">
{% include 'register_with_support/components/citation.html' %}
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-and-organisation-section">
        Name and Organisation
    </a>
</li>
<li class="list-group-item">
    <a href="#identifier-section">
        Identifier
    </a>
</li>
<li class="list-group-item">
    <a href="#description-section">
        Description
    </a>
</li>
<li class="list-group-item">
    <a href="#data-levels-section">
        Data Levels
    </a>
</li>
<li class="list-group-item">
    <a href="#quality-assessments-section">
        Quality Asssessments
    </a>
</li>
<li class="list-group-item">
    <a href="#related-parties-section">
        Related Parties
    </a>
</li>
<li class="list-group-item">
    <a href="#citation-section">
        Documentation
    </a>
</li>
{% endblock table_of_contents %}