{% extends 'register_with_support/components/base_editor.html' %}
{% load static %}
{% block form_content %}
{% include 'register_with_support/components/name_and_organisation_section.html' %}
<hr class="my-5">
<section id="description-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">
                Description and Other Details
            </h2>
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.description %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.types %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.projects %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.sub_collections %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.features_of_interest %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.permissions %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-7 col-lg-8">
            {% with field=form.procedure %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'register_with_support/components/data_levels.html' %}
<hr class="my-5">
{% include 'register_with_support/components/quality_assessment.html' %}
<hr class="my-5">
{% include 'register_with_support/components/related_parties.html' %}
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-and-organisation-section">
        Full Name and Organisation
    </a>
</li>
<li class="list-group-item">
    <a href="#description-section">
        Description and Other Details
    </a>
</li>
<li class="list-group-item">
    <a href="#data-levels-section">
        Data Levels
    </a>
</li>
<li class="list-group-item">
    <a href="#quality-assessments-section">
        Quality Assessment
    </a>
</li>
<li class="list-group-item">
    <a href="#related-parties-section">
        Related Parties
    </a>
</li>
{% endblock table_of_contents %}