{% extends 'register_with_support/components/base_editor.html' %}
{% load static %}
{% block extra_scripts %}
<script src="{% static 'register_with_support/project_editor.js' %}" type="module" defer></script>
{{ keywords_row_content_template|json_script:'keywords-row-content-template'}}
{{ related_parties_row_content_template|json_script:'related-parties-row-content-template'}}
{% endblock extra_scripts %}
{% block form_content %}
<section id="name-section">
    <div class="row flex-column gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">Name and Organisation</h2>
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-3 col-lg-4">
            {% with field=form.short_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.organisation %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>
<hr class="my-5">
<section id="website-and-description-section">
    <div class="row flex-column gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">Website and Description</h2>
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.url %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.abstract %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.description %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'register_with_support/components/identifier.html' %}
<hr class="my-5">
{% include 'register_with_support/components/project/citation.html' %}
<hr class="my-5">
{% include 'register_with_support/components/project/keywords.html' %}
<hr class="my-5">
{% include 'register_with_support/components/related_parties.html' %}
<hr class="my-5">
<section id="status-section">
    <div class="row gy-3">
        <h2>{{ form.status.label_tag }}</h2>
        <div class="col-xl-7 col-lg-8">
            {{ form.status }}
            {% for error in form.status.errors %}
            <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-section">Name and Organisation</a>
</li>
<li class="list-group-item">
    <a href="#identifier-section">Identifier</a>
</li>
<li class="list-group-item">
    <a href="#project-website-section">Link to Project Website</a>
</li>
<li class="list-group-item">
    <a href="#description-section">Description</a>
</li>
<li class="list-group-item">
    <a href="#abstract-section">Abstract</a>
</li>
<li class="list-group-item">
    <a href="#citation-section">Citation Details</a>
</li>
<li class="list-group-item">
    <a href="#keywords-section">Keywords</a>
</li>
<li class="list-group-item">
    <a href="#related-parties-section">Related Parties</a>
</li>
<li class="list-group-item">
    <a href="#status-section">Status</a>
</li>
{% endblock table_of_contents %}