{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<p class="lead">
    Ontology categories can be further expanded in the list below.
</p>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'component' %}">Component</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'compressedRepresentation' %}">Compressed Representation</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'computationType' %}">Computation Type</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'crs' %}">Co-ordinate Reference System</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'dataLevel' %}">Data Level</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'dataQualityFlag' %}">Data Quality Flag</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'dimensionalityInstance' %}">Dimensionality Instance</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'dimensionalityTimeline' %}">Dimensionality Timeline</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'featureOfInterest' %}">Feature of Interest</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'instrumentType' %}">Instrument Type</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'interaction' %}">Interaction</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'licence' %}">Licence</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'measurand' %}">Measurand</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'metadataQualityFlag' %}">Metadata Quality Flag</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'observedProperty' %}">Observed Property</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'phenomenon' %}">Phenomenon</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'platformType' %}">Platform Type</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'projection' %}">Projection</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'propagationMode' %}">Propagation Mode</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'qualifier' %}">Qualifier</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'relatedObservationRole' %}">Related Observation Role</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'relatedPartyRole' %}">Related Party Role</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'resultAccumulation' %}">Result Accumulation</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'resultDataFormat' %}">Result Data Format</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'serviceFunction' %}">Service Function</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'status' %}">Status</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'unit' %}">Unit</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'ontology:ontology_category_terms_list' 'verticalCrs' %}">Vertical Co-ordinate Reference System</a>
    </li>
</ul>
{% endblock content %}