{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item ontology_index_page_breadcrumb_text 'ontology:index' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
{{ category|json_script:"category" }}
<script type="module" src="{% static "ontology/ontology.js" %}" id="ontology-script" defer></script>
<script src="{% static 'utils/expandable_text_block.js' %}" type="module"></script>
{% endblock scripts %}
{% block content %}
<h1 class="mb-3">{{ title }}</h1>
{% if category_description %}
<div class="col-lg-7 mb-5">
    {% with description_urlized=category_description|urlize %}
    {% with text_block_paragraphs=description_urlized|wrap_in_list_if_dict text_block_id='ontology-category-description' expand_btn_type='sm btn-link' expand_btn_top_margin='mt-1' expand_btn_text='Show more...' %}
    {% include 'utils/expandable_text_block.html' %}
    {% endwith %}
    {% endwith %}
</div>
{% endif %}
<div class="col-lg-12">
    {% with category=category %}
    {% include "ontology/ontology_tree_container_template.html" %}
    {% endwith %}
</div>
{% endblock content %}