<div class="tree-search-container" id="{{ category }}-tree-search-container">
    <div class="row">
        <div class="col-lg-4">
            <label for="{{ category }}-tree-search-box" class="text-muted mb-1">Keyword Search</label>
            <input type="text" class="tree-search-box form-control mb-4" id="{{ category }}-tree-search-box" placeholder="Start typing to filter terms...">
        </div>
    </div>
    <div class="tree-search-terms" id="{{ category }}-tree-search-terms"></div>
</div>