<div id="{{ node.id }}"
    class="d-inline-flex flex-column align-items-start {% if parent_node_in_ontology %}ontology-term-with-parent{% endif %} my-3"
    data-is-parent-node="{{ is_parent_node|default_if_none:"false" }}"
    data-parent-node-in-ontology="{{ parent_node_in_ontology|default_if_none:"" }}">
    <div class="d-flex align-items-start flex-wrap mb-xl-0 mb-2">
        <span class="fw-bold keyword-searchable me-2">
            {{ node.prefLabel|default:node.value }} {% if node.altLabel %}({{ node.altLabel }}){% endif %}
        </span>
        {% if node.value in registered_ontology_terms and node.value in parents_of_registered_ontology_terms %}
        <small class="border rounded-3 bg-body-secondary px-1 me-3">
            registered
        </small>
        {% endif %}
        {% if node.prefLabel %}
        <a href="{% url 'ontology:ontology_term_detail' category node.value %}" class="d-flex align-items-center">
            View
        </a>
        {% else %}
        <small class="text-muted fst-italic">(This ontology term may be invalid.)</small>
        {% endif %}
    </div>
    {% if node.definition %}
    <div class="ontology-term-description text-secondary mb-3">
        {% autoescape off %}
        {{ node.definition|default:'' }}
        {% endautoescape %}
    </div>
    {% endif %}
    {% if node.prefLabel %}
    <small class="text-muted text-break">
        Ontology IRI: <a href="{{ node.iri|default:'#' }}" target="_blank" rel="noopener noreferrer">{{ node.iri|default:'' }}</a>
    </small>
    {% endif %}
</div>