{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item ontology_index_page_breadcrumb_text 'ontology:index' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
{{ category|json_script:"category" }}
<script type="module" src="{% static "ontology/ontology.js" %}" id="ontology-script" defer></script>
{% endblock scripts %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<div class="col-lg-12">
    {% with category=category %}
    {% include "ontology/ontology_tree_container_template.html" %}
    {% endwith %}
</div>
{% endblock content %}