{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Search' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script type="module" src="{% static "search/typesearch.js" %}" id="typesearch-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row gy-3 mb-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div id="search-form-progress">
            <div id="search-form-progress-bar"></div>
            <ul id="search-form-progress-num">
                <li class="step">1</li>
                <li class="step active">2</li>
                <li class="step">3</li>
            </ul>
        </div>
        <div class="d-flex justify-content-between">
            <small>Features of Interest</small>
            <small class="text-center">Computation Types and/or Instrument Types</small>
            <small class="text-end">Observed Properties</small>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<h1>Data Collection Search</h1>
<h2><span class="text-muted">Step 2:</span> Computation Type and Instrument Type Selection</h2>
<form action="{% url 'search:index' %}" method="POST" id="search-form">
    {% csrf_token %}
    <div class="row gy-4">
        <div class="col-lg-6">
            <fieldset class="option-row">
                <legend>
                    <h3 class="text-muted">Computation Types</h3>
                </legend>
                <div class="observed-properties-tree-search-container-wrapper">
                    {% with ontology_component="computation-types" %}
                    {% include "search/ontology_tree_container_template.html" %}
                    {% endwith %}
                </div>
            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="option-row">
                <legend>
                    <h3 class="text-muted">Instrument Types</h3>
                </legend>
                <div class="observed-properties-tree-search-container-wrapper">
                    {% with ontology_component="instrument-types" %}
                    {% include "search/ontology_tree_container_template.html" %}
                    {% endwith %}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="d-flex flex-column align-items-lg-end my-3">
        <button class="btn btn-light btn-clear" type="button">Clear Input Selection</button>
    </div>
    <div class="row gy-3 flex-wrap-reverse mt-3">
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-lg-start">
                <a href="{% url 'search:foi_selection' %}" class="btn btn-light" role="button">Back</a>
                <small class="text-muted text-lg-start text-center">Features of Interest</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-lg-end">
                <a href="{% url 'search:op_selection' %}" class="btn btn-primary" role="button">Go to Next Step</a>
                <small class="text-muted text-lg-end text-center">Observed Properties</small>
            </div>
        </div>
    </div>
</form>
{% endblock content %}