{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Search' 'search:index' %}
{% breadcrumb_item_active 'Step 2: Computation Type and/or Instrument Selection' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script type="module" src="{% static "search/typesearch.js" %}" id="typesearch-script" defer></script>
{% endblock scripts %}
{% block content %}
<h1>Data Collection Search</h1>
<h2><span class="text-muted">Step 2:</span> Computation Type and Instrument Type Selection</h2>
<form action="{% url 'search:comp_and_instr_type_selection' %}" method="POST" id="search-form">
    {% csrf_token %}
    {% include 'search/comp_type_and_instr_type_form_section.html' %}
    <div class="row gy-3 flex-wrap-reverse mt-5">
        <div class="col-lg-3">
            <div class="d-flex flex-column align-items-lg-start">
                <a href="{% url 'search:foi_selection' %}" class="btn btn-light" role="button">Back</a>
                <small class="text-muted text-lg-start text-center">Features of Interest</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="search-form-progress" class="noselect">
                <div id="search-form-progress-bar"></div>
                <ul id="search-form-progress-num">
                    <li class="step">1</li>
                    <li class="step active">2</li>
                    <li class="step">3</li>
                </ul>
            </div>
            <div class="d-flex justify-content-between">
                <small>Features of Interest</small>
                <small class="text-center">Computation Types and/or Instrument Types</small>
                <small class="text-end text-muted">Observed Properties</small>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex flex-column align-items-lg-end">
                <button type="submit" class="btn btn-primary">Go to Next Step</button>
                <small class="text-muted text-lg-end text-center">Observed Properties</small>
            </div>
        </div>
    </div>
</form>
{% endblock content %}