<div class="row">
    <div class="col-lg-12">
        <fieldset class="option-row">
            <legend>
                <h3 class="fs-5 text-muted mb-0">Features of Interest</h3>
            </legend>
            <div class="observed-properties-tree-search-container-wrapper">
                {% with ontology_component="features-of-interest" %}
                {% include "search/ontology_tree_container_template.html" %}
                {% endwith %}
            </div>
        </fieldset>
    </div>
</div>