{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Search' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script type="module" src="{% static "search/foisearch.js" %}" id="foisearch-script" defer></script>
<script type="module" src="{% static "search/typesearch.js" %}" id="typesearch-script" defer></script>
<script type="module" src="{% static "search/opsearch.js" %}" id="opsearch-script" defer></script>
{% endblock scripts %}
{% block content %}
<h1>Data Collection Search</h1>
<form action="{% url 'search:index' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-8">
            <p>
                Fill out the search parameters accordion below, then press "Search".
            </p>
            <p>
                Terms associated with resources registered with the e-Science Centre will have a working checkbox input next to black text.
    
                Parent terms containing child terms will have disabled checkboxes next to greyed out text.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    <h2 class="mt-4 fs-5">Search Parameters Configuration</h2>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Features of Interest
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% include 'search/foi_form_section.html' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Computation Types & Instrument Types
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% include 'search/comp_type_and_instr_type_form_section.html' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Observed Properties
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% include 'search/op_form_section.html' %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
