{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <h1 class="py-5">Search</h1>
        <div class="col">
            <fieldset>
                <legend>
                    <h2>Phenomenon</h2>
                </legend>
                <ul class="tree">
                    {% for key, value in phenomenons.items %}
                        {% with node=value ontology_component=phenomenons ontology_component_name="phenomenons" list_level=1 %}
                        {% include "search/ontology_tree_template.html" %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    <h2>Measurand</h2>
                </legend>
                <ul class="tree">
                    {% for key, value in measurands.items %}
                        {% with node=value ontology_component=measurands ontology_component_name="measurands" list_level=1 %}
                        {% include "search/ontology_tree_template.html" %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    <h2>Qualifier</h2>
                </legend>
                <ul class="tree">
                    {% for key, value in qualifiers.items %}
                        {% with node=value ontology_component=qualifiers ontology_component_name="qualifiers" list_level=1 %}
                        {% include "search/ontology_tree_template.html" %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>
                    <h2>Observed Properties</h2>
                </legend>
                <ul class="tree">
                {% for key, value in observed_properties.items %}
                    {% with node=value ontology_component=observed_properties ontology_component_name="observed_properties" list_level=1 %}
                    {% include "search/ontology_tree_template.html" %}
                    {% endwith %}
                {% endfor %}
                </ul>
            </fieldset>
        </div>
    </div>
    <button type="submit" class="btn btn-primary float-right">Search</button>
</form>
{% endblock content %}