{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Search' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script src="{% static "search/search.js" %}" id="search-script" defer></script>
{% endblock scripts %}
{% block content %}
<form action="{% url 'search:index' %}" method="POST" id="search-form">
    {% csrf_token %}
    <div class="row">
        <div class="col-auto">
            <h1>Search by Observed Properties</h1>
        </div>
        <div class="col-auto ms-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        <p>You can filter the number of Observed Properties to choose from by using the Filter By function.</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="py-3">Filter by</h2>
            <div class="accordion" id="accordion-filters">
                <fieldset class="accordion-item">
                    <legend class="accordion-header" id="heading-one">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                            Phenomenon
                        </button>
                    </legend>
                    <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="heading-one"
                        data-bs-parent="#accordion-filters">
                        <div class="accordion-body">
                            <div class="tree-search-container">
                                <input type="text" class="tree-search-box form-control form-control-sm" id="phenomenons-tree-search-box" placeholder="Start typing to select options...">
                                <div class="tree-search-terms" id="phenomenons-tree-search-terms">
                                    <div class="spinner-grow-container">
                                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="accordion-item">
                    <legend class="accordion-header" id="heading-two">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                            Measurand
                        </button>
                    </legend>
                    <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two"
                        data-bs-parent="#accordion-filters">
                        <div class="accordion-body">
                            <div class="tree-search-container">
                                <input type="text" class="tree-search-box form-control form-control-sm" id="measurands-tree-search-box" placeholder="Start typing to select options...">
                                <div class="tree-search-terms" id="measurands-tree-search-terms">
                                    <div class="spinner-grow-container">
                                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="accordion-item">
                    <legend class="accordion-header" id="heading-three">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                            Qualifier
                        </button>
                    </legend>
                    <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three"
                        data-bs-parent="#accordion-filters">
                        <div class="accordion-body">
                            <div class="tree-search-container">
                                <input type="text" class="tree-search-box form-control form-control-sm" id="qualifiers-tree-search-box" placeholder="Start typing to select options...">
                                <div class="tree-search-terms" id="qualifiers-tree-search-terms">
                                    <div class="spinner-grow-container">
                                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-6">
            <fieldset class="option-row">
                <legend class="mb-0">
                    <h2 class="py-3">Observed Properties</h2>
                </legend>
                <div class="observed-properties-tree-search-container-wrapper">
                    <div class="tree-search-container">
                        <input type="text" class="tree-search-box form-control form-control-sm" id="observed-properties-tree-search-box" placeholder="Start typing to select options...">
                        <div class="tree-search-terms" id="observed-properties-tree-search-terms">
                            <div class="spinner-grow-container">
                                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
{% endblock content %}