{% if node.prefLabel %}
<div class="form-check d-inline-block"
    {% if node.value not in registered_ontology_terms %}
    style="padding-left: 0;"
    {% endif %}>
    <input type="checkbox" id="{{ node.id }}" name="{{ ontology_component_name }}" value="{{ node.value }}"
        data-is-parent-node="{{ is_parent_node|default_if_none:"false" }}"
        data-parent-node-in-ontology="{{ parent_node_in_ontology|default_if_none:"" }}"
        {% if node.phenomenon %}data-phenomenons="{{ node.phenomenon|join:" " }}"{% endif %}
        {% if node.measurand %}data-measurands="{{ node.measurand|join:" " }}"{% endif %}
        {% if node.featureOfInterest %}data-features-of-interest="{{ node.featureOfInterest|join:" " }}"{% endif %}
        {% if node.instrumentType %}data-instrument-types="{{ node.instrumentType|join:" " }}"{% endif %}
        {% if node.computationType %}data-computation-types="{{ node.computationType|join:" " }}"{% endif %}
        {% if node.value not in registered_ontology_terms %}
        class="search-term-checkbox form-check-input d-none" disabled
        {% else %}
        class="search-term-checkbox form-check-input"
        {% endif %}>
    <label for="{{ node.id }}"
        {% if registered_ontology_terms and node.value not in registered_ontology_terms and node.value not in parents_of_registered_ontology_terms %}
        class="form-check-label"
        {% else %}
        class="form-check-label opacity-100"
        {% endif %}>
        {{ node.prefLabel|default:node.value }} {% if node.altLabel %}({{ node.altLabel }}){% endif %}
    </label>
</div>
{% endif %}
