<div class="row gy-4">
    <div class="col-lg-7">
        <fieldset class="option-row">
            <legend>
                <h3 class="fs-5 text-muted mb-0">Observed Properties</h3>
            </legend>
            {% with ontology_component="observed-properties" search_input_col_width="col-lg-7" %}
            {% include "search/ontology_tree_container_template.html" %}
            {% endwith %}
        </fieldset>
    </div>
    <div class="col-lg-5">
        <fieldset class="option-row">
            <legend>
                <h4 class="fs-5 text-muted mb-0">Filter observed properties by</h4>
            </legend>
            <div class="accordion" id="accordion-filters">
                <fieldset class="accordion-item">
                    <legend class="accordion-header" id="heading-one">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                            Phenomenon
                        </button>
                    </legend>
                    <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="heading-one"
                        data-bs-parent="#accordion-filters">
                        <div class="accordion-body">
                            {% with ontology_component="phenomenons" search_input_col_width="col-lg-9" %}
                            {% include "search/ontology_tree_container_template.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="accordion-item">
                    <legend class="accordion-header" id="heading-two">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                            Measurand
                        </button>
                    </legend>
                    <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two"
                        data-bs-parent="#accordion-filters">
                        <div class="accordion-body">
                            {% with ontology_component="measurands" search_input_col_width="col-lg-9" %}
                            {% include "search/ontology_tree_container_template.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</div>
<div class="d-flex flex-column align-items-lg-end my-3">
    <button class="btn btn-light btn-clear-op-inputs" type="button">Clear Input Selection</button>
</div>