{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Search' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script type="module" src="{% static "search/opsearch.js" %}" id="opsearch-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row gy-3 mb-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div id="search-form-progress">
            <div id="search-form-progress-bar"></div>
            <ul id="search-form-progress-num">
                <li class="step">1</li>
                <li class="step">2</li>
                <li class="step active">3</li>
            </ul>
        </div>
        <div class="d-flex justify-content-between">
            <small>Features of Interest</small>
            <small class="text-center">Computation Types and/or Instrument Types</small>
            <small class="text-end">Observed Properties</small>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<h1>Data Collection Search</h1>
<h2><span class="text-muted">Step 3:</span> Observed Property Selection</h2>
<div class="row">
    <div class="col-lg-6">
        <p>
            <small class="text-muted">
                Select the Observed Property terms you would like to search for under the
                <b>Observed Properties</b> heading, and filter these by selecting the terms
                under the <b>Filter by</b> heading.
            </small>
        </p>
    </div>
</div>
<form action="{% url 'search:index' %}" method="POST" id="search-form">
    {% csrf_token %}
    <div class="row gy-4">
        <div class="col-lg-6">
            <fieldset class="option-row">
                <legend>
                    <h3 class="text-muted">Observed Properties</h3>
                </legend>
                <div class="observed-properties-tree-search-container-wrapper">
                    {% with ontology_component="observed-properties" %}
                    {% include "search/ontology_tree_container_template.html" %}
                    {% endwith %}
                </div>
            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="option-row">
                <legend>
                    <h3 class="text-muted">Filter OPs by</h3>
                </legend>
                <div class="accordion" id="accordion-filters">
                    <fieldset class="accordion-item">
                        <legend class="accordion-header" id="heading-one">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                Phenomenon
                            </button>
                        </legend>
                        <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="heading-one"
                            data-bs-parent="#accordion-filters">
                            <div class="accordion-body">
                                {% with ontology_component="phenomenons" %}
                                {% include "search/ontology_tree_container_template.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="accordion-item">
                        <legend class="accordion-header" id="heading-two">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                Measurand
                            </button>
                        </legend>
                        <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two"
                            data-bs-parent="#accordion-filters">
                            <div class="accordion-body">
                                {% with ontology_component="measurands" %}
                                {% include "search/ontology_tree_container_template.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="d-flex flex-column align-items-lg-end my-3">
        <button class="btn btn-light btn-clear" type="button">Clear Input Selection</button>
    </div>
    <div class="row gy-3 flex-wrap-reverse mt-3">
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-lg-start">
                <a href="{% url 'search:comp_and_instr_type_selection' %}" class="btn btn-light" role="button">Back</a>
                <small class="text-muted text-lg-end text-center">Computation Types and/or Instrument Types</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-lg-end">
                <button type="submit" class="btn btn-primary">Search</button>
                <small class="text-muted text-lg-end text-center">Search results</small>
            </div>
        </div>
    </div>
</form>
{% endblock content %}