{% extends 'metadata_editor/components/base_editor.html' %}
{% load static %}
{% block extra_scripts %}
{{ sources_tab_pane_content_template|json_script:'sources-tab-pane-content-template' }}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="{% static 'metadata_editor/catalogue_data_subset_editor.js' %}" type="module"></script>
{% endblock extra_scripts %}
{% block extra_form_attrs %}enctype="multipart/form-data"{% endblock extra_form_attrs %}
{% block form_content %}
{% include 'metadata_editor/components/name_and_organisation_section.html' %}
<hr class="my-5">
{% include 'metadata_editor/components/identifier.html' %}
<hr class="my-5">
{% include 'metadata_editor/components/description.html' %}
<hr class="my-5">
<section id="entry-and-data-collection-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">
                Static Dataset Entry & Data Collection
            </h2>
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with field=form.entry_identifier %}
            {% include 'metadata_editor/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with field=form.data_collection %}
            {% include 'metadata_editor/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'metadata_editor/components/catalogue_data_subset/result_time.html' %}
<hr class="my-5">
<section id="sources-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">
                Online Resources
            </h2>
        </div>
        {% if form.sources_json.errors %}
        <div class="col-lg-12">
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    {% for error in form.sources_json.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-8 col-lg-12 col-md-8">
            <div class="d-flex flex-column">
                <div class="form-check form-switch">
                    {{ form.is_file_uploaded_for_each_online_resource }}
                    <label class="form-check-label" for="{{ form.is_file_uploaded_for_each_online_resource.id_for_label }}">
                        {{ form.is_file_uploaded_for_each_online_resource.label }}
                    </label>
                </div>
                <p class="form-text mb-0">
                    {{ form.is_file_uploaded_for_each_online_resource.help_text }}
                </p>
                <p class="form-text">
                    <strong>
                        Important Note: Files added to the wizard are not saved
                        in the browser like other wizard data, and will not be
                        loaded back in if you leave and re-enter the wizard.
                    </strong>
                </p>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="sources-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="s1-tab" data-bs-toggle="tab" data-bs-target="#s1-tab-pane" type="button" role="tab" aria-controls="s1-tab-pane" aria-selected="true">Online Resource 1</button>
                </li>
                <li class="nav-item create-tab" role="presentation">
                    <button class="nav-link" type="button">
                        + Add Online Resource
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="sources-tab-content">
                <div class="tab-pane fade show active" id="s1-tab-pane" role="tabpanel" aria-labelledby="s1-tab" tabindex="0">
                    {% include sources_tab_pane_content_template_path %}
                </div>
            </div>
            {{ form.sources_json }}
            {{ form.sources_extra_json }}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'metadata_editor/components/data_levels.html' %}
<hr class="my-5">
{% with quality_assessment_required=True %}
{% include 'metadata_editor/components/quality_assessment.html' %}
{% endwith %}
<hr class="my-5">
{% include 'metadata_editor/components/catalogue_data_subset/doi_section.html' %}
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-and-organisation-section">
        Full Name and Organisation
    </a>
</li>
<li class="list-group-item">
    <a href="#identifier-section">
        Identifier
    </a>
</li>
<li class="list-group-item">
    <a href="#description-section">
        Description
    </a>
</li>
<li class="list-group-item">
    <a href="#entry-and-data-collection-section">
        Static Dataset Entry & Data Collection
    </a>
</li>
<li class="list-group-item">
    <a href="#result-time-section">
        Result Time
    </a>
</li>
<li class="list-group-item">
    <a href="#sources-section">
        Online Resources
    </a>
</li>
<li class="list-group-item">
    <a href="#data-levels-section">
        Data Levels
    </a>
</li>
<li class="list-group-item">
    <a href="#quality-assessments-section">
        Quality Assessment
    </a>
</li>
<li class="list-group-item">
    <a href="#doi-section">
        DOI
    </a>
</li>
{% endblock table_of_contents %}