{% extends 'metadata_editor/components/base_editor.html' %}
{% load static %}
{% block extra_scripts %}
<script src="{% static 'metadata_editor/individual_editor.js' %}" type="module" defer></script>
<script src="{% static 'metadata_editor/components/contact_info.js' %}" type="module" defer></script>
{% endblock extra_scripts %}
{% block form_content %}
{% include 'metadata_editor/components/name_and_organisation_section.html' %}
<hr class="my-5">
{% include 'metadata_editor/components/identifier.html' %}
<hr class="my-5">
{% include 'metadata_editor/components/contact_info.html' %}
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-and-organisation-section">Full Name and Organisation</a>
</li>
<li class="list-group-item">
    <a href="#identifier-section">Identifier</a>
</li>
<li class="list-group-item">
    <a href="#contact-info-section">Contact Info</a>
</li>
{% endblock table_of_contents %}