{% extends 'metadata_editor/components/base_editor.html' %}
{% load static %}
{% block extra_scripts %}
<script src="{% static 'metadata_editor/organisation_editor.js' %}" type="module" defer></script>
<script src="{% static 'metadata_editor/components/contact_info.js' %}" type="module" defer></script>
{% endblock extra_scripts %}
{% block form_content %}
<section id="name-section" class="d-flex flex-column row-gap-4">
    <h2 class="visually-hidden">Full Name and Short Name</h2>
    <div class="row">
        <div class="col-xl-9 col-lg-12">
            {% with field=form.name %}
            {% include 'metadata_editor/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="row flex-column mt-2 gy-2">
        <div class="col-lg-5">
            {{ form.short_name.label_tag }}
        </div>
        <div class="col-xl-6 col-lg-7">
            <small class="d-block text-secondary mb-2">{{ form.short_name.help_text }}</small>
        </div>
        <div class="col-xl-3 col-lg-4">
            {{ form.short_name }}
        </div>
        {% if form.short_name.errors %}
        <div class="col-lg-7">
            {% for error in form.short_name.errors %}
            <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
<hr class="my-5">
<section id="localid-section" class="d-flex flex-column row-gap-4">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-0">Identifier</h2>
        </div>
    </div>
    <div class="row flex-column gy-3">
        <div class="col-lg-4">
            {{ form.localid.label_tag }}
        </div>
        <div class="col-xl-9 col-lg-12">
            <small class="d-block text-secondary mb-2">{{ form.localid.help_text }}</small>
        </div>
        <div class="col-xl-9 col-lg-12">
            {% include 'metadata_editor/components/localid-input-group.html' %}
        </div>
    </div>
    <div class="row flex-column gy-3">
        {{ form.namespace }}
        {% if form.namespace.errors %}
        <div class="col-lg-7">
            <div class="alert alert-danger mt-3">
                <h2 class="d-flex column-gap-3 fs-6">
                    <svg class="bi flex-shrink-0" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>Namespace
                </h2>
                <ul class="mb-0">
                    {% for error in form.namespace.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row flex-column gy-3">
        <div class="col-lg-5">
            {{ form.identifier_version.label_tag }}
        </div>
        <div class="col-xl-9 col-lg-12">
            <small class="d-block text-secondary mb-2">{{ form.identifier_version.help_text }}</small>
        </div>
        <div class="col-xl-3 col-lg-4">
            {{ form.identifier_version }}
        </div>
    </div>
</section>
<hr class="my-5">
{% include 'metadata_editor/components/description.html' %}
<hr class="my-5">
{% include 'metadata_editor/components/contact_info.html' %}
{% endblock form_content %}
{% block table_of_contents %}
<li class="list-group-item">
    <a href="#name-section">Full Name and Short Name</a>
</li>
<li class="list-group-item">
    <a href="#localid-section">Identifier</a>
</li>
<li class="list-group-item">
    <a href="#description-section">Description</a>
</li>
<li class="list-group-item">
    <a href="#contact-info-section">Contact Info</a>
</li>
{% endblock table_of_contents %}