{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block scripts %}
<script src="{% static 'simple_search/simple_search.js' %}" defer></script>
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<div class="row gy-3">
    <div class="col-lg-12">
        <div class="d-flex align-items-start">
            <hgroup>
                <h1 class="mb-0">Search Data Collections</h1>
                <p class="text-body-secondary mb-0">Simple Search</p>
            </hgroup>
        </div>
    </div>
    <div class="col-lg-12">
        {% include 'simple_search/search_form.html' %}
    </div>
</div>
{% endblock content %}