<div class="row">
    <div class="col-lg-5">
        <form action="{% url 'simple_search:index' %}" method="POST" class="mb-3" id="simple-search-form">
            {% csrf_token %}
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch">
                <div class="input-group me-sm-3 mb-sm-0 mb-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                    {{ form.query }}
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="form-check d-flex align-items-center mt-2">
                {{ form.exact }}
                <label for="{{ form.exact.auto_id }}" class="form-check-label ms-2"><small>{{ form.fields.exact.label }}</small></label>
            </div>
        </form>
    </div>
</div>