<div class="row">
    <div class="col-lg-5">
        <form action="{% url 'simple_search:index' %}" method="POST" class="mb-3" id="simple-search-form">
            {% csrf_token %}
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch">
                <div class="input-group me-sm-3 mb-sm-0 mb-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                    {{ form.query }}
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="form-check d-flex align-items-center my-2">
                {{ form.exact }}
                <label for="{{ form.exact.auto_id }}" class="form-check-label ms-2"><small>{{ form.fields.exact.label }}</small></label>
                <a
                    tabindex="0"
                    class="popover-simple-search-help fs-5 ms-2"
                    role="button"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-content="Multiple terms can be searched for by separating them
                                    with spaces. Use &quot;Exact match&quot; to search for
                                    phrases exactly as you type them.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill text-body-tertiary" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                    </svg>
                </a>
            </div>
            <p class="form-text">
                This simple search tool does a basic text search
                on Data Collections registered with the e-Science
                Centre, and any other registrations referred to by
                them. To search for specific scientific terms (e.g.
                "riometer"), we recommend using the
                <a href="{% url 'search:index' %}">Search
                Data Collections by Content tool</a> instead.

            </p>
        </form>
    </div>
</div>