<div class="row gy-3 pt-4">
    <div class="col-xl-7 col-lg-8">
        {% with custom_summary_text='Adding information on an online resource is optional. If you would like to add this, the name, linkage and protocol for the online resource must be provided.' %}
        {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-5 col-lg-4 ms-auto py-lg-0 py-4">
        <div class="d-flex flex-column align-items-lg-end align-items-stretch">
            <button class="btn btn-outline-danger remove-source-button py-2 px-3" type="button" disabled>
                <span class="d-flex flex-row justify-content-center align-items-center column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill flex-shrink-0" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                    <small class="remove-tab-pane-button-text">Remove Online Resource 1</small>
                </span>
            </button>
        </div>
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_service_function %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_linkage %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_name %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_protocol %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_description %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.source_data_formats %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
</div>