{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block scripts %}
{{ save_data_local_storage_key|json_script:'save-data-local-storage-key' }}
{{ success_url|json_script:'xml-generation-url' }}
<script src="{% static 'metadata_editor/components/editor_manual_and_autosave.js' %}" type="module"></script>
{% block editor_scripts %}{% endblock editor_scripts %}
{% block editor_setup_scripts %}{% endblock editor_setup_scripts %}
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<div class="row align-items-baseline gx-md-5 gx-sm-0">
    <div class="d-lg-block d-none col-lg-2 border-end sticky-top">
        <div class="pe-2">
            <section class="sticky-top">
                <h2 class="fs-base-2 text-body-secondary mb-3">Metadata Sections</h2>
                <ul id="wizard-toc" class="list-group list-group-flush">
                    {% block table_of_contents %}{% endblock table_of_contents %}
                </ul>
            </section>
        </div>
    </div>
    <div class="col-lg-8 col-md-9">
        <section class="px-2">
            <div class="d-flex justify-content-between column-gap-3">
                <div>
                    <hgroup class="d-flex flex-column-reverse row-gap-1 mb-0">
                        <h1>{{ title }}</h1>
                        <p class="fs-6 line-clamp line-clamp-2 text-body-secondary mb-0">
                            {% if request.session.institution_for_login_session %}
                            {{ request.session.institution_for_login_session }}
                            {% else %}
                            Unknown Institution
                            {% endif %}
                        </p>
                    </hgroup>
                    <small class="d-lg-none d-inline-block last-saved-at text-body-secondary my-3">Changes are automatically saved in your browser (except for files).</small>
                </div>
                <div class="dropdown d-lg-none d-block">
                    <button class="btn btn-light btn-light-togglable dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" aria-label="Wizard Actions" title="Wizard Actions">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="btn-save-data dropdown-item" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill me-3" viewBox="0 0 16 16">
                                    <path d="M12 2h-2v3h2z"/>
                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0zM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1zM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1"/>
                                </svg>Save
                            </a>
                        </li>
                        <li>
                            <a class="btn-reset-wizard dropdown-item text-body" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise me-3" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                </svg>Reset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="my-4">
                <span class="required-marker">*</span>
                <small>indicates a required field</small>
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form action="{{ success_url }}" method="POST" id="metadata-editor-form" {% block extra_form_attrs %}{% endblock extra_form_attrs %}>
                {% csrf_token %}
                {% block pre_name_section %}{% endblock pre_name_section %}
                {% block name_section %}
                {% include 'metadata_editor/sections/name_section.html' %}
                {% endblock name_section %}
                <hr class="my-5">
                {% block identifier_section %}
                {% include 'metadata_editor/sections/identifier_section.html' %}
                {% endblock identifier_section %}
                <hr class="my-5">
                {% block form_content %}{% endblock form_content %}
                <div class="d-flex flex-column row-gap-3 border-top pt-5 mt-4">
                    <div class="d-flex flex-column row-gap-2 col-lg-12">
                        <button type="submit" class="btn btn-outline-primary flex-grow-1 py-3 px-4">
                            {{ submit_button_text }}
                        </button>
                        <div class="d-none form-text text-danger text-center form-status-alert">
                        </div>
                    </div>
                    <div class="d-none form-retry-notice col-lg-12">
                        <div class="bg-body-tertiary form-text text-center border rounded p-3 px-4">
                            The validation process can take up to a minute to complete
                            with a good internet connection (the XML schema definitions
                            used for validation usually take a while to all load in). If
                            the wizard appears to become unresponsive during this time,
                            try <button type="button" class="btn btn-sm btn-link btn-abort-submit text-body align-baseline p-0">re-submitting the form</button>.
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="d-lg-block d-none col-lg-2 border-start sticky-top">
        <div class="ps-2">
            <section>
                <h2 class="fs-6 fw-semibold text-body-secondary mb-0">Wizard Menu</h2>
                <small class="d-inline-block last-saved-at text-body-secondary my-3">Changes are automatically saved in your browser (except for files).</small>
                <ul class="d-flex flex-column align-items-stretch row-gap-3 list-unstyled">
                    <li>
                        <button class="d-inline-flex align-items-center justify-content-center column-gap-2 btn btn-light btn-light-togglable w-100 btn-save-data">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill flex-shrink-0" viewBox="0 0 16 16">
                                <path d="M12 2h-2v3h2z"/>
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0zM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1zM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1"/>
                            </svg>Save
                        </button>
                    </li>
                    <li>
                        <button class="d-inline-flex align-items-center justify-content-center column-gap-2 btn btn-outline-dark btn-outline-dark-togglable w-100 btn-reset-wizard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise flex-shrink-0" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                            </svg>Reset
                        </button>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock content %}