
{{ form.email_address.label_tag }}
<div class="d-flex column-gap-3">
    {{ form.email_address }}
    <button
        class="btn btn-outline-danger btn-remove-email"
        type="button"
        {% if disabled %}
        disabled
        {% endif %}>Remove</button>
</div>
{% if form.email_address.help_text %}
<div class="form-text">{{ form.email_address.help_text }}</div>
{% endif %}
<div id="invalid-feedback-{{ form.email_address.auto_id }}" class="invalid-feedback">
    <ul class="d-flex-inline row-gap-1 list-unstyled field-error-list mb-0">
        {% for error in form.email_address.errors %}
        <li class="form-text text-danger">{{ error }}</li>
        {% endfor %}
    </ul>
</div>