<section id="citation-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">Documentation</h2>
        </div>
        <div class="col-xl-9 col-lg-12">
            <p>
                {{ citation_section_description }}
            </p>
        </div>
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="citations-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ct1-tab" data-bs-toggle="tab" data-bs-target="#ct1-tab-pane" type="button" role="tab" aria-controls="ct1-tab-pane" aria-selected="true">Documentation 1</button>
                </li>
                <li class="nav-item create-tab" role="presentation">
                    <button class="nav-link" type="button">
                        + Add Documentation
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="citations-tab-content">
                <div class="tab-pane fade show active" id="ct1-tab-pane" role="tabpanel" aria-labelledby="ct1-tab" tabindex="0">
                    {% include 'metadata_editor/components/citations_tab_content_template.html' %}
                </div>
            </div>
        </div>
    </div>
    {{ form.citations_json }}
    {% with field=form.citations_json %}
    {% include 'metadata_editor/components/form_field_invalid_feedback_template.html' %}
    {% endwith %}
</section>