<div class="row gy-2">
    <div class="{{ time_instant_position_field_col_classes|default:'col-xl-5 col-lg-6'}}">
        <h3 class="fs-5">
            {{ time_instant_begin_position_field.label_tag }}
        </h3>
        <input
            type="{{ time_period_input_type|default:'date' }}"
            name="{{ time_instant_begin_position_field.name }}"
            id="{{ time_instant_begin_position_field.auto_id }}"
            class="form-control {% if time_instant_begin_position_field.errors %}is-invalid{% endif %}"
            value="{{ time_instant_begin_position_field.value|default:'' }}"
            {% if time_instant_begin_position_field.field.required %}
            required
            {% endif %}
            aria-describedby="{{ time_instant_begin_position_field.auto_id }}-invalid-feedback">
        <div id="invalid-feedback-{{ time_instant_begin_position_field.auto_id }}" class="invalid-feedback">
            {% if time_instant_begin_position_field.errors %}
            <ul class="list-unstyled">
                {% for error in time_instant_begin_position_field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {{ error }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row gy-2">
    <div class="{{ time_instant_position_field_col_classes|default:'col-xl-5 col-lg-6'}}">
        <h3 class="fs-5">
            {{ time_instant_end_position_field.label_tag }}
        </h3>
        <input
            type="{{ time_period_input_type|default:'date' }}"
            name="{{ time_instant_end_position_field.name }}"
            id="{{ time_instant_end_position_field.auto_id }}"
            class="form-control {% if time_instant_end_position_field.errors %}is-invalid{% endif %}"
            value="{{ time_instant_end_position_field.value|default:'' }}"
            {% if time_instant_end_position_field.field.required %}
            required
            {% endif %}
            aria-describedby="{{ time_instant_end_position_field.auto_id }}-invalid-feedback">
        <div id="invalid-feedback-{{ time_instant_end_position_field.auto_id }}" class="invalid-feedback">
            {% if time_instant_end_position_field.errors %}
            <ul class="list-unstyled">
                {% for error in time_instant_end_position_field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>