{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.4/build/css/intlTelInput.css">
{% endblock styles %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.4/build/js/intlTelInput.min.js"></script>
{{ localid_validation_url|json_script:'local-id-validation-url' }}
{{ localid_base|json_script:'local-id-base' }}
{{ organisation_short_names|json_script:'organisation-short-names' }}
{% block extra_scripts %}{% endblock extra_scripts %}
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<form action="{{ success_url }}" method="POST" id="metadata-editor-form">
    {% csrf_token %}
    <div class="row gx-xl-5 gx-lg-5 gx-sm-0">
        <div class="col-xl-3 col-lg-4 d-lg-block d-none">
            <section class="toc-container sticky-top">
                <h2 class="fw-normal fs-4">Metadata Sections</h2>
                <ul class="list-group">
                    {% block table_of_contents %}{% endblock table_of_contents %}
                </ul>
            </section>
        </div>
        <div class="col-xl-9 col-lg-8">
            <section>
                <h1 class="mb-4">{{ title }}</h1>
                {% block form_content %}{% endblock form_content %}
                <div class="d-flex flex-column mt-5">
                    <div class="col-xl-7 col-lg-8">
                        <div class="alert alert-light">
                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                </svg>Validation usually takes up to a minute to complete on a good internet connection.
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-12 d-lg-block d-flex">
                        <button type="submit" class="btn btn-outline-primary flex-grow-1 fw-bold py-3 px-4">
                            Validate and Register
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>
{% endblock content %}