<div class="row gy-3 pt-4">
    <div class="col-xl-7 col-lg-8">
        {% with custom_summary_text='Adding information on a capability is optional. If you would like to add this, the name of the capability and at least one observed property must be specified. If you are also specifying cadence, you will also need to specify its units.' %}
        {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-5 col-lg-4 ms-auto py-lg-0 py-4">
        <div class="d-flex flex-column align-items-lg-end align-items-stretch">
            <button class="btn btn-outline-danger remove-capability-button py-2 px-3" type="button" disabled>
                <span class="d-flex flex-row justify-content-center align-items-center column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill flex-shrink-0" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                    <small class="remove-tab-pane-button-text">Remove Capability 1</small>
                </span>
            </button>
        </div>
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_name %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_observed_property %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_dimensionality_instance %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_dimensionality_timeline %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_cadence %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_cadence_units %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_vector_representation %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_coordinate_system %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_units %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_qualifier %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
</div>