<div class="row gy-3 pt-4">
    <div class="col-xl-7 col-lg-8">
        {% with custom_summary_text='Adding a capability is optional. If you would like to add one, the name of the capability and at least one observed property must be specified. If you are specifying cadence, you will also need to specify its units.' %}
        {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_name %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_observed_property %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_dimensionality_instance %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_dimensionality_timeline %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_cadence %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_cadence_units %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_vector_representation %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_coordinate_system %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_units %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-xl-7 col-lg-8">
        {% with field=form.capability_qualifier %}
        {% include 'register_with_support/components/form_field_template.html' %}
        {% endwith %}
    </div>
    <div class="col-lg-12 mt-5">
        <div class="d-flex flex-column align-items-lg-start align-items-stretch">
            <button class="btn btn-outline-danger remove-capability-button" type="button" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill me-2" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                </svg>Remove Capability 1
            </button>
        </div>
    </div>
</div>