<section id="citation-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Documentation</h2>
        </div>
        <div class="col-lg-7">
            <p>
                {{ citation_section_description }}
            </p>
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.citation_title %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-4 col-lg-5">
            {{ form.citation_publication_date.label_tag }}
            <input type="date" name="{{ form.citation_publication_date.name }}" id="{{ form.citation_publication_date.auto_id }}" class="form-control">
            <div class="invalid-feedback">
                A date must be provided if other citation details have been entered.
            </div>
        </div>
        <div class="col-xl-6 col-lg-7">
            {% with field=form.citation_doi %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.citation_linkage_url %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-10">
            {% with field=form.other_citation_details %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>