<section id="location-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Location</h2>
        </div>
        <div class="col-xl-7 col-lg-8">
            <p>
                {% if location_section_description %}
                {{ location_section_description }}
                {% else %}
                Location of an object provided by a geometric or geographic description or both.
                {% endif %}
            </p>
            {% if location_section_example %}
            <div class="alert alert-light">
                <h3 class="fs-6">Example</h3>
                {{ location_section_example }}
            </div>
            {% endif %}
        </div>
        <div class="col-xl-6 col-lg-7">
            {% with field=form.location_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            <section id="geometry-location-section">
                <div class="row flex-column gy-3">
                    <div class="col-lg-12">
                        <h3 class="fw-bold fs-6">Geometry</h3>
                    </div>
                    <div class="col-xl-7 col-lg-8">
                        <p class="mb-0">
                            {% if geo_location_description %}
                            {{ geo_location_description }}
                            {% else %}
                            Geometric representation of the location.
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-8">
                        {% with custom_summary_text='Adding information on the geometry location is optional. If you would like to add this, all geometry location fields below must be filled out.' %}
                        {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-lg-2">
                        {% with field=form.geometry_location_point_id %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-lg-3">
                        {{ form.geometry_location_point_pos_1.label_tag }}
                        <div class="d-flex column-gap-2">
                            {{ form.geometry_location_point_pos_1 }}
                            {{ form.geometry_location_point_pos_2 }}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        {% with field=form.geometry_location_point_srs_name %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>