{% extends 'metadata_editor/components/identifier_section.html' %}
{% block localid_and_namespace_fields %}
<details>
    <summary class="summary-marker-custom summary-marker-custom-sm summary-marker-custom-baseline text-body-secondary">
        Local ID and Namespace
    </summary>
    <div class="d-flex flex-column row-gap-4">
        <div class="row flex-column gy-2">
            <div class="col-lg-4">
                {{ form.localid.label_tag }}
            </div>
            <div class="col-xl-9 col-lg-12">
                <small class="d-block text-body-secondary mb-2">{{ form.localid.help_text }}</small>
            </div>
            <div class="col-xl-9 col-lg-12">
                {% include 'register_with_support/components/localid_input_group.html' %}
            </div>
        </div>
        <div class="row flex-column gy-2">
            <div class="col-lg-5">
                {{ form.namespace.label_tag }}
            </div>
            <div class="col-xl-9 col-lg-12">
                <small class="d-block text-body-secondary mb-2">{{ form.namespace.help_text }}</small>
            </div>
            <div class="col-xl-3 col-lg-5">
                {{ form.namespace }}
                {% with field=form.namespace %}
                {% include 'metadata_editor/components/form_field_invalid_feedback_template.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</details>
{% endblock localid_and_namespace_fields %}
