<td>
    <div class="d-lg-none d-block">
        {{ form.capability_name.label_tag }}
    </div>
    {{ form.capability_name }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_observed_property.label_tag }}
    </div>
    {{ form.capability_observed_property }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_dimensionality_instance.label_tag }}
    </div>
    {{ form.capability_dimensionality_instance }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_dimensionality_timeline.label_tag }}
    </div>
    {{ form.capability_dimensionality_timeline }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_cadence.label_tag }}
    </div>
    {{ form.capability_cadence }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_vector_representation.label_tag }}
    </div>
    {{ form.capability_vector_representation }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_coordinate_system.label_tag }}
    </div>
    {{ form.capability_coordinate_system }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_units.label_tag }}
    </div>
    {{ form.capability_units }}
</td>
<td>
    <div class="d-lg-none d-block">
        {{ form.capability_qualifier.label_tag }}
    </div>
    {{ form.capability_qualifier }}
</td>