<section>
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Citation Documentation</h2>
        </div>
        <div class="col-lg-5">
            {{ form.citation_title.label_tag }}
            {{ form.citation_title }}
        </div>
        <div class="col-lg-3">
            {{ form.citation_publication_date.label_tag }}
            <input type="date" name="{{ form.citation_publication_date.name }}" id="{{ form.citation_publication_date.auto_id }}" class="form-control">
        </div>
        <div class="col-lg-3">
            {{ form.citation_doi.label_tag }}
            {{ form.citation_doi }}
        </div>
        <div class="col-lg-5">
            {{ form.citation_linkage_url.label_tag }}
            {{ form.citation_linkage_url }}
        </div>
        <div class="col-lg-5">
            {{ form.other_citation_details.label_tag }}
            {{ form.other_citation_details }}
        </div>
    </div>
</section>