<section id="related-parties-section">
    <div class="row gy-3">
        <div class="col-lg-12">
            <h2>Related Parties</h2>
        </div>
        <div class="col-lg-12">
            <table id="table-related-parties" class="table">
                <thead>
                    <tr>
                        <td>Role</td>
                        <td>Party</td>
                        <td>Row Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-lg-6">
                            <div class="d-lg-none d-block">
                                {{ form.related_party_role.label_tag }}
                            </div>
                            {{ form.related_party_role }}
                        </td>
                        <td class="col-lg-6 td-related-parties">
                            <div class="d-lg-none d-block">
                                {{ form.related_party.label_tag }}
                            </div>
                            <ul class="list-unstyled">
                                <li class="pb-2">
                                    <div class="input-group">
                                        {{ form.related_party }}
                                        <button class="btn btn-outline-dark rounded-end-2 remove-rp-button" type="button" disabled>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16" aria-label="Remove related party">
                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                                            </svg>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-light add-rp-button" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                </svg> Add related party
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger remove-rprrow-button" type="button" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" aria-label="Remove related party role">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="add-rprrow-button" class="btn btn-outline-dark" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square me-1" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg> Add related party role
            </button>
        </div>
    </div>
    {{ form.related_parties_json }}
</section>