<section id="keywords-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Keywords</h2>
        </div>
        <div class="col-xl-9 col-lg-10">
            <p class="mb-0">
                Category keywords, their type, and reference source.
            </p>
        </div>
        <div class="col-lg-12">
            <table id="table-project-keywords" class="table">
                <thead>
                    <tr>
                        <th>Keyword Type</th>
                        <th>Keyword Type Code</th>
                        <th>Keywords</th>
                        <th>Row Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% include 'register_with_support/components/project/keywords_row_content.html' %}
                    </tr>
                </tbody>
            </table>
            <button id="add-kwrow-button" class="btn btn-light" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg> Add keyword type
            </button>
        </div>
    </div>
    {{ form.keywords_json }}
</section>