<td class="col-lg-5">
    <div class="d-lg-none d-block">{{ form.keyword_type.label_tag }}</div>
    {{ form.keyword_type }}
    <div class="invalid-feedback">
        Enter a keyword type
    </div>
</td>
<td class="col-lg-2">
    <div class="d-lg-none d-block">{{ form.keyword_type_code.label_tag }}</div>
    <div class="input-group">
        <span class="input-group-text" id="input-group-prepend">#</span>
        <input type="text" class="{{ form.keyword_type_code.field.widget.attrs.class }}" name="{{ form.keyword_type_code.name }}" id="{{ form.keyword_type_code.auto_id }}" aria-describedby="input-group-prepend" value="{{ form.keyword_type_code.value|default:'' }}">
        <div class="invalid-feedback">
            Enter a keyword type code
        </div>
    </div>
</td>
<td class="td-keywords col-lg-5">
    <div class="d-lg-none d-block">{{ form.keyword.label_tag }}</div>
    {{ form.keyword }}
    <div class="invalid-feedback">
        Enter a keyword
    </div>
</td>
<td>
    <button class="btn btn-outline-danger remove-kwrow-button" type="button" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" aria-label="Remove keyword type">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>
    </button>
</td>