<div class="border rounded form-text p-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
    </svg><span class="fw-semibold">Information on File Validation</span>
    <div class="d-flex flex-column row-gap-1 mt-3">
        <details>
            <summary>How does validation work?</summary>
            <div class="d-flex flex-column row-gap-2 mt-2">
                <p class="mb-0">
                    {% block file_upload_limit_info_text %}
                    Multiple files can be registered at once.
                    {% endblock file_upload_limit_info_text %}
                </p>
                <p class="mb-0">
                    Metadata files must pass a validation process
                    before they can be published in the e-Science
                    Centre. The validation process is performed on
                    our servers, and feedback is sent back to you
                    as various checks are completed.
                </p>
                <p class="mb-0">The validation process involves:</p>
                <ul class="mb-0">
                    <li>Syntax validation</li>
                    <li>UTF-8 encoding validation</li>
                    <li>XSD validation</li>
                    <li>Type validation</li>
                    <li>Local ID validation</li>
                    <li>Namespace validation</li>
                    <li>Validating references to other metadata</li>
                    <li>Validating references to Space Physics Ontology terms</li>
                </ul>
                <p>
                    Additional checks will be performed depending on if metadata
                    is being updated or newly registered.
                </p>
            </div>
        </details>
        <details>
            <summary>How long does validation take?</summary>
            <p class="mt-2 mb-0">
                Validation times can vary, but a metadata file will usually
                take up to 20 seconds to a minute to finish validating (most
                of this is usually taken up by XSD validation).
            </p>
        </details>
    </div>
</div>