<details class="text-secondary">
    <summary>
        How long does validation take?
    </summary>
    <p class="mt-2">
        A metadata file will usually take up to 20 seconds
        to a minute to finish validating, which is usually
        taken up by the time it takes to complete XSD
        validation.
    </p>
    <ul class="list-unstyled form-text">
        <li>
            <details>
                <summary>Why do I have to validate my metadata files?</summary>
                <p class="mt-2">
                    Metadata files are validated to ensure that
                    the e-Science Centre will be able to process
                    and display the contents of each file and that
                    links to ontology terms and other metadata
                    registrations will work as expected.
                </p>
            </details>
        </li>
        <li class="mt-2">
            <details>
                <summary>What conditions are required to pass validation?</summary>
                <div class="d-flex flex-column row-gap-2 mt-2">
                    <p class="mb-0">
                        Metadata files must meet these
                        conditions to pass validation:
                    </p>
                    <ul class="mb-0" style="list-style-type: disc;">
                        <li>The file uses valid XML syntax.</li>
                        <li>The file uses UTF-8 encoding (and does not contain illegal characters).</li>
                        <li>The file name is the same as the local ID.</li>
                        <li>
                            The file uses the correct type for the file upload category (e.g.
                            the metadata file should have <span class="font-monospace">&lt;Organisation&gt;</span>
                            as the root element, if an organisation is being registered/updated).
                        </li>
                        <li>
                            The file is structured according to the rules and constraints defined in the relevant XSD
                            schemas (see the <a href="{% url 'schemas' %}" target="_blank" class="link-underline-by-default">
                            PITHIA metadata models</a>).
                        </li>
                        <li>
                            The file has a unique and appropriately formatted local ID (see Chapter 4.1.1 Local ID of the
                            <a href="{% url 'resource_registration_user_guide' %}#page=6" target="_blank" class="link-underline-by-default">
                            Data Resource Registration Guide</a> for further guidance).
                        </li>
                        <li>
                            The file has an appropriately formatted namespace (Chapter 4.1.2 Choice of namespace of the Data Resource
                            Registration Guide gives further guidance).
                        </li>
                    </ul>
                    <p class="mb-0">
                        Any URL references to other metadata registrations and/or Space Physics Ontology
                        terms in the metadata file are also checked to ensure they point to registrations/terms
                        currently registered in the e-Science Centre/Space Physics Ontology.
                    </p>
                    <p class="mb-0">
                        Additional checks are performed depending on if you are registering or updating.
                    </p>
                </div>
            </details>
        </li>
    </ul>
</details>