<details class="text-secondary">
    <summary>
        How long does validation take?
    </summary>
    <p class="mt-2">
        Validation times may vary, but a metadata file will usually
        take up to 20 seconds to a minute to finish validating (most
        of this is usually taken up by XSD validation).
    </p>
    <ul class="list-unstyled form-text">
        <li>
            <details>
                <summary>Why do I have to validate my metadata files?</summary>
                <p class="mt-2">
                    Metadata files are validated to ensure that
                    the e-Science Centre will be able to display
                    the contents of each file and that links to
                    ontology terms and other metadata registrations
                    will work.
                </p>
            </details>
        </li>
        <li class="mt-2">
            <details>
                <summary>How does validation work?</summary>
                <div class="d-flex flex-column row-gap-2 mt-2">
                    <p class="mb-0">
                        The validation process is performed on
                        our servers, and feedback for each metadata
                        file is sent back to you as various checks
                        are completed.
                    </p>
                    <p class="mb-0">The validation process checks that each metadata file:</p>
                    <ul class="mb-0">
                        <li>Uses XML 1.0 syntax and UTF-8 encoding</li>
                        <li>
                            Shares the same typing for the current metadata file upload
                            category (e.g. the metadata file has "Organisation" as the root
                            element name, if you are registering it as/updating an organisation)
                        </li>
                        <li>
                            Uses a valid local ID and namespace (see the 
                            <a href="{% url 'resource_registration_user_guide' %}#page=6" target="_blank" class="link-underline-by-default">
                            Data Resource Registration Guide</a> (Chapter 4.1.1 Local ID and
                            Chapter 4.1.2 Choice of namespace) for details)
                        </li>
                        <li>Uses the local ID of the metadata file as the file name</li>
                        <li>
                            Adheres to the rules and constraints defined in the relevant XSD
                            schemas (see the <a href="{% url 'schemas' %}" target="_blank" class="link-underline-by-default">
                            PITHIA metadata models</a>)
                        </li>
                    </ul>
                    <p class="mb-0">
                        If URL references to other metadata registrations and/or Space Physics Ontology
                        terms are made in the metadata file, validation will verify that the
                        registrations/terms at those URLs are currently registered in the e-Science
                        Centre/Space Physics Ontology.
                    </p>
                    <p class="mb-0">
                        Additional checks will be performed depending on if you are registering or updating.
                    </p>
                </div>
            </details>
        </li>
    </ul>
</details>