<div class="mt-1">
    <small class="d-none text-secondary status-validating-link">Checking link...</small>
    <div class="d-none api-specification-url-status-validation mt-1">
        <ul class="list-group list-group-flush list-group-horizontal mb-0">
            <li class="d-none list-group-item border border-0 status-invalid-link p-0">
                <div class="d-flex flex-column">
                    <small class="text-danger status-text">Invalid link</small>
                    <small class="d-none text-secondary status-details mt-1">
                        Details:
                        <span class="status-details"></span>
                    </small>
                </div>
            </li>
        </ul>
    </div>
</div>