<section id="instrument-mode-pair-section">
    <div class="row gy-4">
        <div class="col-lg-12">
            <h2 class="mb-0">
                Instrument Mode Pair
            </h2>
        </div>
        <div class="col-xl-9 col-lg-12">
            <p class="mb-0">
                The Instrument Mode Pair links capabilities to the instrument.
            </p>
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with custom_summary_text='Adding information on the instrument mode pair is optional. If you are adding this information, an instrument and its operational mode must be specified.' %}
            {% include 'register_with_support/components/conditional_required_field_info_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with field=form.instrument_mode_pair_instrument %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-xl-9 col-lg-12">
            {% with field=form.instrument_mode_pair_mode %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
    </div>
</section>