{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Resource Management' 'resource_management:index' %}
{% breadcrumb_item list_resources_of_type_view_page_title list_resources_of_type_view_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block content %}
<div class="row pb-4">
    <div class="col-xl-9 col-lg-8">
        <h1 class="mb-0">
            {{ title }}
        </h1>
        <small class="text-muted">
            {% with pithia_identifier=resource_to_delete.identifier|get_key_value:"pithia:Identifier" %}
            Deleting resource: {{ resource_to_delete.name|default:pithia_identifier.localID }}
            {% endwith %}
        </small>
    </div>
</div>
<div class="row gy-3">
    <div class="col-xl-9 col-lg-8">
        <div class="row">
            <div class="col-lg-8">
                {% if messages %}
                <div class="registration-alerts">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% if other_resources_to_delete|length > 0 %}
        <section>
            <h2 class="fs-5 mb-3">By deleting this {{ resource_type }}, the following resources will also be deleted:</h2>
            <ul class="list-group">
                {% for r in other_resources_to_delete %}
                {% with pithia_identifier=r.0.identifier|get_key_value:"pithia:Identifier" %}
                <li class="list-group-item">{% if r.1|lower == 'collection' %}{{ 'data collection'|title }}{% else %}{{ r.1|capfirst }}{% endif %} {{ r.0.name|default:pithia_identifier.localID }}</li>
                {% endwith %}
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        <form action="{% url delete_resource_type_view_name resource_id %}" method="post" enctype="multipart/form-data" id="update-resource-form">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-lg-12">
                    <div class="d-flex flex-row justify-content-xl-start justify-content-lg-start">
                        <a href="{% url list_resources_of_type_view_name %}" class="btn btn-light me-2">Go Back</a>
                        <button type="submit" class="btn btn-danger">Delete this {{ resource_type }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}