{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script src="{% static 'delete/confirm_delete_resource.js' %}" defer></script>
{{ resource_to_delete.name|default:resource_to_delete.localid|json_script:'resource-name' }}
{% endblock scripts %}
{% block content %}
<div class="row flex-column gy-4">
    <div class="col-xl-7">
        <hgroup class="d-flex flex-column-reverse row-gap-1 mb-0">
            <h1 class="mb-0">{{ title }}</h1>
            <p class="fs-base-2 line-clamp line-clamp-2 text-body-secondary mb-0">
                {% if request.session.institution_for_login_session %}
                {{ request.session.institution_for_login_session }}
                {% else %}
                Unknown Institution
                {% endif %}
            </p>
        </hgroup>
    </div>
    {% if other_resources_to_delete|length > 0 %}
    <div class="col-xl-7">
        <p class="fs-base-2 fw-semibold mb-0">
            {{ resource_to_delete.name }}
        </p>
    </div>
    <div class="col-xl-7">
        <p class="d-flex align-items-baseline column-gap-2 alert alert-warning p-3 mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill flex-shrink-0" style="transform: translateY(0.125rem);" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
            </svg>
            The {% if other_resources_to_delete|length == 1 %}registration below has a
            reference/references{% else %}{{ other_resources_to_delete|length }} registrations
            listed below have references{% endif %} to this {{ type_readable }} registration
            which will become invalid upon deletion.
        </p>
    </div>
    <div class="col-xl-7">
        <p >
            To enable deletion, please update the {% if other_resources_to_delete|length == 1 %}
            registration below{% else %}registrations below{% endif %} by removing any references to
            this {{ type_readable }} registration.
        </p>
        <ul class="list-group mb-0">
            {% for r in other_resources_to_delete %}
            <li class="list-group-item list-group-item-light">
                {{ r.name|default:r.localid }}
                <small class="text-body-secondary">({{ r.type_readable|title }})</small>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xl-7">
        <a
            href="{% url resource_management_list_page_breadcrumb_url_name %}"
            class="d-inline-flex align-items-center column-gap-2 icon-link icon-link-hover btn btn-light btn-light-togglable border me-2"
            style="--bs-icon-link-transform: translate3d(-0.125rem, 0, 0);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fs-5 bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>Go Back</a>
    </div>
    {% else %}
    <div class="col-xl-5">
        <form
            action="{% url delete_resource_page_breadcrumb_url_name resource_id %}"
            method="post"
            enctype="multipart/form-data"
            id="delete-form"
            class="d-flex flex-column row-gap-4">
            {% csrf_token %}
            <div>
                <label for="confirm-resource-name">Type <b>{{ resource_to_delete.name|default:resource_to_delete.localid }}</b> to confirm deletion.</label>
                <input type="text" class="form-control mt-2" id="confirm-resource-name" value="" autofocus>
            </div>
            <div class="d-flex flex-column row-gap-3">
                {% block extra_information %}{% endblock extra_information %}
                <div class="d-flex align-items-baseline column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-success flex-shrink-0" style="transform: translateY(0.125rem);" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <span>This metadata is not referred to by any other metadata and can be safely deleted.</span>
                </div>
            </div>
            <div class="d-flex justify-content-xl-start justify-content-lg-start">
                <a
                    href="{% url resource_management_list_page_breadcrumb_url_name %}"
                    class="btn btn-light btn-light-togglable me-2">Go Back</a>
                <button type="submit" class="btn btn-outline-danger">Delete this Registration</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}