{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_management_list_page_breadcrumb_text resource_management_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
<script src="{% static 'delete/confirm_delete_resource.js' %}" defer></script>
{{ resource_to_delete.name|default:resource_to_delete.localid|json_script:'resource-name' }}
{% endblock scripts %}
{% block content %}
<div class="row gy-3">
    <div class="col-lg-8">
        <hgroup>
            <h1 class="mb-0">{{ title }}</h1>
            <p class="text-secondary fs-3">
                {{ resource_to_delete.name|default:resource_to_delete.localid }}
            </p>
        </hgroup>
    </div>
    <div class="col-lg-8">
        {% block extra_information %}{% endblock extra_information %}
        {% if other_resources_to_delete|length > 0 %}
        <div class="alert alert-warning mb-0">
            <p>
                Please resolve the references from the
                {% if other_resources_to_delete|length == 1 %}
                registration
                {% else %}
                {{ other_resources_to_delete|length }} registrations listed
                {% endif %} below to enable the deletion of this metadata.
            </p>
            <ul class="list-group mb-0">
                {% for r in other_resources_to_delete %}
                <li class="list-group-item list-group-item-light">{{ r.name|default:r.localid }} <small class="text-muted">({{ r.type_readable|title }})</small></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="alert alert-success">
            This metadata is not referred to by any other metadata and can be safely deleted.
        </div>
        {% endif %}
    </div>
    {% if other_resources_to_delete|length == 0 %}
    <div class="col-lg-5 mt-4">
        <label for="confirm-resource-name">Type <b>{{ resource_to_delete.name|default:resource_to_delete.localid }}</b> to confirm deletion.</label>
        <input type="text" class="form-control mt-1" id="confirm-resource-name" value="">
    </div>
    <div class="col-lg-8">
        <form action="{% url delete_resource_page_breadcrumb_url_name resource_id %}" method="post" enctype="multipart/form-data" id="delete-form">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-lg-12">
                    <div class="d-flex flex-row justify-content-xl-start justify-content-lg-start">
                        <a href="{% url resource_management_list_page_breadcrumb_url_name %}" class="btn btn-light me-2">Go Back</a>
                        {% if other_resources_to_delete|length > 0 %}
                        <button type="submit" class="btn btn-outline-danger">Delete this metadata and metadata referencing it</button>
                        {% else %}
                        <button type="submit" class="btn btn-outline-danger">Delete this metadata</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}