{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'browse:list_catalogues' %}">Catalogues</a>
        <span class="text-muted">{{ num_current_catalogues }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_catalogue_entries' %}">Catalogue Entries</a>
        <span class="text-muted">{{ num_current_catalogue_entries }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_catalogue_data_subsets' %}">Catalogue Data Subsets</a>
        <span class="text-muted">{{ num_current_catalogue_data_subsets }}</span>
    </li>
</ul>
{% endblock content %}