{% load project_tags %}
{% if not catalogue_entries %}
{% with catalogue_related_resource=catalogue resource_description=catalogue.description %}
{% include 'browse/catalogue_tree_list_item_content_disabled.html' %}
{% endwith %}
{% else %}
<details>
    <summary>
        <div class="d-inline-flex flex-column align-items-start">
            <a href="{{ catalogue.get_absolute_url }}" class="w-auto">{{ catalogue.name|default:catalogue.localid }}</a>
            <small class="text-secondary-emphasis">
                {% if catalogue_entries|length == 1 %}
                1 Entry
                {% else %}
                {{ catalogue_entries|length }} Entries
                {% endif %}
            </small>
            <small class="text-secondary">
                {{ catalogue.description }}
            </small>
        </div>
    </summary>
    <ul class="list-tree-catalogue-entry">
        {% for entry in catalogue_entries %}
        <li class="list-tree-item-catalogue-entry">
            {% with entry_data_subsets=data_subsets_by_entry|get_key_value:entry.pk %}
            {% include 'browse/catalogue_entry_tree_list_item_content.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</details>
{% endif %}