{% if not entry_data_subsets %}
{% with catalogue_related_resource=entry %}
{% include 'browse/catalogue_tree_list_item_content_disabled.html' %}
{% endwith %}
{% else %}
<details>
    <summary>
        <div class="d-inline-flex flex-column align-items-start">
            <a href="{{ entry.get_absolute_url }}">{{ entry.name|default:entry.localid }}</a>
            <small class="text-secondary-emphasis">
                {% if entry_data_subsets|length == 1 %}
                1 Data Subset
                {% else %}
                {{ entry_data_subsets|length }} Data Subsets
                {% endif %}
            </small>
        </div>
    </summary>
    <ul class="list-tree-catalogue-data-subset">
        {% for data_subset in entry_data_subsets %}
        <li class="list-tree-item-catalogue-data-subset">
            <a href="{{ data_subset.get_absolute_url }}">{{ data_subset.name|default:data_subset.localid }}</a>
        </li>
        {% endfor %}
    </ul>
</details>
{% endif %}