{% extends 'browse/resource_list_by_type.html' %}
{% load static %}
{% load project_tags %}
{% block scripts %}
<script src="{% static 'browse/data_collection_list.js' %}" defer></script>
{% endblock scripts %}
{% block aside %}
<div class="col-xl-7 col-lg-8">
    <section>
        <h2 class="fw-normal fs-3 mb-3">Data Collection Types</h2>
        <ul class="w-auto bg-light text-secondary-emphasis rounded py-3">
            {% for key, value in resources.items %}
            <li class="my-1">
                {% with section_name=key.split|join:'-'|lower %}
                <a href="#{{ section_name }}-heading">
                    {% endwith %}
                    {{ key }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock aside %}
{% block resource_list_outer %}
{% for key, value in resources.items %}
<section class="my-4">
    {% if value %}
    <details open>
        <summary class="summary-marker-custom data-collection-category" tabindex="-1">
            {% with section_name=key.split|join:'-'|lower %}
            <h2 id="{{ section_name }}-heading" class="d-inline-block">
            {% endwith %}
                {{ key }}
            </h2>
        </summary>
        <div class="list-group-container off-bottom mt-3">
            <div class="list-group-scroll-container default-view">
                <ul class="list-group">
                    {% for dc in value %}
                    <li class="list-group-item">
                        <a href="{{ dc.get_absolute_url }}">{{ dc.name|default:dc.localid }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="shadows"></div>
        </div>
    </details>
    <div class="show-all-dcs-button-container px-3 pt-4">
        <a role="button" class="show-all-dcs-button">
            {% if key|lower == 'mixed' or key|lower == 'other' %}
            Show all {{ value|length }} {{ key|lower }} data collections...
            {% else %}
            Show all {{ value|length }} {{ key|lower }}...
            {% endif %}
        </a>
    </div>
    {% else %}
    {% with section_name=key.split|join:'-'|lower %}
    <h2 id="{{ section_name }}-heading">
    {% endwith %}
        {{ key }}
    </h2>
    <p class="text-secondary">
        {% if key|lower == 'mixed' or key|lower == 'other' %}
        No {{ key|lower }} data collections.
        {% else %}
        No {{ key|lower }} were found.
        {% endif %}
    </p>
    {% endif %}
</section>
{% endfor %}
{% endblock resource_list_outer %}