{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="col-xl-7 col-lg-9">{{ title }}</h1>
<ul class="list-group col-xl-7 col-lg-9">
    <li class="list-group-item">
        <a href="{% url 'browse:list_organisations' %}">Organisations</a>
        <span class="text-body-secondary">{{ num_current_organisations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_individuals' %}">Individuals</a>
        <span class="text-body-secondary">{{ num_current_individuals }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_projects' %}">Projects</a>
        <span class="text-body-secondary">{{ num_current_projects }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_platforms' %}">Platforms</a>
        <span class="text-body-secondary">{{ num_current_platforms }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_operations' %}">Operations</a>
        <span class="text-body-secondary">{{ num_current_operations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_instruments' %}">Instruments</a>
        <span class="text-body-secondary">{{ num_current_instruments }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_acquisition_capability_sets' %}">Acquisition Capabilities</a>
        <span class="text-body-secondary">{{ num_current_acquisition_capability_sets }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_acquisitions' %}">Acquisitions</a>
        <span class="text-body-secondary">{{ num_current_acquisitions }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_computation_capability_sets' %}">Computation Capabilities</a>
        <span class="text-body-secondary">{{ num_current_computation_capability_sets }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_computations' %}">Computations</a>
        <span class="text-body-secondary">{{ num_current_computations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_processes' %}">Processes</a>
        <span class="text-body-secondary">{{ num_current_processes }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_data_collections' %}">Data Collections</a>
        <span class="text-body-secondary">{{ num_current_data_collections }}</span>
    </li>
</ul>
{% endblock content %}