{% extends 'browse/resource_list_by_type.html' %}
{% load static %}
{% load project_tags %}
{% block scripts %}
<script src="{% static 'browse/data_collection_list.js' %}" defer></script>
{% endblock scripts %}
{% block aside %}
<div class="col-lg-8">
    <section>
        <h2 class="fs-3 mb-3">Types:</h2>
        <ul>
            {% for key, value in resources.items %}
            {% if value %}
            <li class="my-1">
                {% with section_name=key.split|join:'-'|lower %}
                <a href="#{{ section_name }}-heading">
                    {% endwith %}
                    {{ key }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock aside %}
{% block resource_list_inner %}
{% for key, value in resources.items %}
{% if value %}
<section>
    <details open>
        <summary class="data-collection-category" tabindex="-1">
            {% with section_name=key.split|join:'-'|lower %}
            <h2 id="{{ section_name }}-heading" class="d-inline-block">
            {% endwith %}
                {{ key }}
            </h2>
        </summary>
        <div class="list-group-container off-bottom mt-3">
            <div class="list-group-scroll-container">
                <ul class="list-group">
                    {% for dc in value %}
                    <li class="list-group-item">
                        <a href="{{ dc.get_absolute_url }}">{{ dc.name|default:dc.localid }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="shadows"></div>
        </div>
    </details>
</section>
{% endif %}
{% endfor %}
{% endblock resource_list_inner %}