{% extends '404.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Not found' %}
{% endblock breadcrumbs %}
{% block extra_content %}
{% if handle_data %}
<div class="row">
    <div class="col-lg-9">
        <p class="mb-5">
            A handle associated with the deleted resource was found and is described in the table below.
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in handle_data.items %}
                    <tr>
                        <td>{{ key|safe }}</td>
                        <td>{{ value|urlize }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock extra_content %}