{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item list_resources_page_title 'browse:resources' %}
{% breadcrumb_item breadcrumb_item_list_resources_of_type_text list_resources_of_type_view_name %}
{% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
{% breadcrumb_item_active resource.name|default:pithia_identifier.localID %}
{% endwith %}
{% endblock breadcrumbs %}
{% block content %}
{% block messages %}{% endblock messages %}
<h1>{{ resource.name }}</h1>
<div class="d-flex flex-wrap text-muted">
    <span><b>Created:</b> {{ resource_creation_date|date:'l jS N Y, H:i:s' }}</span>
    <span class="mx-2"></span>
    <span><b>Last Modified:</b> {{ resource_last_modification_date|date:'l jS N Y, H:i:s' }}</span>
</div>
{% if resource.description and resource.description|cut:' ' != '' %}
<div class="row">
    <div class="col-lg-8">
        <section>
            <h2 class="mb-3">Description</h2>
            <p class="lead mb-0">{{ resource.description|urlize }}</p>
        </section>
    </div>
</div>
{% endif %}
{% block interaction_methods %}{% endblock interaction_methods %}
<div class="row">
    <div class="col-lg-12">
        <section>
            <h2 class="mb-3">Properties</h2>
            {% if resource %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in resource_human_readable.items %}
                    {% if '_id' not in key %}
                    <tr>
                        <td>{{ key|safe }}</td>
                        <td>{% if value.strip|length == 0 %}<i class="text-muted">None</i>{% else %}{{ value.strip|urlize }}{% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
    </div>
</div>
{% endblock content %}