{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.6/purify.min.js" integrity="sha512-jB0TkTBeQC9ZSkBqDhdmfTv1qdfbWpGE72yJ/01Srq6hEzZIz2xkz1e57p9ai7IeHMwEG7HpzG6NdptChif5Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ server_url_conversion_url|json_script:'server-url-conversion-url' }}
{{ ontology_node_properties_mapping_url|json_script:'ontology-node-properties-mapping-url' }}
<script src="{% static 'browse/resource_url_conversion.js' %}" type="module"></script>
<script src="{% static 'browse/ontology_url_conversion.js' %}" type="module"></script>
<script src="{% static 'browse/data_collection_permissions_loader.js' %}" type="module"></script>
<script src="{% static 'browse/detail.js' %}" type="module"></script>
{% endblock scripts %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text resource_type_list_page_breadcrumb_url_name %}
{% breadcrumb_item resource_list_page_breadcrumb_text resource_list_page_breadcrumb_url_name %}
{% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
{% breadcrumb_item_active resource.name|default:pithia_identifier.localID %}
{% endwith %}
{% endblock breadcrumbs %}
{% block content %}
{% csrf_token %}
<div class="row gy-4 gx-md-5">
    <div class="col-lg-9">
        <div class="resource-detail-top-section">
            <h1>{{ resource.name }}</h1>
            <p class="text-secondary">Last modified at {{ scientific_metadata_last_modification_date_parsed|date:'M jS, Y, H:i e' }}</p>
            {% if 'type' in resource.json %}
            <div class="d-flex flex-wrap column-gap-2">
                {% if '@xlink:href' in resource.json.type %}
                <div>
                    {% with value=resource.json.type|get_key_value:'@xlink:href' %}
                    {% include 'browse/placeholders/ontology_server_url_pill_placeholder.html' %}
                    {% endwith %}
                </div>
                {% else %}
                {% for type in resource.json.type %}
                <div>
                    {% with value=type|get_key_value:'@xlink:href' %}
                    {% include 'browse/placeholders/ontology_server_url_pill_placeholder.html' %}
                    {% endwith %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% block abstract %}{% endblock abstract %}
        <section class="resource-detail-section">
            <h2>{% block description_heading_text %}Description{% endblock description_heading_text %}</h2>
            {% if resource.description and resource.description|cut:' ' != '' %}
            <div class="resource-description-wrapper">
                {% for dp in resource_description_split %}
                <p class="resource-description">{{ dp|urlize }}</p>
                {% endfor %}
            </div>
            <button class="btn btn-light btn-expand-resource-description mt-3">Show more</button>
            {% else %}
            <p class="resource-description text-muted fst-italic">{% block no_description_text %}No description{% endblock no_description_text %}</p>
            {% endif %}
        </section>
        {% block interaction_methods %}{% endblock interaction_methods %}
        {% if resource.permission_urls %}
        <section class="resource-detail-section">
            <h2>Permissions</h2>
            <ul class="list-group">
                {% for p in resource.permission_urls %}
                {% with value=p|get_key_value:'@xlink:href' %}
                <li class="list-group-item permission-list-group-item py-3" data-metadata-server-url={{ value }}>
                    <details name="details-permissions">
                        <summary class="summary-marker-custom">
                            <h3 class="d-inline-block fs-5 fw-normal mb-0">
                                {% with url_extra_classes='ontology-server-url permission-ontology-server-url' %}
                                {% include 'browse/placeholders/server_urL_placeholder_no_link.html' %}
                                {% endwith %}
                            </h3>
                        </summary>
                        <p class="permission-definition mb-0">
                            <span class="placeholder-glow">
                                <span class="placeholder rounded bg-secondary col-7"></span>
                                <span class="placeholder rounded bg-secondary col-7"></span>
                                <span class="placeholder rounded bg-secondary col-7"></span>
                            </span>
                        </p>
                    </details>
                </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% if resource.data_quality_flags or resource.metadata_quality_flags or resource.science_relevance_indicators %}
        <section class="resource-detail-section">
            <h2>Quality Assessment</h2>
            <div class="d-flex flex-column row-gap-4 mt-4">
                {% if resource.data_quality_flags %}
                <div>
                    <h3 class="fs-5">Data Quality Flags</h3>
                    <ul class="list-group">
                        {% for dqf in resource.data_quality_flags %}
                        <li class="list-group-item">
                            {% with value=dqf %}
                            {% if value in ontology_server_urls %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% elif value in resource_server_urls %}
                            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                            {% else %}
                            {{ value.strip|urlize }}
                            {% endif %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if resource.metadata_quality_flags %}
                <div>
                    <h3 class="fs-5">Metadata Quality Flags</h3>
                    <ul class="list-group">
                        {% for mqf in resource.metadata_quality_flags %}
                        <li class="list-group-item">
                            {% with value=mqf %}
                            {% if value in ontology_server_urls %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% elif value in resource_server_urls %}
                            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                            {% else %}
                            {{ value.strip|urlize }}
                            {% endif %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if resource.science_relevance_indicators %}
                <div>
                    <h3 class="fs-5 fw-normal">Science Relevance Indicators</h3>
                    <ul class="list-group">
                        {% for sri in resource.science_relevance_indicators %}
                        <li class="list-group-item">
                            {% with value=sri %}
                            {% if value in ontology_server_urls %}
                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                            {% elif value in resource_server_urls %}
                            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                            {% else %}
                            {{ value.strip|urlize }}
                            {% endif %}
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </section>
        {% endif %}
        <section class="resource-detail-section">
            <details>
                <summary class="summary-marker-custom mb-3">
                    <h2>Further Information and Resources</h2>
                </summary>
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <h3 class="fs-5">Resources</h3>
                        <ul>
                            <li>
                                <a href="{% url resource_download_url_name resource.id %}" class="icon-link icon-link-hover" target="_blank" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-code-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z"/>
                                    </svg>Metadata File (XML)
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if property_table_dict.items|length > 0 %}
                    <div class="col-lg-12">
                        <h3 class="fs-5">Further Information</h3>
                        <div class="table-responsive">
                            <table class="table table-hover resource-property-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Property</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in property_table_dict.items %}
                                    {# Prevent repeating properties like name and description. #}
                                    {% if 'Entry Name' not in key and 'Entry Description' not in key and 'Data Subset Name' not in key and 'Data Subset Description' not in key %}
                                    {# An ID is added to the <tr> for operational modes to allow them to be linked to directly. #}
                                    <tr {% if 'Instrument Operational Mode' in key and 'Id' in key %}id="{{ value.strip }}"{% endif %}>
                                        <td>{{ key|safe }}</td>
                                        <td>
                                            {% if not value.strip %}
                                            <i class="text-muted">Not used</i>
                                            {% elif value in ontology_server_urls %}
                                            {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                                            {% elif value in resource_server_urls %}
                                            {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                                            {% else %}
                                            {{ value.strip|urlize }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12">
                        <div class="table-responsive rounded">
                            <table class="table table-borderless table-light resource-key-details mb-0 p-3">
                                <caption class="caption-top pt-lg-0 fs-5">Metadata Information</caption>
                                <tbody>
                                    <tr>
                                        <td><b>Editor</b></td>
                                        <td>{{ resource.institution_id }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Version</b></td>
                                        <td>{{ resource.identifier.PITHIA_Identifier.version }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Created</b></td>
                                        <td>{{ scientific_metadata_creation_date_parsed|date:'l jS N Y, H:i' }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Last Modified</b></td>
                                        <td>{{ scientific_metadata_last_modification_date_parsed|date:'l jS N Y, H:i' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </details>
        </section>
    </div>
    <div class="col-lg-3">
        <div class="row gy-4">
            <div class="col-lg-12 d-flex flex-column row-gap-5">
                {% if resource.related_parties %}
                <section class="py-0">
                    <details open>
                        <summary class="summary-marker-custom">
                            <h2 class="fs-5">Responsible Parties</h2>
                        </summary>
                        <div class="bg-light p-3">
                            <dl class="d-flex flex-column row-gap-4 mb-0">
                                {% for rp in resource.related_parties %}
                                <div>
                                    <dt class="mb-2">
                                        {% with value=rp.role %}
                                        {% if value in ontology_server_urls %}
                                        {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                                        {% elif value in resource_server_urls %}
                                        {% include 'browse/placeholders/resource_server_url_placeholder_no_link.html' %}
                                        {% else %}
                                        {{ value.strip|urlize }}
                                        {% endif %}
                                        {% endwith %}
                                    </dt>
                                    <dd>
                                        <ul class="mb-0">
                                            {% for p in rp.parties %}
                                            <li>
                                                {% with value=p %}
                                                {% if value in ontology_server_urls %}
                                                {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                                                {% elif value in resource_server_urls %}
                                                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                                                {% else %}
                                                {{ value.strip|urlize }}
                                                {% endif %}
                                                {% endwith %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </div>
                                {% endfor %}
                            </dl>
                        </div>
                    </details>
                </section>
                {% endif %}
                {% if 'project' in resource.json or 'om:procedure' in resource.json %}
                <section class="py-0">
                    <details>
                        <summary class="summary-marker-custom">
                            <h2 class="fs-5">See Also</h2>
                        </summary>
                        <div class="d-flex flex-column row-gap-3 bg-light rounded p-3">
                            {% if 'project' in resource.json %}
                            <div>
                                <h3 class="fs-6">Projects</h3>
                                <ul class="mb-0">
                                    {% for project in resource.json.project %}
                                    <li>
                                        {% with value=project|get_key_value:'@xlink:href' %}
                                        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                                        {% endwith %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% if 'om:procedure' in resource.json %}
                            <div>
                                <h3 class="fs-6">Procedure</h3>
                                <ul class="mb-0">
                                    <li>
                                        {% with value=resource.json|get_key_value:'om:procedure'|get_key_value:'@xlink:href' %}
                                        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </details>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}