{% extends 'browse/detail.html' %}
{% load project_tags %}
{% block messages %}
{% if messages %}
<div class="registration-alerts mb-3">
    {% for message in messages %}
    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock messages %}
{% block interaction_methods %}
<section>
    <h2 class="mb-3">Interact</h2>
    <div class="row">
        <div class="col-lg-12">
            {% if api_interaction_methods|length > 0 or link_interaction_methods|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover interaction-method-table">
                    <thead>
                        <tr>
                            <th>Interaction Method</th>
                            <th>Description</th>
                            <th>Data Format</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for source in link_interaction_methods %}
                        {% with online_resource=source.OnlineResource %}
                        <tr>
                            <td>
                                {% if 'serviceFunction' in online_resource %}
                                <div class="metadata-server-url">
                                    <div class="placeholder-wrapper">
                                        <div class="placeholder-wave">
                                            <span class="placeholder placeholder-sm col-12 bg-secondary"></span>
                                        </div>
                                    </div>
                                    {{ online_resource.serviceFunction|get_key_value:'@xlink:href'|urlize }}
                                </div>
                                {% else %}
                                Linkage
                                {% endif %}
                            </td>
                            <td>
                                {{ online_resource.description|urlize }}
                            </td>
                            <td>
                                {% for dataFormat in online_resource.dataFormat %}
                                <div class="metadata-server-url">
                                    <div class="placeholder-wrapper">
                                        <div class="placeholder-wave">
                                            <span class="placeholder placeholder-sm col-12 bg-secondary"></span>
                                        </div>
                                    </div>
                                    {{ dataFormat|get_key_value:'@xlink:href'|urlize }}
                                </div>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <a href="{{ online_resource.linkage|get_key_value:'gmd:URL' }}" target="_blank" rel="noopener noreferrer">
                                        {{ online_resource.name }}
                                    </a>
                                    <small class="text-secondary">(link opens in new tab)</small>
                                </div>
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        {% for method in api_interaction_methods %}
                        <tr>
                            <td>API</td>
                            <td>
                                {% if 'description' in method.config %}
                                {{ method.config.description|urlize }}
                                {% else %}
                                <i class="text-muted">None</i>
                                {% endif %}
                            </td>
                            <td>N/A</td>
                            <td class="text-center">
                                <a href="{% url 'present:interact_with_data_collection_through_api' data_collection_id %}" target="_blank" rel="noopener noreferrer">
                                    Open API Interface in new tab
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <i class="text-muted">This data collection has no interaction methods.</i>
            {% endif %}
        </div>
    </div>
</section>
{% endblock interaction_methods %}