{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<ul class="card-menu list-unstyled">
    <li>
        <a href="{% url 'browse:data_collection_related_resource_types' %}" class="card">
            {{ data_collection_related_resource_types_page_title }}
        </a>
    </li>
    <li>
        <a href="{% url 'browse:static_dataset_tree' %}" class="card">
            All Static Datasets
        </a>
    </li>
    <li>
        <a href="{% url 'browse:list_workflows' %}" class="card">
            All Workflows
        </a>
    </li>
</ul>
{% endblock content %}