{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<div class="card-menu">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'browse:data_collection_related_resource_types' %}">
                {{ data_collection_related_resource_types_page_title }}
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="{% url 'browse:catalogue_related_resource_types' %}">
                {{ catalogue_related_resource_types_page_title }}
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="{% url 'browse:list_workflows' %}">
                <span>Workflows</span>
            </a>
        </div>
    </div>
</div>
{% endblock content %}