{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item breadcrumb_item_list_resource_namespaces_text url_namespace|add:':list_resource_namespaces' %}
{% breadcrumb_item_active namespace %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
{% if resources_list|length > 0 %}
<ul class="list-group">
    {% for resource in resources_list %}
    {% with pithia_identifier=resource.identifier|get_key_value:"pithia:Identifier" %}
    {% with local_id=pithia_identifier.localID namespace=pithia_identifier.namespace %}
    <li class="list-group-item"><a href="{% url url_namespace|add:':detail' namespace local_id %}">{{ resource.name|default:local_id }}</a></li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>There are no {{ resource_type_plural|lower }} for the {{ namespace }} namespace.</p>
{% endif %}
{% endblock content %}