{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item 'Resources' 'browse:resources' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<p class="lead text-muted">
    {{ description }}
</p>
{% if resources_list|length > 0 %}
<ul class="list-group">
    {% for resource in resources_list|dictsort:'name' %}
    {% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
    <li class="list-group-item"><a href="{% url resource_detail_view_name resource.id %}">{{ resource.name|default:pithia_identifier.localID }}</a></li>
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>No {{ resource_type_plural|lower }} have been registered with the e-Science Centre.</p>
{% endif %}
{% endblock content %}