{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item 'Ontology' 'browse:ontology' %}
{% breadcrumb_item category_readable 'browse:ontology_category_terms_list' category %}
{% breadcrumb_item_active resource_dictionary.prefLabel %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ resource_dictionary.prefLabel }}</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="table-responsive">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in resource_predicates_no_prefix %}
                    {% if p != 'type' and p != 'versionInfo' and p != 'date' %}
                    <tr>
                        <td>{{ resource_predicates_readable|get_key_value:p }}</td>
                        <td>{{ resource_dictionary|get_key_value:p }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}