{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item 'Ontology' 'browse:ontology' %}
{% breadcrumb_item breadcrumb_item_list_resources_of_type_text list_resources_of_type_view_name %}
{% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
{% breadcrumb_item_active resource.name|default:pithia_identifier.localID %}
{% endwith %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ resource.name }}</h1>
<div class="row">
    <div class="col-lg-8">
        <section>
            <h2 class="mb-3">Description</h2>
            <p class="lead">{{ resource.description }}</p>
        </section>
    </div>
</div>
{% if "result" in resource %}
<section>
    <h2 class="mb-3">Online Resources</h2>
    <div class="accordion" id="accordion-resource">
        {% with pithia_collection=resource.result|get_key_value:"pithia:CollectionResults" %}
        {% for s in pithia_collection.source %}
        {% with online_resource=s.OnlineResource %}
        <div class="accordion-item">
            <h3 class="accordion-header" id="or-heading-{{ forloop.counter }}">
                <button class="accordion-button{% if forloop.counter != 1 %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#or-collapse-{{ forloop.counter }}"
                    aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}" aria-controls="or-collapse-{{ forloop.counter }}">
                    {{ online_resource.name }}
                </button>
            </h3>
            <div id="or-collapse-{{ forloop.counter }}" class="accordion-collapse collapse{% if forloop.counter == 1 %} show{% endif %}" aria-labelledby="or-heading-{{ forloop.counter }}"
                data-bs-parent="#accordion-resource">
                <div class="accordion-body">
                    <h4>Service Function</h4>
                    <p><a href="{{ online_resource.serviceFunction|get_key_value:"@xlink:href" }}">{{ online_resource.serviceFunction|get_key_value:"@xlink:href" }}</a></p>
                    <h4>Linkage</h4>
                    <h5 class="fs-6 fst-italic">URL</h5>
                    <p><a href="{{ online_resource.linkage.URL|get_key_value:"#text" }}">{{ online_resource.linkage.URL|get_key_value:"#text" }}</a>
                    </p>
                    <h5 class="fs-6 fst-italic">XML Namespace</h5>
                    <p><a href="{{ online_resource.linkage.URL|get_key_value:"@xmlns" }}">{{ online_resource.linkage.URL|get_key_value:"@xmlns" }}</a>
                    </p>
                    <h4>Protocol</h4>
                    <p>{{ online_resource.protocol }}</p>
                    <h4>Description</h4>
                    <p>{{ online_resource.description }}</p>
                    <h4>Data Format</h4>
                    <p><a href="{{ online_resource.dataFormat|get_key_value:"@xlink:href" }}">{{ online_resource.dataFormat|get_key_value:"@xlink:href" }}</a>
                    </p>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        {% endwith %}
    </div>
</section>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <section>
            <h2 class="mb-3">Properties</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in resource_flattened.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value|urlize }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock content %}