{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item_active 'Ontology' %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">PITHIA Ontology</h1>
<p class="lead">
    Ontology categories can be further expanded in the list below.
</p>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'browse:ontology_category_terms_list' 'component' %}">Component</a>
    </li>
    <li class="list-group-item">
        Composite Observed Property
    </li>
    <li class="list-group-item">
        Compressed Representation
    </li>
    <li class="list-group-item">
        Computation Type
    </li>
    <li class="list-group-item">
        Co-ordinate Reference System
    </li>
    <li class="list-group-item">
        Dimensionality Instance
    </li>
    <li class="list-group-item">
        Dimensionality Timeline
    </li>
    <li class="list-group-item">
        Feature of Interest
    </li>
    <li class="list-group-item">
        Instrument Type
    </li>
    <li class="list-group-item">
        Interaction
    </li>
    <li class="list-group-item">
        Licence
    </li>
    <li class="list-group-item">
        Measurand
    </li>
    <li class="list-group-item">
        Observed Property
    </li>
    <li class="list-group-item">
        Phenomenon
    </li>
    <li class="list-group-item">
        Platform Type
    </li>
    <li class="list-group-item">
        Projection
    </li>
    <li class="list-group-item">
        Propagation Mode
    </li>
    <li class="list-group-item">
        Qualifier
    </li>
    <li class="list-group-item">
        Related Observation Role
    </li>
    <li class="list-group-item">
        Related Party Role
    </li>
    <li class="list-group-item">
        Result Accumulation
    </li>
    <li class="list-group-item">
        Result Data Format
    </li>
    <li class="list-group-item">
        Service Function
    </li>
    <li class="list-group-item">
        Status
    </li>
    <li class="list-group-item">
        Unit
    </li>
</ul>
{% endblock content %}