{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item 'Ontology' 'browse:ontology' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<div class="col-lg-12">
    {% with ontology_component="features-of-interest" %}
    {% include "browse/ontology_tree_container_template.html" %}
    {% endwith %}
</div>
{% endblock content %}