{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text resource_type_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
{% if messages %}
<div class="registration-alerts mb-3">
    {% for message in messages %}
    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<h1>{{ title }}</h1>
<p class="text-muted">
    {{ description }}
</p>
{% if not resources %}
<p>{{ empty_resource_list_text }}</p>
{% else %}
<form action="{{ request.path }}" method="GET" class="p-3 mb-4">
    <fieldset class="mb-3">
        <legend class="d-flex align-items-center me-2">
            <img src="{% static 'list.svg' %}" alt="list" style="height: 1.3rem;" class="me-2">
            Group by
        </legend>
        {% for value, text in form.group_by.field.choices %}
        <div class="me-3">
            <div class="form-check">
                <input
                    type="radio"
                    name="{{ form.group_by.name }}"
                    id="id_{{ form.group_by.name }}_{{ forloop.counter0 }}"
                    value="{{ value }}"
                    class="form-check-input"
                    {% if form.group_by.value == value %}
                    checked
                    {% endif %}>
                <label
                    for="id_{{ form.group_by.name }}_{{ forloop.counter0 }}"
                    class="form-check-label">{{ text }}</label>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% block resource_list_inner %}
{% with resource_list=resources %}
<ul class="list-group mb-3">
    {% for resource in resources %}
    <li class="list-group-item">
        <a href="{{ resource.get_absolute_url }}">{{ resource.name|default:resource.localid }}</a>
    </li>
    {% endfor %}
</ul>
{% endwith %}
{% endblock resource_list_inner %}
{% endif %}
{% comment %} {% if resource_list|length > 0 %}
<ul class="list-group">
    {% for resource in resource_list|dictsort:'name' %}
    {% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
    <li class="list-group-item"><a href="{% url resource_detail_page_url_name resource.id %}">{{ resource.name|default:pithia_identifier.localID }}</a></li>
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>{{ empty_resource_list_text }}</p>
{% endif %} {% endcomment %}
{% endblock content %}