{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text resource_type_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>{{ title }}</h1>
        <p class="mb-4">
            {{ description }}
        </p>
    </div>
    {% block aside %}{% endblock aside %}
    <div class="col-lg-12">
        {% block resource_list_outer %}
        {% if not resources %}
        <p class="text-secondary">{{ empty_resource_list_text }}</p>
        {% else %}
        {% block resource_list_inner %}
        {% with resource_list=resources %}
        <ul class="list-group">
            {% for resource in resources %}
            <li class="list-group-item">
                <a href="{{ resource.get_absolute_url }}">{{ resource.name|default:resource.localid }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endwith %}
        {% endblock resource_list_inner %}
        {% endif %}
        {% endblock resource_list_outer %}
    </div>
</div>
{% endblock content %}