{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'browse:list_organisations' %}">
            <span>Organisations</span>
            <span class="text-muted">{{ num_current_organisations }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_individuals' %}">
            <span>Individuals</span>
            <span class="text-muted">{{ num_current_individuals }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_projects' %}">
            <span>Projects</span>
            <span class="text-muted">{{ num_current_projects }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_platforms' %}">
            <span>Platforms</span>
            <span class="text-muted">{{ num_current_platforms }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_operations' %}">
            <span>Operations</span>
            <span class="text-muted">{{ num_current_operations }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_instruments' %}">
            <span>Instruments</span>
            <span class="text-muted">{{ num_current_instruments }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_acquisition_capabilities' %}">
            <span>Acquisition Capabilities</span>
            <span class="text-muted">{{ num_current_acquisition_capabilities }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_acquisitions' %}">
            <span>Acquisitions</span>
            <span class="text-muted">{{ num_current_acquisitions }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_computation_capabilities' %}">
            <span>Computation Capabilities</span>
            <span class="text-muted">{{ num_current_computation_capabilities }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_computations' %}">
            <span>Computations</span>
            <span class="text-muted">{{ num_current_computations }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_processes' %}">
            <span>Processes</span>
            <span class="text-muted">{{ num_current_processes }}</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'browse:list_data_collections' %}">
            <span class="text-center">Data Collections</span>
            <span class="text-muted">{{ num_current_data_collections }}</span>
        </a>
    </li>
</ul>
{% endblock content %}