{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
        <ol class="list-group">
            <li class="list-group-item"><a href="{% url 'browse:list_organisations' %}">Organisations</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_individuals' %}">Individuals</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_projects' %}">Projects</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_platforms' %}">Platforms</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_operations' %}">Operations</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_instruments' %}">Instruments</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_acquisitions' %}">Acquisitions</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_computations' %}">Computations</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_processes' %}">Processes</a></li>
            <li class="list-group-item"><a href="{% url 'browse:list_data_collections' %}">Data Collections</a></li>
        </ol>
    </div>
</div>
{% endblock content %}