{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item_active 'Resources' %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">Resource Types</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 card-menu">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:acquisitions:list_resource_namespaces' %}">Acquisitions</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:computations:list_resource_namespaces' %}">Computations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:data-collections:list_resource_namespaces' %}">Data Collections</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:individuals:list_resource_namespaces' %}">Individuals</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:instruments:list_resource_namespaces' %}">Instruments</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:operations:list_resource_namespaces' %}">Operations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:organisations:list_resource_namespaces' %}">Organisations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:platforms:list_resource_namespaces' %}">Platforms</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:processes:list_resource_namespaces' %}">Processes</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:projects:list_resource_namespaces' %}">Projects</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}