{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item browse_index_page_breadcrumb_text 'browse:index' %}
{% breadcrumb_item resource_type_list_page_breadcrumb_text resource_type_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
{% if messages %}
<div class="registration-alerts mb-3">
    {% for message in messages %}
    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<h1>{{ title }}</h1>
<p class="lead text-muted">
    {{ description }}
</p>
{% if resource_list|length > 0 %}
<ul class="list-group">
    {% for resource in resource_list|dictsort:'name' %}
    {% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
    <li class="list-group-item"><a href="{% url resource_detail_page_url_name resource.id %}">{{ resource.name|default:pithia_identifier.localID }}</a></li>
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>{{ empty_resource_list_text }}</p>
{% endif %}
{% endblock content %}