{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Browse' 'browse:index' %}
{% breadcrumb_item_active 'XML Schemas' %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">XML Schemas</h1>
<p class="lead">
    Interacting with a link below will open a schema in a new tab.
</p>
<ul class="list-group">
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/catalogue.xsd" target="_blank" rel="noopener noreferrer">Catalogue Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/collectionResults.xsd" target="_blank" rel="noopener noreferrer">Collection Results Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/dataCollection.xsd" target="_blank" rel="noopener noreferrer">Data Collection Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/featureOfInterest.xsd" target="_blank" rel="noopener noreferrer">Feature of Interest Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/pithia.xsd" target="_blank" rel="noopener noreferrer">PITHIA Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/procedure.xsd" target="_blank" rel="noopener noreferrer">Procedure Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/project.xsd" target="_blank" rel="noopener noreferrer">Project Schema</a>
    </li>
    <li class="list-group-item">
        <a href="https://metadata.pithia.eu/schemas/2.2/utilities.xsd" target="_blank" rel="noopener noreferrer">Utilities Schema</a>
    </li>
</ul>
{% endblock content %}