{% if resource.properties.related_parties %}
<section id="responsible-parties-top-section">
    <h2 class="visually-hidden">Responsible Parties</h2>
    <dl class="d-flex flex-sm-row flex-column flex-wrap column-gap-5 row-gap-3 mb-0">
        {% for rp in resource.properties.related_parties %}
        <div>
            <dt class="mb-0">
                {% with value=rp.role %}
                {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                {% endwith %}
            </dt>
            {% for p in rp.parties %}
            <dd class="mb-0">
                {% with value=p url_text_extra_classes='link-plain-by-default' %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
            </dd>
            {% endfor %}
        </div>
        {% endfor %}
    </dl>
</section>
{% endif %}