{% extends 'metadata_editor/components/standard_identifier_row_content_template.html' %}

{% block si_authority_field_label_tag %}
{{ form.capability_link_standard_identifier_authority.label_tag }}
{% endblock si_authority_field_label_tag %}
{% block si_authority_field %}
{{ form.capability_link_standard_identifier_authority }}
{% endblock si_authority_field %}

{% block si_field_label_tag %}
{{ form.capability_link_standard_identifier.label_tag }}
{% endblock si_field_label_tag %}
{% block si_field %}
{{ form.capability_link_standard_identifier }}
{% endblock si_field %}

{% block remove_standard_identifier_btn_class %}remove-clsirow-button{% endblock remove_standard_identifier_btn_class %}