{% if resource.properties.features_of_interest %}
<section class="resource-detail-aside-section resource-detail-aside-key-section">
    <details name="resource-detail-aside-section">
        <summary class="summary-marker-custom">
            <h2 class="fs-5">Features of Interest</h2>
        </summary>
        <div class="resource-detail-aside-subsection">
            <ul>
                {% for foi in resource.properties.features_of_interest %}
                <li>
                    {% with value=foi %}
                    {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </details>
</section>
{% endif %}