{% load project_tags %}
{% if related_registrations %}
<section id="related-aside-section" class="resource-detail-aside-section">
    <details>
        <summary class="summary-marker-custom">
            <h2 class="d-inline-block">Related</h2>
        </summary>
        <ul class="list-unstyled mb-0">
            {% for heading_text, resource_url_list in related_registrations.items %}
            <li class="list-group-item px-0 py-3 {% if forloop.last %}pb-0{% endif %}">
                <h3 class="fs-6 fw-semibold">{{ heading_text }}</h3>
                <ul class="mt-3 mb-0">
                    {% for resource_url in resource_url_list|wrap_in_list_if_dict %}
                    <li>
                        {% with value=resource_url %}
                        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </details>
</section>
{% endif %}