{% load project_tags %}
{% if 'project' in resource.json or 'om:procedure' in resource.json %}
<section class="resource-detail-aside-section">
    <details>
        <summary class="summary-marker-custom">
            <h2 class="fs-5">Related</h2>
        </summary>
        <div class="d-flex flex-column row-gap-3 bg-light rounded p-3">
            {% if 'project' in resource.json %}
            <div>
                <h3 class="fs-6">Projects</h3>
                <ul class="mb-0">
                    {% for project in resource.json.project %}
                    <li>
                        {% with value=project|get_key_value:'@xlink:href' %}
                        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% with value=resource.json|get_key_value:'om:procedure'|get_key_value_or_blank_string:'@xlink:href' %}
            {% if value %}
            <div>
                <h3 class="fs-6">Procedure</h3>
                <ul class="mb-0">
                    <li>
                        {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                    </li>
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </details>
</section>
{% endif %}