html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-logo {
    width: 5rem;
}

.tree-container {
    padding: 1.5rem 1rem;
    border: 1px solid #CCC;
    border-radius: 0.3rem;
    max-height: 32rem;
    overflow-y: auto;
}

.collapse .tree-container {
    border: none;
    max-height: 20rem;
}

ul.tree {
    padding-left: 0.5rem;
}

ul.tree,
ul.tree ul {
    list-style-type: none;
}

