/* || General styles */

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section {
    padding: 1rem 0;
}

.pithia-blue {
    color: var(--pithia-blue) !important;
}

header .nav-link,
.breadcrumb-item a,
.accordion-button a,
.card-menu a,
.list-group-item > a,
a.support-link {
    text-decoration: none;
}

a:not(.btn, .header-logo-link, footer a),
a:hover:not(.btn, .header-logo-link, footer a),
a:focus:not(.btn, .header-logo-link, footer a) {
    color: var(--pithia-blue);
}

a:not(
    .btn,
    .header-logo-link,
    footer a,
    header a,
    .breadcrumb a,
    .card-menu a,
    a.dropdown-item,
    a.support-link):visited {
    color: #551A8B !important;
}

a {
    word-wrap: break-word;
}

a:not(.btn, .nav-link):hover,
a:not(.btn, .nav-link):focus,
.logout-button:hover,
.logout-button:focus {
    text-decoration: underline;
}

a[href^="http"]:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a)::after,
.card-menu a[href^="http"]:not([href*="https://esc.pithia.eu"]) span::after {
    display: inline-block;
    height: 1em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 75% auto;
    filter: invert(21%) sepia(98%) saturate(2462%) hue-rotate(181deg) brightness(101%) contrast(101%);
    /* alternative text rules */
    content: '';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em; /* the width of the icon */
}

a[href^="http"].btn-primary:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a)::after,
a[href^="http"].btn-secondary:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a)::after {
    filter: invert(98%) sepia(2%) saturate(10%) hue-rotate(41deg) brightness(103%) contrast(105%);
}

a[href^="http"].btn-outline-dark:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a)::after {
    transition: filter 150ms ease-in-out;
}

a[href^="http"].btn-outline-dark:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a):hover::after,
a[href^="http"].btn-outline-dark:not([href*="https://esc.pithia.eu"]):not(footer a, .card-menu a):focus::after {
    filter: invert(100%) sepia(2%) saturate(7490%) hue-rotate(224deg) brightness(107%) contrast(99%);
}

h1 {
    color: var(--pithia-blue);
    font-weight: bold;
}

/* .card-menu, .list-group combinators */
h1 + .card-menu,
h2 + .card-menu {
    margin-top: 1.5rem;
}

h1 + .list-group,
h2 + .list-group:not(.file-validation-status-list) {
    margin-top: 1.5rem;
}

h3.opblock-tag p {
    font-size: 1rem;
}

p {
    font-size: 100%;
    line-height: 1.5;
}

/* Utilities */
.lead-sm {
    font-size: 1.1rem;
}

.list-style-none {
    list-style: none;
}

.sidemenu li a {
    text-decoration: none;
}

.sidemenu li {
    margin-bottom: 0.5rem;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.separator {
    color: #dee2e6;
}

/* Colours */
.pithia-theme {
    color: white;
    background-color: var(--pithia-blue);
}

/* Header class */
.header-logo {
    /* This is the same logo width used with the official PITHIA-NRF website */
    width: 97px;
}

header .dropdown-item {
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
}

.dropdown-item:active img {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(75deg) brightness(99%) contrast(106%);
}

.dropdown-item:active {
    background-color: var(--pithia-blue);
    color: white !important;
    transition-property: none;
}

.user-dropdown {
    width: 100%;
    text-align: center;
}

.user-dropdown .dropdown-menu {
    width: 100%;
}

.user-dropdown .institution-for-login-session {
    white-space: pre-wrap;
    line-clamp: 3;
    overflow-wrap: break-word;
}

.user-dropdown .dropdown-menu li,
.user-dropdown .dropdown-menu li a,
.user-dropdown .dropdown-menu li button {
    width: 100%;
}

.user-dropdown .dropdown-menu li a:hover,
.user-dropdown .dropdown-menu li button:hover {
    text-decoration: underline;
}

.user-dropdown .logout-button {
    display: flex;
    align-items: center;
}

.user-dropdown .logout-button img {
    height: 1.2rem;
}

/* Breadcrumb */
.breadcrumb-wrapper {
    padding: 0.5em 0;
    margin-bottom: 2rem;
    background-color: aliceblue;
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-item::before {
    /* Only using padding because SVG
    is being used as a divider. */
    padding-top: 0.05rem;
}

/* Footer */
.footer-link-separator {
    color: #dee2e6;
}

/* Home page */
.card-menu {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: 1fr;
}

.card-menu .card {
    box-shadow: 0 .1rem 0.2rem rgba(0,0,0,.15) !important;
    transition: box-shadow 150ms linear, background-color 150ms linear;
    height: 10rem;
}

.card-menu span {
    margin-inline: 0.5rem;
}

.card-menu .card:hover,
.card-menu .card:focus {
    background-color: rgb(245, 248, 251);
}

.card-menu .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.card-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    word-break: keep-all;
    hyphens: auto;
    overflow: hidden;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 2rem;
}

.card-menu a svg {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
}

.alert-institution-setting svg:first-child {
    width: 1.2rem;
    height: 1.2rem;
}

/* Resource detail page */
.col-lg-12 .resource-key-details td:first-child,
.interaction-method-table td:first-child,
.interaction-method-table td:nth-child(3),
.interaction-method-table td:nth-child(4),
.ontology-term-table td:first-child,
.resource-property-table td:first-child {
    width: 20%;
}

.col-lg-3 .resource-key-details {
    font-size: 0.875rem;
}

.resource-description {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 1.1rem;
}

/* Resource management list page */
.resource-management-table td:first-child {
    width: 40%;
}

.resource-management-table td:last-child {
    width: 1px;
}

.resource-management-table tr {
    padding-inline: 2rem;
}

.resource-management-table tr td:first-child {
    max-width: 20rem;
    word-wrap: break-word;
}

.resource-identifier-short-text {
    word-break: break-all;
}

.update-buttons {
    gap: 0.5rem;
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: min-content;
}

.action-buttons button,
.action-buttons a {
    height: 100%;
}

.action-buttons a img {
    width: 1.8rem;
}

.action-buttons .dropdown-item {
    padding-block: 0.5rem;
}

.btn-view-xml {
    display: none;
}

/* Register page */
.messages-container {
    display: flex;
    flex-direction: column;
}

.metadata-file-for-reg-name {
    font-size: 1.1rem;
    font-style: italic;
}

.file-validation-status-list-section:has(ul:empty) .file-validation-status-list-heading {
    color: rgb(108, 117, 125);
}

.file-validation-status-list-section:has(ul:not(:empty)) .file-validation-status-list-heading {
    color: #000;
}

#file-upload-form label {
    margin-bottom: 0.5rem;
}

.card-header img,
.accordion-button img {
    width: 1.5rem;
}

.accordion-button:not(.collapsed) img {
    filter: invert(24%) sepia(75%) saturate(5610%) hue-rotate(211deg) brightness(98%) contrast(91%);
}

.file-validation-status img {
    width: 1rem;
}

.file-validation-status img[alt="tick"] {
    width: 1.2rem;
}

.file-validation-status-list:empty::before {
    content: 'Uploaded files will appear here.';
    color: gray;
}

.form-group {
    padding: 1rem 0;
}

.interaction-methods-form-container {
    max-width: 75ch;
}

.file-upload-validation-msgs {
    max-width: 75ch;
    row-gap: 1rem;
}

/* Update - file upload page */
hgroup p.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
hgroup p {
    max-width: 45ch;
}

/* Skeleton loading animation for metadata server urls */
.metadata-server-url {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.metadata-server-url.updating {
    opacity: 0;
}

.metadata-server-url a {
    display: none;
}

.metadata-server-url .placeholder-wrapper .placeholder {
    border-radius: 12px;
}

/* View resource as XML page */
.xml-display-area {
    overflow-x: scroll;
}

.xml-file-download-btn img {
    height: 1.1rem;
}

/* Search page */
.observed-properties-tree-search-container-wrapper {
    border: var(--tree-search-container-border-width) solid var(--bs-gray-300);
    border-radius: 0.3rem;
}

.tree-search-terms {
    transition: opacity .3s ease-in-out;
}

.tree-search-terms .spinner-grow-container {
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-gray-300);
    height: var(--tree-search-loading-spinner-height);
}

.tree-search-terms li.search-no-match {
    display: none;
}

.tree-search-box {
    margin-bottom: 1rem;
}

#observed-properties-tree-search-terms li.filter-no-match {
    display: none;
}

#accordion-filters .accordion-body {
    max-height: 100%;
    padding: 0;
}

#accordion-filters .tree-search-container {
    padding: var(--tree-search-container-padding-y) var(--tree-search-container-padding-x);
}

#accordion-filters .tree-search-terms {
    border: none;
}

#accordion-filters .tree-search-terms .spinner-grow-container {
    height: var(--tree-search-loading-spinner-in-accordion-height);
}

ul.tree {
    padding-left: 0.5rem;
}

ul.tree,
ul.tree ul {
    list-style-type: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#search-form-progress {
    position: relative;
    pointer-events: none;
    
    /* margin-bottom: 30px; */
}

#search-form-progress-bar {
    position: absolute;
    background: var(--pithia-blue);
    height: 5px;
    width: 0%;
    top: 50%;
    left: 0;
}

#search-form-progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#search-form-progress-num::before {
    content: "";
    background-color: lightgrey;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 5px;
    height: 5px;
    width: calc(100% - 10px);
    z-index: -1;
}

#search-form-progress-num .step {
    border: 3px solid lightgrey;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

#search-form-progress-num .step.active {
    border-color: var(--pithia-blue);
    background-color: var(--pithia-blue);
    color: white;
}

.search-form-controls {
    row-gap: 0.5rem;
}

.select-all-checkbox-container {
    transition: opacity 500ms ease;
}

/* Ontology browser */

.ontology-term-description {
    max-width: 80ch;
}

.ontology-browser-terms ul.tree {
    --spacing: 1.5rem;
    --radius: 10px;
}

.ontology-browser-terms ul.tree ul li {
    border-left : 2px solid #ddd;
    padding-left: 1rem;
}

.ontology-browser-terms ul.tree li:last-child hr,
.ontology-browser-terms ul.tree ul li:last-child hr {
    display: none;
}

.ontology-browser-terms ul.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

/* Support page */
.support-page-description {
    max-width: 70ch;
}

/* Skeleton loader while search terms are loading */
@keyframes loading {
    to {
        background-position:
            350% 0,
            var(--line-1-position),
            var(--line-2-position),
            var(--line-3-position),
            var(--line-4-position),
            var(--line-5-position),
            var(--circle-1-position),
            var(--circle-2-position),
            var(--circle-3-position),
            var(--circle-4-position),
            var(--circle-5-position),
            0 0;
    }
}

.tree-search-terms:empty {
    cursor: wait;
    width: var(--card-width);
    height: var(--card-height);
    background-image:
        linear-gradient(
            90deg,
            transparent, 
            #fff, 
            transparent
        ),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--card-skeleton);

    background-size:
        var(--blur-size),
        var(--line-1-width) var(--line-height),
        var(--line-2-width) var(--line-height),
        var(--line-3-width) var(--line-height),
        var(--line-4-width) var(--line-height),
        var(--line-5-width) var(--line-height),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        100% 100%;

    background-position:
        -150% 0,
        var(--line-1-position),
        var(--line-2-position),
        var(--line-3-position),
        var(--line-4-position),
        var(--line-5-position),
        var(--circle-1-position),
        var(--circle-2-position),
        var(--circle-3-position),
        var(--circle-4-position),
        var(--circle-5-position),
        0 0;
    background-repeat: no-repeat;
    animation: loading 1s infinite;
}

/* Search results */
.search-result-description {
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
    .file-upload-container {
        max-width: 75ch;
    }
    
    .user-dropdown {
        text-align: end;
    }
}

@media (min-width: 768px) {
    .user-dropdown .dropdown-menu {
        min-width: 20rem;
    }
}

@media (min-width: 576px) {
    .action-buttons {
        grid-template-columns: 1fr 1fr;
    }

    .btn-view-xml {
        display: inline;
    }

    .dropdown-item-container-view-xml {
        display: none;
    }

    .ontology-browser-terms ul.tree ul li {
        padding-left: 2rem;
    }
}

@media (min-width: 450px) {
    .card-menu a {
        padding: 1rem 1.25rem;
    }
}

@media (min-width: 332px) {
    .user-dropdown {
        display: block;
    }

    .user-dropdown .dropdown-menu {
        max-width: 20rem;
    }
}

@media (pointer: coarse) {
    .tree-search-terms .form-check {
        padding-block: 0.25rem;
    }
}


:root {
    --tree-search-container-max-height: 26rem;
    --tree-search-container-in-accordion-max-height: 15.5rem;
    --tree-search-loading-spinner-height: 16rem;
    --tree-search-loading-spinner-in-accordion-height: 8rem;
    --tree-search-container-border-width: 1px;
    --tree-search-container-padding-y: 1rem;
    --tree-search-container-padding-x: 1rem;
    --pithia-blue: #007bb1;

    /* Search page skeleton loader variables */
    --card-height: calc((var(--line-height) * 6) + (var(--line-spacing) * 5) + var(--card-y-padding));
    --card-width: 280px;
    --card-y-padding: 8px;
    --card-x-padding: 8px;
    --card-skeleton: linear-gradient(transparent var(--card-height), transparent 0);
    --skeleton-colour: #ddd;

    --line-height: 12px;
    --line-spacing: 15px;
    --line-x-position: calc(var(--line-height) + 8px + var(--card-x-padding));
    --line-skeleton: linear-gradient(var(--skeleton-colour) var(--line-height), var(--skeleton-colour) 0);
    
    --line-1-width: 120px;
    --line-1-y-position: var(--card-y-padding);
    --line-1-position: var(--line-x-position) var(--line-1-y-position);

    --line-2-width: 150px;
    --line-2-y-position: calc(var(--line-1-y-position) + var(--line-height) + var(--line-spacing));
    --line-2-position: var(--line-x-position) var(--line-2-y-position);

    --line-3-width: 80px;
    --line-3-y-position: calc(var(--line-2-y-position) + var(--line-height) + var(--line-spacing));
    --line-3-position: var(--line-x-position) var(--line-3-y-position);

    --line-4-width: 60px;
    --line-4-y-position: calc(var(--line-3-y-position) + var(--line-height) + var(--line-spacing));
    --line-4-position: var(--line-x-position) var(--line-4-y-position);

    --line-5-width: 30px;
    --line-5-y-position: calc(var(--line-4-y-position) + var(--line-height) + var(--line-spacing));
    --line-5-position: var(--line-x-position) var(--line-5-y-position);

    --blur-width: 100px;
    --blur-size: var(--blur-width) var(--card-height);

    --circle-size: var(--line-height);
    --circle-x-position: var(--card-x-padding);
    --circle-skeleton: linear-gradient(var(--skeleton-colour) var(--circle-size), var(--skeleton-colour) 0);
    
    --circle-1-y-position: var(--card-y-padding);
    --circle-1-position: var(--circle-x-position) var(--circle-1-y-position);
    
    --circle-2-y-position: calc(var(--circle-1-y-position) + var(--line-height) + var(--line-spacing));
    --circle-2-position: var(--circle-x-position) var(--circle-2-y-position);
    
    --circle-3-y-position: calc(var(--circle-2-y-position) + var(--line-height) + var(--line-spacing));
    --circle-3-position: var(--circle-x-position) var(--circle-3-y-position);
    
    --circle-4-y-position: calc(var(--circle-3-y-position) + var(--line-height) + var(--line-spacing));
    --circle-4-position: var(--circle-x-position) var(--circle-4-y-position);
    
    --circle-5-y-position: calc(var(--circle-4-y-position) + var(--line-height) + var(--line-spacing));
    --circle-5-position: var(--circle-x-position) var(--circle-5-y-position);

    --bs-breadcrumb-divider: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 12 12"><path fill-rule="evenodd" d="M3.4845 1.2345a.375.375 90 01.531 0l4.5 4.5a.375.375 90 010 .531l-4.5 4.5a.375.375 90 01-.531-.531L7.7197 6 3.4845 1.7655a.375.375 90 010-.531z"/></svg>');
}