/* || General styles */
html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section {
    padding: 1rem 0;
}

/* Credit: Used this article as reference for dialog implementation:
https://web.dev/articles/building/a-dialog-component */
dialog {
    width: 30rem;
    border: 1px var(--bs-gray-300) solid;
    border-radius: 12.5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
    display: grid;
    align-content: start;
    max-inline-size: min(90vw, 60ch);
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    overflow: auto;
    margin: auto;
    padding: 0;
    position: fixed;
    inset: 0;
}

dialog[open] {
    opacity: 1;
    pointer-events: inherit;
}

html:has(dialog[open]) {
    overflow: hidden;
}

dialog .dialog-content {
    padding: 2rem;
}

dialog .dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

dialog .btn-close {
    transform: translateY(0.25rem);
    flex-shrink: 0;
}

[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%; /* moves off screen */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

[href="#main"]:focus {
    right: auto;
}


/* || Heading styles */
h1 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

hgroup p {
    max-width: 45ch;
    font-size: 1.75rem !important;
    color: var(--bs-secondary-color);
}


/* || Font sizes */
.fs-sm-1 {
    font-size: var(--fs-sm-1) !important;
}

.fs-sm-2 {
    font-size: var(--fs-sm-2) !important;
}

.fs-base-2 {
    font-size: var(--fs-base-2) !important;
}


/* || Link styles */
a {
    overflow-wrap: break-word;
    word-break: break-word;
}

a:not(header a, a.btn, a.dropdown-item, a.nav-link, a.alert-link),
a.icon-link:not(a.btn.icon-link),
.btn-link {
    color: var(--pithia-blue);
    -webkit-text-decoration-color: var(--pithia-blue);
    text-decoration-color: var(--pithia-blue);
}

a:not(header a, a.btn, a.dropdown-item, a.nav-link, a.alert-link):hover,
a:not(header a, a.btn, a.dropdown-item, a.nav-link, a.alert-link):focus-visible,
a:not(header a, a.btn, a.dropdown-item, a.nav-link, a.alert-link):active,
a.icon-link:not(a.btn.icon-link):hover,
a.icon-link:not(a.btn.icon-link):focus-visible,
a.icon-link:not(a.btn.icon-link):active,
.btn-link:hover,
.btn-link:focus-visible,
.btn-link:active {
    color: var(--pithia-blue);
    -webkit-text-decoration-color: var(--pithia-blue);
    text-decoration-color: var(--pithia-blue);
}

a:not(a.btn, a.dropdown-item, header a, a.nav-link, .card-menu a, .list-group-item a),
a.icon-link:not(a.btn.icon-link),
a.alert-link,
.btn-link {
    text-decoration: underline;
}

a:not(a.btn, a.dropdown-item, header a, a.nav-link, .card-menu a, .list-group-item a):hover,
a:not(a.btn, a.dropdown-item, header a, a.nav-link, .card-menu a, .list-group-item a):focus-visible,
a:not(a.btn, a.dropdown-item, header a, a.nav-link, .card-menu a, .list-group-item a):active,
a.icon-link:not(a.btn.icon-link):hover,
a.icon-link:not(a.btn.icon-link):focus-visible,
a.icon-link:not(a.btn.icon-link):active,
a.alert-link:hover,
a.alert-link:hover,
a.alert-link:hover,
.btn-link:hover,
.btn-link:focus-visible,
.btn-link:active {
    text-decoration: none;
}

/* Link styles - navigation elements */
/* Header logo */
a.header-logo-link {
    text-decoration: none;
}

a.header-logo-link:hover,
a.header-logo-link:focus-visible {
    text-decoration: underline;
}

/* Navbar links */
.navbar a,
.navbar .nav-item a.dropdown-toggle
.navbar .dropdown-menu .dropdown-item,
.user-dropdown .dropdown-menu a {
    color: var(--bs-secondary-text-emphasis);
    text-decoration-color: var(--bs-secondary-text-emphasis);
}

.navbar .nav-item a.dropdown-toggle span:hover,
.navbar .nav-item a.dropdown-toggle span:focus-visible,
.navbar .nav-item a.dropdown-toggle:hover,
.navbar .nav-item a.dropdown-toggle:focus-visible {
    text-decoration: underline;
}

/* Navbar, footer */
a.nav-link {
    text-decoration: none;
}

a.nav-link:hover,
a.nav-link:focus-visible,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus-visible {
    text-decoration: underline;
}

/* Breadcrumb */
.breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item a:hover,
.breadcrumb-wrapper .breadcrumb .breadcrumb-item a:focus-visible,
.breadcrumb-wrapper .breadcrumb .breadcrumb-item a:active {
    text-decoration: underline;
}

/* Link styles - Bootstrap elements */
a.btn,
a.badge,
a.dropdown-item,
.accordion-button a,
.list-group-item > a {
    text-decoration: none;
}

.metadata-server-url:not(.loading) .metadata-server-url-text.badge {
    text-decoration: none;
}

a.dropdown-item:hover,
a.dropdown-item:focus-visible,
.accordion-button a:hover,
.accordion-button a:focus-visible,
.list-group-item > a:hover,
.list-group-item > a:focus-visible {
    text-decoration: underline;
}

/* Link styles - custom elements */
.card-menu a {
    text-decoration: none;
}

.card-menu a:hover,
.card-menu a:focus-visible {
    text-decoration: underline;
}

.sidemenu li a {
    text-decoration: none;
}

.user-dropdown .dropdown-menu li a:hover,
.user-dropdown .dropdown-menu li a:focus-visible,
.user-dropdown .dropdown-menu li button:hover,
.user-dropdown .dropdown-menu li button:focus-visible {
    text-decoration: underline;
}

.ontology-server-url a.metadata-server-url-text:not(:hover, :focus-visible, :active) {
    text-decoration: underline dotted;
}

.metadata-server-url.loading a.metadata-server-url-text {
    text-decoration: none;
}

.metadata-server-url.loading {
    text-decoration: none !important;
    cursor: wait;
}

.metadata-server-url a.metadata-server-url-text:hover,
.metadata-server-url a.metadata-server-url-text:focus-visible,
.metadata-server-url a.metadata-server-url-text:active {
    text-decoration: none;
}

/* Link styles - text decoration utility classes */
a.link-plain-by-default,
.btn-link.link-plain-by-default {
    text-decoration: none !important;
}

a.link-plain-by-default:hover,
a.link-plain-by-default:focus-visible,
.btn-link.link-plain-by-default:hover,
.btn-link.link-plain-by-default:focus-visible {
    text-decoration: underline !important;
}

a.link-underline-by-default,
.btn-link.link-underline-by-default {
    text-decoration: underline !important;
}

a.link-underline-by-default:hover,
a.link-underline-by-default:focus-visible,
.btn-link.link-underline-by-default:hover,
.btn-link.link-underline-by-default:focus-visible {
    text-decoration: none !important;
}


/* || External link styling */
a.external-link::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 75% auto;
    /* turn font colour to pithia colour scheme */
    filter: invert(24%) sepia(72%) saturate(2416%) hue-rotate(178deg) brightness(103%) contrast(101%);
    /* alternative text rules */
    content: '';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em; /* the width of the icon */
}

.navbar a.dropdown-item.external-link::after {
    filter: none;
}

.navbar a.dropdown-item.external-link:active::after {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(104%) contrast(101%);
}

.metadata-server-url.loading a.external-link::after {
    display: none;
}

a.external-link.btn-primary::after,
a.external-link.btn-secondary::after {
    filter: invert(98%) sepia(2%) saturate(10%) hue-rotate(41deg) brightness(103%) contrast(105%);
}

a.external-link.btn-outline-dark::after {
    transition: filter 150ms ease-in-out;
}

a.external-link.btn-outline-dark:hover::after,
a.external-link.btn-outline-dark:focus-visible::after {
    filter: invert(100%) sepia(2%) saturate(7490%) hue-rotate(224deg) brightness(107%) contrast(99%);
}


/* || Bootstrap custom elements */
.btn-transparent {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: rgb(0, 0, 0, 0);
    --bs-btn-border-color: rgb(0, 0, 0, 0);
    --bs-btn-hover-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-gray-200);
    --bs-btn-hover-border-color: var(--bs-gray-300);
    --bs-btn-focus-shadow-rgb: 233, 236, 239;
    --bs-btn-active-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-gray-300);
    --bs-btn-active-border-color: var(--bs-gray-400);
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}


/* || Theme colours */
.pithia-blue {
    color: var(--pithia-blue) !important;
}

.pithia-blue-2 {
    color: var(--pithia-blue-2);
}

.pithia-theme {
    color: white;
    background-color: var(--pithia-blue);
}


/* Custom summary marker */
summary.summary-marker-custom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

summary.summary-marker-custom-baseline {
    align-items: baseline;
}

summary.summary-marker-custom.summary-marker-custom-sm::before {
    font-size: 0.75rem;
    transform: translateY(-0.125rem);
}

summary.summary-marker-custom::-webkit-details-marker,
summary.summary-marker-custom::marker {
    content: none;
    display: none;
    color: #fff;
    z-index: -1;
}

summary.summary-marker-custom::before {
    content: '\25B6\FE0E';
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    margin: 0 1em 0 0;
}

details[open] > summary.summary-marker-custom::before {
    content: '▼';
}

details[open] > summary.summary-marker-custom {
    margin-bottom: 1rem;
}

details[open] > summary.summary-marker-custom-highlight {
    background-color: var(--bs-tertiary-bg);
}

summary.summary-marker-custom h2,
summary.summary-marker-custom h3 {
    margin-bottom: 0;
}

@counter-style paren-lower-alpha {
    system: extends lower-alpha;
    prefix: "(";
    suffix: ") ";
}

[type="a"] {
    list-style: paren-lower-alpha;
}


/* .card-menu, .list-group combinators */
h1 + .card-menu,
h2 + .card-menu {
    margin-top: 1.5rem;
}

h1 + .list-group {
    margin-top: 1.5rem;
}

h3.opblock-tag p {
    font-size: 1rem;
}


/* || Utilities */
.list-group-numbered li::before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.1rem;
}

.list-style-dash {
    list-style: ' -  ';
}

.sidemenu li {
    margin-bottom: 0.5rem;
}

.page-info-lg {
    font-size: var(--fs-base-2);
}

.page-info-emphasised {
    color: var(--bs-secondary-text-emphasis);
    background-color: var(--bs-tertiary-bg);
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: var(--bs-border-radius);
}

.separator {
    color: #dee2e6;
}

.dropdown-item:active img {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(75deg) brightness(99%) contrast(106%);
}

.dropdown-item:active {
    background-color: var(--pithia-blue);
    color: white !important;
    transition-property: none;
}

/* Line clamp */
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
}

.line-clamp-4 {
    -webkit-line-clamp: 4;
}

.line-clamp-5 {
    -webkit-line-clamp: 5;
}


/* || Header */
.header-logo {
    /* This is the same logo width used with the official PITHIA-NRF website */
    width: 97px;
}

.header-logo-link small {
    transform: translateY(-0.25rem);
}

header .dropdown-item {
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
}

header a.support-link {
    min-width: fit-content;
}

header a.support-link,
header a.logout-link {
    font-size: var(--fs-sm-1);
}

header .dropdown-menu {
    z-index: 1021;
}

header .user-dropdown .dropdown-toggle {
    font-size: var(--fs-sm-1);
}

header .login-link {
    font-size: var(--fs-sm-1);
}


/* || Navbar */
#navbar-global {
    background: rgba(var(--bs-secondary-bg-rgb), 0.5);
    padding-block: 0.25rem;
}

.user-dropdown .dropdown-menu.show {
    width: max-content;
}

.user-dropdown .institution-for-login-session {
    white-space: pre-wrap;
    line-clamp: 3;
    overflow-wrap: break-word;
}

.user-dropdown .dropdown-menu li,
.user-dropdown .dropdown-menu li a,
.user-dropdown .dropdown-menu li button {
    width: 100%;
}

.user-dropdown .logout-button {
    display: flex;
    align-items: center;
}

.user-dropdown .logout-button img {
    height: 1.2rem;
}

.institution-menu-dropdown .dropdown-menu.show {
    width: max-content;
}

.btn-institution-member::after {
    content: none;
}

.dropdown-institution-member .input-group {
    width: max-content;
}

.dropdown-institution-member .input-group input {
    width: fit-content;
}


/* || Breadcrumb */
.breadcrumb-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.breadcrumb {
    font-size: var(--fs-base-2);
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.breadcrumb-item:not(.breadcrumb-item:nth-last-of-type(2)) {
    display: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>');
    /* Only using padding because SVG
    is being used as a divider. */
    padding-top: 0.05rem;
    padding-right: 1rem;
}


/* Footer */
.footer-link-separator {
    color: #dee2e6;
}


/* || Card menu */

.card-menu {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
}

.card-menu li {
    /* Positioned relative to position the help buttons! */
    position: relative;
    overflow: hidden;
}

.card-menu a.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    word-break: keep-all;
    hyphens: auto;
    overflow: hidden;
    padding: 1.5rem;
}

.card-menu a.card {
    color: var(--pithia-blue-2);
    text-decoration-color: var(--pithia-blue-2);
    border: 2px solid var(--bs-border-color);
    min-height: 8rem;
}

.card-menu a.card:hover,
.card-menu a.card:focus-visible,
.card-menu a.card:active {
    border-color: var(--pithia-blue);
}


/* || Home page */

/* Home page - section */
.section-hm {
    padding-block: 0;
}

/* Home page - card container */
.card-hm-container .card-header {
    text-align: center;
    border-bottom: none;
}

.card-hm-container .card-header h2 {
    font-size: var(--fs-base-2);
    font-weight: var(--fw-semibold);
    margin-bottom: 0;
}

/* Home page - feature of interest search section */
.foi-hm-section .card-hm-container {
    max-height: 100%;
}

.list-foi-search button {
    font-size: var(--fs-sm-2);
}

/* Home page - management sections */
.management-section-hm ul li + li {
    padding-top: 0.25rem;
}

/* Home page - card menu variant */
.card-menu.card-menu-hm {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.card-menu.card-menu-hm a.card {
    color: var(--bs-body-color);
    text-decoration-color: var(--bs-body-color);
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--fs-sm-2);
}

.card-menu.card-menu-hm a.card:hover,
.card-menu.card-menu-hm a.card:focus-visible,
.card-menu.card-menu-hm a.card:active {
    color: var(--pithia-blue);
    text-decoration-color: var(--pithia-blue);
    text-decoration: none;
}

.card-menu.card-menu-hm a.card svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
}

/* When quick help button is in card menu */
.card-menu li .btn-card-help-dialog {
    position: absolute;
    width: auto;
    height: auto;
    right: 0rem;
    top: 0.5rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 0.25rem;
}

.card-menu li .btn-card-help-dialog:hover,
.card-menu li .btn-card-help-dialog:focus-visible {
    background-color: var(--pithia-blue);
}

.card-menu li .btn-card-help-dialog:hover svg:first-child,
.card-menu li .btn-card-help-dialog:focus-visible svg:first-child {
    display: inline;
    color: white
}

.card-menu li .btn-card-help-dialog:hover svg:nth-child(2),
.card-menu li .btn-card-help-dialog:focus-visible svg:nth-child(2) {
    display: none;
}

.card-menu li .card-facade {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
}

.card-menu li:has(.btn-card-help-dialog:hover) .card-facade,
.card-menu li:has(.btn-card-help-dialog:focus-visible) .card-facade {
    opacity: 60%;
}

/* Home page, card menu - interactive help */
.btn-card-help-dialog,
.btn-card-help-dialog .btn-icon-container {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
}

.btn-card-help-dialog {
    color: var(--bs-gray-500);
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
}

.btn-card-help-dialog .btn-icon-container {
    position: relative;
}

.btn-card-help-dialog .btn-icon-container svg {
    position: absolute;
    left: 0;
    top: 0;
}

.btn-card-help-dialog-tooltip {
    --bs-tooltip-bg: var(--bs-light-bg-subtle);
    --bs-tooltip-color: var(--bs-light-emphasis);
}

/* When quick help button is not in card menu */
.btn-card-help-dialog svg:nth-child(2) {
    display: none;
}

.btn-card-help-dialog:hover svg:first-child,
.btn-card-help-dialog:focus-visible svg:first-child {
    display: none;
}

.btn-card-help-dialog:hover svg:nth-child(2),
.btn-card-help-dialog:focus-visible svg:nth-child(2) {
    display: inline;
}

/* Home page, login alert - institution selection */
.alert-institution-setting svg:first-child {
    width: 1.2rem;
    height: 1.2rem;
}


/* || Static dataset browsing */
.category-section .list-group-item:nth-last-child(1 of :not(.d-none)) {
    border-radius: var(--bs-border-radius);
    border-bottom: none;
}


/* || Metadata browsing - custom list styling */
.section-data-collection-list .list-group-item:nth-child(1 of :not(.d-none)) {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.section-data-collection-list .list-group-item:nth-last-child(1 of :not(.d-none)) {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom: none;
}


/* || Resource detail page */
.interaction-method-table td:first-child,
.interaction-method-table td:nth-child(3),
.interaction-method-table td:nth-child(4),
.ontology-term-table td:first-child,
.resource-property-table td:first-child {
    width: 20%;
}

.handle-table th:first-child {
    width: 25%;
}


/* Resource detail page - top section (h1 heading, short name, last modified date) */
.resource-detail-top-section {
    padding-bottom: var(--resource-detail-top-section-padding);
}

/* Resource detail page - responsible parties section */
#responsible-parties-top-section {
    font-size: var(--fs-sm-2);
    padding-top: 0.25rem;
    padding-bottom: 1.5rem;
}

#responsible-parties-top-section dl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.75rem;
    margin-block-end: 0;
}

#responsible-parties-top-section dd {
    display: inline;
}

#responsible-parties-top-section dd > span::after {
    content: ', ';
}

#responsible-parties-top-section dd:last-child > span::after {
    content: '';
}

.standard-identifier-list,
.standard-identifier-list li {
    display: inline;
}

.standard-identifier-list li::after {
    content: ', ';
}

.standard-identifier-list li:last-child::after {
    content: '';
}

.resource-detail-section {
    padding: var(--resource-detail-section-padding) 0;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.resource-detail-section h2:first-child,
.resource-detail-aside h2:first-child {
    font-size: 1.5rem;
}

.resource-detail-section > h2 {
    margin-bottom: 1rem;
}

.resource-detail-section > h2:has(+ ul) {
    margin-bottom: 1rem;
}

.resource-detail-section > h2 + ul {
    margin-top: 0;
}

.resource-detail-top-section :last-child,
.resource-detail-section :last-child {
    margin-bottom: 0;
}

.resource-detail-section:has(> details:only-child) {
    padding-block: 0;
}

.resource-detail-section:has(> details[open]:only-child) {
    padding-block-end: calc(var(--resource-detail-section-padding) / 2);
}

.resource-detail-section > details:only-child summary.summary-marker-custom {
    padding-block-start: var(--resource-detail-section-padding);
    padding-block-end: var(--resource-detail-section-padding);
}

.resource-detail-section > details:only-child summary.summary-marker-custom:hover,
.resource-detail-section > details:only-child summary.summary-marker-custom:focus-visible,
.resource-detail-section details[name="details-permissions"] summary.summary-marker-custom:hover,
.resource-detail-section details[name="details-permissions"] summary.summary-marker-custom:focus-visible {
    background-color: var(--bs-tertiary-bg);
}

.resource-detail-section > details:only-child[open] > summary.summary-marker-custom {
    margin-bottom: 0;
}

.resource-detail-section details[name="details-permissions"][open] summary.summary-marker-custom {
    margin-bottom: 0;
}

.resource-detail-section details[name="details-permissions"] .permission-definition {
    padding-bottom: 1.5rem;
}

.resource-detail-section li:last-of-type details[name="details-permissions"] .permission-definition {
    padding-bottom: 0;
}

.resource-detail-section details[name="details-capabilities"][open],
.resource-detail-section details[name="details-capability-links"][open] {
    background-color: var(--bs-light-bg-subtle);
}

.resource-detail-section details.details-capabilities-top[open] > summary,
.resource-detail-section details.details-capability-links-top[open] > summary {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.resource-detail-subsection {
    margin: 0;
    padding: 1rem;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-tertiary-bg);
}

.resource-detail-subsection + .resource-detail-subsection {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.online-resource-list li > div:has(> details:not([open])) .or-service-function,
.online-resource-list li > div:has(> details:not([open])) > details > summary {
    color: var(--bs-secondary-color);
}

#further-information-section .resource-detail-section:first-child {
    border-top: none;
    padding-top: var(--resource-detail-section-padding);
}

#further-information-section h3 {
    font-size: 1.35rem;
}

#further-information-section h4 {
    font-size: 1.2rem;
}

.resource-detail-emphasised-section.resource-detail-section:first-of-type {
    margin-top: var(--resource-detail-section-padding);
}

.resource-detail-emphasised-section {
    border: none;
    padding: 1.5rem;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-light-bg-subtle);
}

.resource-detail-emphasised-section details,
.resource-detail-emphasised-section li {
    background-color: var(--bs-light-bg-subtle);
}

.resource-detail-emphasised-section + .resource-detail-section {
    border-top: none;
}

.resource-detail-emphasised-section + .resource-detail-emphasised-section {
    margin-top: var(--resource-detail-section-padding);
}

.resource-detail-top-section + .resource-detail-emphasised-section:first-of-type,
#responsible-parties-top-section + .resource-detail-emphasised-section:first-of-type {
    margin-top: calc(var(--resource-detail-section-padding) - var(--resource-detail-top-section-padding));
}

.resource-detail-top-section + #contact-info-section.resource-detail-emphasised-section {
    margin-top: 0.5rem;
}

.resource-detail-emphasised-section + #further-information-section {
    border-bottom: none;
}

.resource-detail-aside {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

.resource-detail-aside .resource-detail-aside-section {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    padding-block: var(--resource-detail-aside-section-padding);
    font-size: 1rem;
}

.resource-detail-aside .resource-detail-aside-section:last-child {
    border-bottom: none;
}

.resource-detail-aside .resource-detail-aside-section :last-child {
    margin-bottom: 0;
}

.resource-detail-aside .resource-detail-aside-section > h2 {
    font-weight: var(--fw-semibold);
    margin-bottom: 1rem;
}

.resource-detail-section-from-aside {
    display: block;
}

.resource-detail-aside .resource-detail-aside-key-section {
    display: none;
}

.resource-detail-aside .metadata-server-url {
    display: inline-block;
    text-decoration: inherit;
    overflow-wrap: break-word;
    max-width: 100%;
    vertical-align: top;
}

.resource-description:last-child {
    margin-bottom: 0;
}

.resource-description-wrapper.expanded {
    display: block;
}

.dd-list-item {
    display: list-item;
    list-style-type: disc;
    margin-block: 0;
    margin-left: 2rem;
}

.btn-expand-resource-description.btn-link {
    color: var(--pithia-blue);
    padding: 0;
}

.btn-expand-resource-description.hidden {
    display: none;
}

.bi-lg {
    font-size: 1.6rem;
}

.col-lg-3 .resource-key-details {
    font-size: var(--fs-sm-1);
}

.resource-key-details {
    padding-block: 0.5rem;
}

.resource-key-details tr:first-of-type td {
    padding-top: 1.25rem;
}

.resource-key-details tr:last-of-type td {
    padding-bottom: 1.25rem;
}

.resource-key-details td {
    padding-block: 0.75rem;
    padding-inline: 1rem;
}

.resource-key-details tbody tr td:first-of-type {
    padding-right: 0.5rem;
}

.resource-key-details tbody tr td:last-of-type {
    padding-left: 0.5rem;
}

.file-download-link svg {
    transform: translateY(0.25em);
}

#resource-detail-url-top-section .url-text-wrapper {
    max-width: 16rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.resource-detail-top-section-extra-content > dl > div {
    font-size: var(--fs-sm-2);
}

details[name="details-permissions"] summary > span::after {
    font-size: var(--fs-sm-1);
    color: var(--bs-secondary-color);
}

details[name="details-permissions"]:not([open]) summary > span::after {
    content: 'Show full description';
}

details[name="details-permissions"][open] summary > span::after {
    content: 'Hide full description';
}

.interaction-methods-subsection {
    padding-block: 0;
    padding-top: 1rem;
}

.interaction-methods-subsection h3 {
    color: var(--bs-dark-text-emphasis);
}

.interaction-methods-counter + .interaction-methods-subsection {
    padding-top: 1.25rem;
}

.interaction-methods-subsection + .interaction-methods-subsection {
    padding-top: 1.5rem;
}

.resource-detail-section .interaction-methods-subsection:only-of-type {
    padding-top: 0.75rem;
}

.resource-detail-section .interaction-methods-subsection h3 {
    color: var(--bs-secondary-text-emphasis);
    font-weight: var(--fw-semibold) !important;
    font-size: 1rem !important;
}

.online-resource-list > li {
    padding-block: 1.5rem;
}

.online-resource-list > li:not(li:first-of-type) {
    margin-top: 1.25rem;
}

.online-resource-list .service-function-list,
.online-resource-list .service-function-list li,
.online-resource-list .service-function-list .metadata-server-url-text {
    max-width: 100%;
}

.online-resource-list .service-function-list .badge {
    white-space: wrap;
    text-align: left;
    line-height: 1.2;
}

.online-resource-list .online-resource-description p {
    font-size: 1rem !important;
    color: var(--bs-secondary-text-emphasis);
}

.type-badge-list .badge {
    background-color: var(--bs-dark);
}

section .keyword-list {
    display: inline;
    padding-inline-start: 0;
    list-style: none;
}

section .keyword-list li {
    display: inline;
}

section .keyword-list li::after {
    content: ', ';
}

section .keyword-list li:last-child:after {
    content: '';
}

.responsive-resource-detail-section {
    display: block;
}

.responsive-resource-detail-aside-section {
    display: none;
}


/* || Resource management list page */
.resource-management-table td:first-child {
    width: 40%;
}

.resource-management-table td:last-child {
    width: 1px;
}

.resource-management-table tr {
    padding-inline: 2rem;
}

.resource-management-table tr td:first-child {
    max-width: 20rem;
    overflow-wrap: break-word;
}

.resource-identifier-short-text {
    word-break: break-all;
}

.update-buttons {
    gap: 0.5rem;
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: min-content;
}

.action-buttons button,
.action-buttons a {
    height: 100%;
}

.action-buttons a img {
    width: 1.8rem;
}

.action-buttons .dropdown-item {
    padding-block: 0.5rem;
}

.btn-view-xml {
    display: none;
}


/* Register page */
.messages-container {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

#file-upload-form h2 {
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
}

#file-upload-form label {
    margin-bottom: 0.5rem;
}

#file-upload-form h2 > label {
    margin-bottom: 0;
}

.file-validation-status img {
    width: 1rem;
}

.file-validation-status img[alt="tick"] {
    width: 1.2rem;
}

.file-validation-status-list:empty {
    border: grey 1px dashed;
    padding: 1rem;
    border-radius: var(--bs-border-radius);
}

.file-validation-status-list:empty::before {
    content: 'When you select a file, it will be sent to our servers for validation. Its validation progress will appear here.';
    color: var(--bs-body-secondary);
}

.details-validation .error-counter {
    display: none;
}

.details-validation:has(ul .text-danger) .error-counter {
    display: inline;
}

.details-validation .warning-counter {
    display: none;
}

.details-validation:has(ul .text-warning) .warning-counter {
    display: inline;
}

.file-list-group-item .total-time-validated {
    display: none;
}

.file-list-group-item.finished .total-time-validated {
    display: inline;
}

.file-list-group-item .details-validation > ul {
    list-style-type: none;
    padding-left: 0;
    word-break: break-word;
}

.file-list-group-item .details-validation > ul > li ul {
    list-style-type: disc;
}

.file-upload-registration-section {
    border-top: var(--bs-gray-300) solid 1px;
    padding-block: var(--resource-registration-upload-section-padding);
}

.file-upload-registration-section:first-of-type {
    border-top-width: 0;
}

.file-upload-registration-section.bg-body-tertiary.rounded:first-of-type {
    margin-block: calc(var(--resource-registration-upload-section-padding) + 0.25rem);
}

.online-resource-files-list-wrapper.disabled {
    font-weight: var(--fw-semibold);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-light);
    padding: 1rem;
    border-radius: var(--bs-border-radius);
}

.online-resource-files-list-wrapper.disabled::before {
    content: 'Links to online resources will be taken from the selected metadata file.';
    color: var(--bs-secondary-text-emphasis);
}

.online-resource-files-list-wrapper.disabled .online-resource-similar-names-error,
.online-resource-files-list-wrapper.disabled .online-resource-files-list {
    display: none !important;
}

.online-resource-files-list li:not(.source-name-is-invalid) .error-similar-source-name {
    display: none;
}

.online-resource-files-list:empty {
    border: var(--bs-secondary-color) 1px dashed;
    padding: 1rem;
    border-radius: var(--bs-border-radius);
}

.online-resource-files-list:empty::before {
    content: 'When you select a metadata file, a list of its online resources will appear here.';
    color: var(--bs-secondary-color);
}


/* Metadata editor */
legend.required::after,
legend h2.required::after,
label.required::after {
    content: ' *';
    color: red;
}

.required-marker {
    color: red;
}

.alert-localid-taken {
    display: none;
}

.input-group:has(.is-invalid) .alert-localid-taken {
    display: block;
}


/* || Skeleton loading animation for metadata server urls */
@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.metadata-server-url {
    text-decoration: inherit;
}

.metadata-server-url .metadata-server-url-text {
    border-radius: var(--bs-border-radius);
    opacity: 1;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    overflow-wrap: break-word;
    word-break: break-word;
    transition: opacity 0.5s ease
}

.metadata-server-url:not(.loading) .metadata-server-url-text.badge.text-bg-secondary {
    color: #fff !important;
}

.metadata-server-url:not(.loading) .metadata-server-url-text.badge.text-bg-info {
    color: #fff !important;
}

.metadata-server-url:not(.loading) .metadata-server-url-text.badge.text-bg-light {
    color: #000 !important;
}

.metadata-server-url.loading .metadata-server-url-text {
    color: transparent !important;
    opacity: 0.5;
    pointer-events: none;
    background-color: hsl(200, 20%, 80%) !important;
    animation: skeleton-loading 1s linear infinite alternate;
}

.resource-key-details td:has(.metadata-server-url.loading) {
    max-width: min-content;
}


/* || Help page */
.help-section {
    border-top:
        var(--bs-border-width)
        var(--bs-border-style)
        var(--bs-border-color);
    padding-block: 1.5rem;
}

.help-section h2 {
    font-size: 1.5rem;
}

.help-section p:last-child {
    margin-bottom: 0;
}

.help-section li:not(li:first-child) {
    padding-top: 0.5rem;
}

.help-aside-section {
    display: none;
}

.help-aside-section h2 {
    font-size: 1.25rem;
    font-weight: var(--fw-normal);
}

.responsive-help-section {
    display: block;
}


/* || XML file download page */
.xml-display-area {
    overflow-x: scroll;
}

.xml-file-download-btn {
    min-width: fit-content;
}


/* || Search by content page */
#search-by-content-accordion legend h3 {
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    margin-top: 0.25rem;
    color: var(--bs-secondary-color);
}

#search-by-content-accordion legend h4 {
    font-size: var(--fs-sm-1);
    color: var(--bs-secondary-color);
    margin-top: 0.15rem;
}

#search-by-content-accordion .row:has(legend.visually-hidden) {
    padding-top: 0.1rem;
}

.observed-properties-tree-search-container-wrapper {
    border: var(--tree-search-container-border-width) solid var(--bs-gray-300);
    border-radius: 0.3rem;
}

.tree-search-terms {
    transition: opacity .3s ease-in-out;
}

.tree-search-terms .spinner-grow-container {
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-gray-300);
    height: var(--tree-search-loading-spinner-height);
}

.tree-search-terms li.search-no-match label {
    color: var(--bs-tertiary-color);
}

#observed-properties-tree-search-terms li.filter-no-match label {
    color: var(--bs-tertiary-color);
}

.tree-filter-results,
.tree-search-box-filter-results,
.tree-checkbox-filter-results {
    display: none;
}

.tree-filter-results.show-tree-search-box-filter-results,
.tree-filter-results.show-tree-checkbox-filter-results {
    display: flex;
}

.tree-filter-results.show-tree-search-box-filter-results .tree-search-box-filter-results {
    display: flex;
    flex-direction: column;
}

.tree-filter-results.show-tree-checkbox-filter-results .tree-checkbox-filter-results {
    display: block;
}

#accordion-filters .accordion-header {
    --bs-accordion-active-bg: var(--bs-light-bg-subtle);
}

#accordion-filters .accordion-button:not(.collapsed) {
    color: var(--bs-body-color);
}

#accordion-filters .accordion-body {
    max-height: 100%;
    padding: 0;
}

#accordion-filters .tree-search-container {
    padding: var(--tree-search-container-padding-y) var(--tree-search-container-padding-x);
}

#accordion-filters .tree-search-terms {
    border: none;
}

#accordion-filters .tree-search-terms .spinner-grow-container {
    height: var(--tree-search-loading-spinner-in-accordion-height);
}

ul.tree {
    padding-left: 0.5rem;
}

ul.tree,
ul.tree ul {
    list-style-type: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#search-form-progress {
    position: relative;
    pointer-events: none;
}

#search-form-progress-bar {
    position: absolute;
    background: var(--pithia-blue);
    height: 5px;
    width: 0%;
    top: 50%;
    left: 0;
}

#search-form-progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#search-form-progress-num::before {
    content: "";
    background-color: lightgrey;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 5px;
    height: 5px;
    width: calc(100% - 10px);
    z-index: -1;
}

#search-form-progress-num .step {
    border: 3px solid lightgrey;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

#search-form-progress-num .step.active {
    border-color: var(--pithia-blue);
    background-color: var(--pithia-blue);
    color: white;
}

.search-form-controls {
    row-gap: 0.5rem;
}

.select-all-checkbox-container {
    transition: opacity 500ms ease;
}

.card-header img,
.accordion-button img {
    width: 1.5rem;
}


/* || Ontology browser */
.ontology-term-description {
    max-width: 80ch;
}

.ontology-browser-terms ul.tree {
    --spacing: 1.5rem;
    --list-item-left-padding: 0.65em;
    --nested-list-left-padding: calc(var(--list-item-left-padding) + 0.5em);
    padding-left: 0;
}

.ontology-browser-terms ul.tree ul {
    padding-left: var(--nested-list-left-padding);
}

.ontology-browser-terms ul.tree ul li {
    border-left : 1px solid var(--bs-gray-400);
    padding-left: var(--list-item-left-padding);
}

.ontology-browser-terms ul.tree ul li:not(li:has(> details)) {
    padding-left: calc((var(--list-item-left-padding) * 2) + 0.4em);
}

.ontology-browser-terms .summary-marker-custom::before {
    margin: 0 var(--list-item-left-padding) 0 0;
}

.ontology-browser-terms ul.tree li:last-child hr,
.ontology-browser-terms ul.tree ul li:last-child hr {
    display: none;
}

.ontology-browser-terms a.keyword-searchable {
    text-decoration: none;
}

.ontology-browser-terms a.keyword-searchable:hover {
    text-decoration: underline;
}

.ontology-browser-terms li.search-no-match {
    display: none;
}


/* || Skeleton loader while search terms are loading */
@keyframes loading {
    to {
        background-position:
            350% 0,
            var(--line-1-position),
            var(--line-2-position),
            var(--line-3-position),
            var(--line-4-position),
            var(--line-5-position),
            var(--circle-1-position),
            var(--circle-2-position),
            var(--circle-3-position),
            var(--circle-4-position),
            var(--circle-5-position),
            0 0;
    }
}

.tree-search-terms:empty {
    cursor: wait;
    width: var(--card-width);
    height: var(--card-height);
    background-image:
        linear-gradient(
            90deg,
            transparent,
            var(--bs-body-bg),
            transparent
        ),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--line-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--circle-skeleton),
        var(--card-skeleton);

    background-size:
        var(--blur-size),
        var(--line-1-width) var(--line-height),
        var(--line-2-width) var(--line-height),
        var(--line-3-width) var(--line-height),
        var(--line-4-width) var(--line-height),
        var(--line-5-width) var(--line-height),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        var(--circle-size) var(--circle-size),
        100% 100%;

    background-position:
        -150% 0,
        var(--line-1-position),
        var(--line-2-position),
        var(--line-3-position),
        var(--line-4-position),
        var(--line-5-position),
        var(--circle-1-position),
        var(--circle-2-position),
        var(--circle-3-position),
        var(--circle-4-position),
        var(--circle-5-position),
        0 0;
    background-repeat: no-repeat;
    animation: loading 1s infinite;
}

/* || Search results */
.search-result-description {
    overflow: hidden;
}

/* || Metadata editor */
.table-dynamic thead {
    display: none;
}

.table-dynamic td {
    display: block;
    border-bottom-width: 0;
}

.table-dynamic tr td:first-of-type {
    padding-top: 1.5rem;
}

.table-dynamic tr td:last-of-type {
    padding-bottom: 1rem;
}

.table-dynamic tr {
    border-bottom-width: 1px;
}

.table-dynamic button:not(.input-group button),
.table-dynamic .remove-dtrow-button {
    display: block;
    margin-inline: auto;
}

.add-dtrow-button {
    width: 100%;
}

.add-dtrow-button {
    padding-block: 1rem;
}

.table-dynamic textarea {
    opacity: 0;
    height: 1rem;
    resize: none;
    max-height: 20rem;
}

.table-dynamic textarea:focus-visible {
    opacity: 100%;
}

.textarea-facade {
    position: absolute;
    border-width: 1px;
    overflow: hidden;
    inset: 0;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .375rem .75rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.table-dynamic textarea:focus-visible ~ .textarea-facade {
    display: none;
}


/* || Tom select customisation */
.ts-wrapper.multi .ts-control > div {
    display: inline-block;
    word-break: break-word;
}

.ts-wrapper.no-search .ts-control, .ts-wrapper.single.input-active .ts-control {
    cursor: pointer;
}

.ts-dropdown #id_instrument_mode_pair_mode-ts-dropdown .optgroup[data-disabled] {
    display: none;
}

#id_instrument_mode_pair_mode-ts-dropdown .optgroup[data-disabled] + .optgroup:not([data-disabled])::before {
    display: none;
}


/* || Bootstrap tooltips */
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-light-bg-subtle);
    --bs-tooltip-color: var(--bs-light-emphasis);
}


/* || Media queries */
@media (min-width: 1200px) {
    .table-dynamic thead {
        display: table-header-group;
    }

    .table-dynamic td {
        display: table-cell;
        border-bottom-width: var(--bs-border-width);
    }

    .table-dynamic tr td:first-of-type {
        padding-top: 0.5rem;
    }

    .table-dynamic tr td:last-of-type {
        padding-bottom: 0.5rem;
    }

    .table-dynamic tr {
        border-bottom-width: 0;
    }

    .table-dynamic button:not(.input-group-button) {
        display: inline;
    }

    .add-dtrow-button {
        display: block;
    }

    table td:has(input[required]),
    table td:has(select[required]),
    table td:has(textarea[required]) {
        position: relative;
    }
    
    table td:has(input[required])::after,
    table td:has(select[required])::after,
    table td:has(textarea[required])::after {
        position: absolute;
        content: ' *';
        color: red;
        top: 0.6rem;
        right: 0.9rem;
    }

    .resource-detail-aside .resource-detail-aside-section,
    .resource-detail-aside #related-aside-section li {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .user-dropdown {
        text-align: end;
    }

    .resource-detail-section-from-aside {
        display: none;
    }

    .resource-detail-aside .resource-detail-aside-key-section {
        display: block;
    }

    .resource-detail-aside-section h2:first-child {
        font-size: var(--fs-base-2);
    }

    .resource-detail-aside .resource-detail-aside-section:first-child {
        padding-top: 0;
    }

    .resource-detail-aside .resource-detail-aside-section,
    .resource-detail-aside #related-aside-section li {
        font-size: var(--fs-sm-2);
    }

    #further-information-section .resource-detail-section.d-lg-none:first-child + .resource-detail-section {
        border-top: none;
        padding-top: var(--resource-detail-section-padding);
    }

    .responsive-resource-detail-section {
        display: none;
    }
    
    .responsive-resource-detail-aside-section {
        display: block;
    }

    /* Help page */
    .help-aside-section {
        display: block;
        border-inline-start:
            var(--bs-border-width)
            var(--bs-border-style)
            var(--bs-border-color);
    }

    .responsive-help-section {
        display: none;
    }

    /* Breadcrumb */
    .breadcrumb-wrapper {
        margin-top: 2rem;
    }
    
    .breadcrumb {
        font-size: 1rem;
    }

    .foi-hm-section {
        contain: size;
    }
}

@media (min-width: 768px) {
    input[name="api_specification_url"]:not(#workflow-openapi-spec-url-update-form input[name="api_specification_url"]) {
        max-width: 45ch;
    }

    .user-dropdown .dropdown-menu {
        min-width: 20rem;
    }
    
    .page-info-emphasised {
        display: inline-block;
    }

    .breadcrumb-item {
        font-size: var(--fs-sm-2);
    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: var(--bs-breadcrumb-item-padding-x);
    }

    .breadcrumb-item:not(.breadcrumb-item:nth-last-of-type(2)) {
        display: block;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 12 12"><path fill-rule="evenodd" d="M3.4845 1.2345a.375.375 90 01.531 0l4.5 4.5a.375.375 90 010 .531l-4.5 4.5a.375.375 90 01-.531-.531L7.7197 6 3.4845 1.7655a.375.375 90 010-.531z"/></svg>') !important;
        padding-right: var(--bs-breadcrumb-item-padding-x);
    }

    .resource-detail-top-section-extra-content > dl > div:not(.resource-detail-top-section-extra-content > dl > div:first-child) {
        max-width: 15rem;
    }

    .card-menu {
        grid-template-columns: repeat(auto-fit, 12rem);
    }
}

@media (min-width: 576px) {
    .action-buttons {
        grid-template-columns: 1fr 1fr;
    }

    .btn-view-xml {
        display: inline;
    }

    .dropdown-item-container-view-xml {
        display: none;
    }

    .file-list-group-item .details-validation > ul {
        padding-left: 30px;
    }

    #responsible-parties-top-section dl > div {
        max-width: 13rem;
    }

    .resource-detail-emphasised-section {
        padding: 2rem;
    }

    .static-dataset-category-badge {
        font-size: 1rem;
    }
    
    .ontology-browser-terms ul.tree {
        --list-item-left-padding: 1em;
    }
}

@media (min-width: 450px) and (max-width: 576px) {
    .card-menu a {
        padding: 1rem 1.25rem;
    }
    
    .ontology-browser-terms ul.tree {
        --list-item-left-padding: 0.75em;
    }
}

@media (min-width: 332px) {
    .user-dropdown {
        display: block;
    }

    .user-dropdown .dropdown-menu {
        max-width: 20rem;
    }

    .institution-menu-dropdown .dropdown-menu {
        max-width: 20rem;
    }
}

@media (max-width: 992px) {
    /* Navbar */
    .navbar .dropdown-menu:not(.user-dropdown .dropdown-menu) {
        background: transparent;
        border: none;
        font-size: var(--fs-sm-1);
        padding-top: 0;
    }

    .navbar .dropdown-menu .dropdown-divider:not(.user-dropdown .dropdown-divider) {
        display: none;
    }

    .resource-detail-aside {
        border-left-width: 0 !important;
    }
}

@media (max-width: 768px) {
    /* Credit: Used this article as reference for dialog implementation:
    https://web.dev/articles/building/a-dialog-component#mobile_mega_dialog_styles */
    dialog {
        margin-block-end: 0;
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }

    .navbar-container {
        max-width: none;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
    
    .navbar-container .navbar {
        border-radius: 0 !important;
    }
}

@media (pointer: fine) {
    /* Data Collection browse page */
    summary.data-collection-category {
        cursor: text;
    }

    summary.data-collection-category::before {
        content: none;
    }
    
    details[open] summary.data-collection-category::before {
        content: none;
    }

    summary.data-collection-category > h2 {
        display: block;
    }
    
    .list-group-container {
        position: relative;
    }

    .list-group-scroll-container.default-view {
        max-height: 20rem;
    }
    
    .list-group-scroll-container {
        overflow: auto;
    }
    
    .list-group-container.off-bottom .shadows {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 -3em 3em -1em var(--bs-body-bg) inset;
        pointer-events: none;
        transition: all 0.2s ease-out;
    }
}

@media (pointer: coarse) {
    .tree-search-terms .form-check {
        padding-block: 0.25rem;
    }

    .card-menu .card .btn-card-help-dialog {
        padding: 0.5rem;
    }

    summary.data-collection-category {
        display: flex
    }

    .show-all-dcs-button-container {
        display: none;
    }
}

@media print {
    body > *:not(#main-container),
    body > #main-container > *:not(main) {
        display: none;
    }
}

/* Target Safari browsers */
/* Credit for @supports: https://wojtek.im/journal/targeting-safari-with-css-media-query */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    summary:not(.summary-marker-custom)::marker {
        font-size: 1.5rem;
        line-height: 1;
    }
}


:root {
    --tree-search-container-max-height: 26rem;
    --tree-search-container-in-accordion-max-height: 15.5rem;
    --tree-search-loading-spinner-height: 16rem;
    --tree-search-loading-spinner-in-accordion-height: 8rem;
    --tree-search-container-border-width: 1px;
    --tree-search-container-padding-y: 1rem;
    --tree-search-container-padding-x: 1rem;
    --pithia-blue: #007bb1;
    --pithia-blue-2: #086ca3;
    --pithia-blue-rgb: 0, 124, 177;
    --pithia-blue-2-rgb: 8, 109, 163;

    /* Search page skeleton loader variables */
    --card-height: calc((var(--line-height) * 6) + (var(--line-spacing) * 5) + var(--card-y-padding));
    --card-width: 280px;
    --card-y-padding: 8px;
    --card-x-padding: 8px;
    --card-skeleton: linear-gradient(transparent var(--card-height), transparent 0);
    --skeleton-colour: var(--bs-dark-bg-subtle);

    --line-height: 12px;
    --line-spacing: 15px;
    --line-x-position: calc(var(--line-height) + 8px + var(--card-x-padding));
    --line-skeleton: linear-gradient(var(--skeleton-colour) var(--line-height), var(--skeleton-colour) 0);
    
    --line-1-width: 120px;
    --line-1-y-position: var(--card-y-padding);
    --line-1-position: var(--line-x-position) var(--line-1-y-position);

    --line-2-width: 150px;
    --line-2-y-position: calc(var(--line-1-y-position) + var(--line-height) + var(--line-spacing));
    --line-2-position: var(--line-x-position) var(--line-2-y-position);

    --line-3-width: 80px;
    --line-3-y-position: calc(var(--line-2-y-position) + var(--line-height) + var(--line-spacing));
    --line-3-position: var(--line-x-position) var(--line-3-y-position);

    --line-4-width: 60px;
    --line-4-y-position: calc(var(--line-3-y-position) + var(--line-height) + var(--line-spacing));
    --line-4-position: var(--line-x-position) var(--line-4-y-position);

    --line-5-width: 30px;
    --line-5-y-position: calc(var(--line-4-y-position) + var(--line-height) + var(--line-spacing));
    --line-5-position: var(--line-x-position) var(--line-5-y-position);

    --blur-width: 100px;
    --blur-size: var(--blur-width) var(--card-height);

    --circle-size: var(--line-height);
    --circle-x-position: var(--card-x-padding);
    --circle-skeleton: linear-gradient(var(--skeleton-colour) var(--circle-size), var(--skeleton-colour) 0);
    
    --circle-1-y-position: var(--card-y-padding);
    --circle-1-position: var(--circle-x-position) var(--circle-1-y-position);
    
    --circle-2-y-position: calc(var(--circle-1-y-position) + var(--line-height) + var(--line-spacing));
    --circle-2-position: var(--circle-x-position) var(--circle-2-y-position);
    
    --circle-3-y-position: calc(var(--circle-2-y-position) + var(--line-height) + var(--line-spacing));
    --circle-3-position: var(--circle-x-position) var(--circle-3-y-position);
    
    --circle-4-y-position: calc(var(--circle-3-y-position) + var(--line-height) + var(--line-spacing));
    --circle-4-position: var(--circle-x-position) var(--circle-4-y-position);
    
    --circle-5-y-position: calc(var(--circle-4-y-position) + var(--line-height) + var(--line-spacing));
    --circle-5-position: var(--circle-x-position) var(--circle-5-y-position);

    /* --bs-breadcrumb-divider: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 12 12"><path fill-rule="evenodd" d="M 8.5155 1.2345 a 0.375 0.375 90 0 1 0 0.531 L 4.2802 6 l 4.2353 4.2345 a 0.375 0.375 90 0 1 -0.531 0.531 l -4.5 -4.5 a 0.375 0.375 90 0 1 0 -0.531 l 4.5 -4.5 a 0.375 0.375 90 0 1 0.531 0"/></svg>'); */

    --resource-detail-top-section-padding: 1.5rem;
    --resource-detail-section-padding: 2rem;
    --resource-detail-aside-section-padding: 2rem;
    --resource-registration-upload-section-padding: 2rem;

    /* Custom font sizes */
    --fs-sm-1: 0.875rem;
    --fs-sm-2: 0.925rem;
    --fs-base-2: 1.1rem;

    /* Bootstrap font weight variables */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

@media (min-width: 768px) and (prefers-color-scheme: dark) {
    .breadcrumb-item + .breadcrumb-item::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" class="bi bi-chevron-right" viewBox="0 0 12 12"><path fill-rule="evenodd" d="M3.4845 1.2345a.375.375 90 01.531 0l4.5 4.5a.375.375 90 010 .531l-4.5 4.5a.375.375 90 01-.531-.531L7.7197 6 3.4845 1.7655a.375.375 90 010-.531z"/></svg>') !important;
    }
}

@media (prefers-color-scheme: dark) {
    .breadcrumb-item + .breadcrumb-item::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>');
    }

    .type-badge-list .badge {
        background-color: var(--bs-light-bg-subtle);
    }

    /* Tom Select */
    .ts-control,
    .ts-control input,
    .ts-dropdown-content {
        color: var(--bs-body-color);
    }

    .ts-control input::placeholder {
        color: var(--bs-secondary-color);
    }

    .external-link::after {
        /* Match pithia colour scheme */
        filter: invert(64%) sepia(37%) saturate(2304%) hue-rotate(167deg) brightness(94%) contrast(91%);
    }

    .navbar a.dropdown-item.external-link::after {
        /* Match body text colour */
        filter: invert(90%) sepia(17%) saturate(55%) hue-rotate(169deg) brightness(102%) contrast(85%);
    }

    .navbar a.dropdown-item.external-link:active::after {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(104%) contrast(101%);
    }

    :root {
        --pithia-blue: #33AEE4;
        --pithia-blue-2: #3B9FD6;
        --skeleton-colour: var(--bs-secondary-color);
    }
}