{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Resources' %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">Resources by namespace</h1>
{% if namespaces|length > 0 %}
<div class="row row-cols-1 row-cols-md-3 g-4 card-menu">
    {% for namespace in namespaces %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resources:list_by_namespace' namespace %}">{{ namespace }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>There are no resources to list!</p>
{% endif %}
{% endblock content %}