{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Resources' 'resources:index' %}
{% if resource_collection_name == 'data-collections' %}
{% breadcrumb_item 'Data Collections' 'resources:list_resource_namespaces' resource_collection_name %}
{% else %}
{% breadcrumb_item resource_collection_name|capfirst 'resources:list_resource_namespaces' resource_collection_name %}
{% endif %}
{% breadcrumb_item_active namespace %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">Resources for "{{ namespace }}"</h1>
{% if resources_list|length > 0 %}
<ul class="list-group">
    {% for resource in resources_list %}
    {% with pithia_identifier=resource.identifier|get_key_value:"pithia:Identifier" %}
    {% with local_id=pithia_identifier.localID namespace=pithia_identifier.namespace %}
    <li class="list-group-item"><a href="{% url 'resources:detail' resource_collection_name namespace local_id %}">{{ resource.name|default:local_id }}</a></li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>There are no resources to list!</p>
{% endif %}
{% endblock content %}