{% extends 'base.html' %}
{% load project_tags %}
{% block content %}
{% if resources|length > 0 %}
<ul class="list-group">
    {% for resource in resources %}
    {% with pithia_identifier=resource.identifier|get_key_value:"pithia:Identifier" %}
    {% with local_id=pithia_identifier.localID namespace=pithia_identifier.namespace %}
    <li class="list-group-item"><a href="{% url 'resources:detail' namespace local_id %}">{{ resource.name }}</a></li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<p>There are no resources to list!</p>
{% endif %}
{% endblock content %}