<footer class="py-3 my-4">
    <ul class="nav align-items-center justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'support' %}" class="nav-link px-2 text-muted">Contact Support</a></li>
        <div class="footer-link-separator">|</div>
        <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="nav-link px-2 text-muted">Privacy Policy</a></li>
        <div class="footer-link-separator">|</div>
        <li class="nav-item"><a href="{% url 'terms_of_use' %}" class="nav-link px-2 text-muted">Terms of Use</a></li>
        <div class="footer-link-separator">|</div>
        <li class="nav-item"><a href="https://pithia-nrf.eu" class="nav-link px-2 text-muted">PITHIA-NRF Website</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 PITHIA-NRF</p>
</footer>