<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none header-logo-link">
        {% load static %}
        <img src="{% static "pithia-logo.png" %}" alt="PITHIA-NRF e-Science Centre" class="header-logo">
        <div class="d-flex flex-column g-1">
            <span class="fs-4">PITHIA-NRF</span>
            <div class="fs-6">e-Science Centre</div>
        </div>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
            {% url 'home' as base_url %}
            <a href="{{ base_url }}" class="nav-link px-2 {% if request.path == base_url %}link-secondary{% endif %}"
                aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Scientific Metadata</a>
            <ul class="dropdown-menu">
                <li>
                    {% url 'search:index' as search_url %}
                    <a href="{{ search_url }}" class="dropdown-item {% if request.path == search_url %}link-secondary{% endif %}">Search Data Collections with Ontology</a>
                </li>
                <li>
                    {% url 'browse:list_data_collections' as data_collections_url %}
                    <a href="{{ data_collections_url }}" class="dropdown-item {% if request.path == data_collections_url %}link-secondary{% endif %}">Browse Data Collections</a>
                </li>
                <li>
                    {% url 'browse:catalogue_related_resource_types' as catalogues_url %}
                    <a href="{{ catalogues_url }}" class="dropdown-item {% if request.path == catalogues_url %}link-secondary{% endif %}">Browse Catalogues</a>
                </li>
                <li>
                    {% url 'browse:index' as browse_url %}
                    <a href="{{ browse_url }}" class="dropdown-item {% if request.path == browse_url %}link-secondary{% endif %}">Browse Metadata</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            {% url 'ontology:index' as browse_ontology_url %}
            <a href="{{ browse_ontology_url }}" class="nav-link px-2 {% if request.path == browse_ontology_url %}link-secondary{% endif %}">
                Space Physics Ontology
            </a>
        </li>
    </ul>
    {% if request.session.is_logged_in %}
    <div class="dropdown user-dropdown col-xs-auto">
        <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            data-bs-auto-close="outside">
            {{ request.session.user_given_name }}
        </a>
        <div class="dropdown-menu">
            {% if request.session.institution_for_login_session %}
            {% if request.session.user_institution_subgroups|length > 1 %}
            <form
                action="{% url 'choose_institution_for_login_session' %}?next={{ request.path }}"
                method="POST"
                class="px-3 py-2">
                {% csrf_token %}
                <div class="d-flex align-items-center mb-2">
                    <img
                        src="{% static 'switch.svg' %}"
                        alt="Switch"
                        style="height: 1.5rem;"
                        class="me-1">
                    <label
                        for="{{ request.institution_selection_form.institutions.auto_id }}">
                        {{ request.institution_selection_form.institutions.label }}
                    </label>
                </div>
                <select
                    name="{{ request.institution_selection_form.institutions.name }}"
                    id="{{ request.institution_selection_form.institutions.auto_id }}"
                    class="form-select mb-2"
                    required="{{ request.institution_selection_form.institutions.required }}">
                    <option value="" disabled selected>
                        {% with num_available_institutions=request.institution_selection_form.fields.institutions.choices|length|add:-1 %}
                        {% if num_available_institutions == 1 %}
                        {{ num_available_institutions }} other available...
                        {% else %}
                        {{ num_available_institutions }} others available...
                        {% endif %}
                        {% endwith %}
                    </option>
                    {% for value, text in request.institution_selection_form.fields.institutions.choices %}
                    {% if request.session.institution_for_login_session != text %}
                    <option value="{{ value }}">{{ text }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {{ request.institution_selection_form.next }}
                <button href="#" type="submit" class="btn btn-primary">
                    Switch
                </button>
                <hr class="my-3">
                <small class="institution-for-login-session d-block"><b>Currently on</b> {{ request.session.institution_for_login_session }}</small>
            </form>
            {% endif %}
            <hr class="dropdown-divider">
            {% endif %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button href="#" type="submit" class="dropdown-item logout-button">
                    <img src="{% static 'logout.svg' %}" alt="Logout" class="me-1">
                    Logout
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="col-md-3 text-end">
        <a href="{% url 'data_provider_home' %}" class="btn btn-outline-primary me-2">
            Login/Sign up
        </a>
    </div>
    {% endif %}
</header>
