<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        {% load static %}
        <img src="{% static "pithia-logo.png" %}" alt="PITHIA Logo" class="header-logo">
        <span class="fs-4">PITHIA e-Science Centre</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="/" class="nav-link {% if request.path == "/" %}active{% endif %}" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
            <a href="/register/" class="nav-link {% if "register" in request.path %}active{% endif %}">Register</a>
        </li>
        <li class="nav-item">
            <a href="/search/" class="nav-link {% if "search" in request.path %}active{% endif %}">Search</a>
        </li>
    </ul>
</header>
