{% extends 'base.html' %}
{% block content %}
<h1 class="pb-5">PITHIA-NRF e-Science Centre</h1>
<section class="home-menu">
    <h2 class="">Models & Data Collections</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-0"><a href="{% url 'resources:index' %}">Browse</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-0"><a href="{% url 'register:index' %}">Register</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-0"><a href="{% url 'search:index' %}">Search</a></h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}