{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ title }}</h1>
{% if request.session.user_given_name %}
<p class="text-secondary">Current user: {{ request.session.user_given_name }}</p>
{% endif %}
{% if request.session.is_logged_in and not request.session.institution_for_login_session %}
<div class="row">
    <div class="col-lg-8">
        {% if not request.session.user_institution_subgroups %}
        <div class="alert alert-light">
            <p>
                To enable scientific metadata management capabilities,
                please join or register for a new institution.
            </p>
            <a href="{% url 'list_joinable_perun_organisations' %}" class="btn btn-primary">
                Join an Existing Institution
            </a>
            <a href="{{ create_institution_url }}" class="btn btn-outline-dark">
                Register a New Institution
            </a>
        </div>
        {% else %}
        <div class="alert alert-primary">
            <p>
                To enable scientific metadata management capabilities,
                please select the institution you would like to act on
                behalf of for this login session.
            </p>
            <form action="{% url 'choose_institution_for_login_session' %}" method="POST">
                {% csrf_token %}
                {{ request.institution_selection_form.institutions.label_tag }}
                <select
                    name="{{ request.institution_selection_form.institutions.name }}"
                    id="{{ request.institution_selection_form.institutions.auto_id }}"
                    class="form-select mb-3"
                    required="{{ request.institution_selection_form.institutions.required }}">
                    <option value="" disabled selected>
                        Member of {{ request.institution_selection_form.fields.institutions.choices|length }} institutions...
                    </option>
                    {% for value, text in request.institution_selection_form.fields.institutions.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<hr>
{% endif %}
<section>
    <h2 class="mb-3">Scientific Metadata</h2>
    <div class="card-menu mb-2">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'search:index' %}">
                    <img src="{% static 'search.svg' %}" alt="Search">
                    <span>Search Data Collections</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:list_data_collections' %}">
                    <img src="{% static 'browse.svg' %}" alt="Browse">
                    <span>Data Collections</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:catalogue_related_resource_types' %}">
                    <img src="{% static 'browse.svg' %}" alt="Browse">
                    <span>Catalogues</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'browse:index' %}">
                    <img src="{% static 'browse.svg' %}" alt="Browse">
                    <span>All Scientific Metadata</span>
                </a>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <h2 class="mb-3">Space Physics Ontology</h2>
    <div class="card-menu mb-2">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'ontology:index' %}">
                    <img src="{% static 'ontology.svg' %}" alt="Ontology">
                    <span>Space Physics Ontology</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'ontology:guide' %}">
                    <img src="{% static 'ontology.svg' %}" alt="Ontology">
                    <span>Space Physics Ontology Guide</span>
                </a>
            </div>
        </div>
    </div>
</section>
<hr>
{% if request.session.institution_for_login_session %}
<h2>{{ request.session.institution_for_login_session }}</h2>
<section>
    <h3 class="text-secondary mb-3">Data Registrations</h3>
    <div class="card-menu mb-2">
{% else %}
<h2>Data Registrations</h2>
<section>
    <div class="card-menu mb-2">
{% endif %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_registration_user_guide' %}">
                    <img src="{% static 'file_info.svg' %}" alt="Info">
                    <span>Data Resource Registration Guide</span>
                </a>
            </div>
        </div>
{% if request.session.institution_for_login_session %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:index' %}">
                    <img src="{% static 'file_upload.svg' %}" alt="File Upload">
                    <span>Manage Registrations</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'schemas' %}">
                    <img src="{% static 'data_models.svg' %}" alt="Data Models">
                    <span>Metadata Models</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% else %}
    </div>
</section>
{% endif %}
{% if request.session.institution_for_login_session %}
{% comment %} {% if 'admins' in request.session.subgroup_for_login_session %}
<section>
    <h3 class="text-secondary mb-3">Memberships</h3>
    <div class="card-menu mb-2">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <img src="{% static 'data_models.svg' %}" alt="Data Models">
                    Manage Members
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %} {% endcomment %}
{% endif %}
{% if request.session.is_logged_in and request.session.user_institution_subgroups %}
<hr>
<section>
    <h2 class="mb-3">My Institutions</h2>
    <div class="card-menu mb-2">
        <div class="card">
            <div class="card-body">
                <a href="{{ create_institution_url }}">
                    <img src="{% static 'data_models.svg' %}" alt="Data Models">
                    <span>Register a New Institution</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'list_joinable_perun_organisations' %}">
                    <img src="{% static 'data_models.svg' %}" alt="Data Models">
                    Join Another Institution
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
