{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Login' %}
{% endblock breadcrumbs %}
{% load static %}
{% block content %}
<div class="alert alert-primary p-4" role="alert">
    <div class="row">
        <div class="col-lg-8">
            <p>
                e-Science Centre data are currently being migrated over
                to a new user management system and cannot be managed
                from here at this time.
            </p>
            If you wish to manage your data in the meantime, please
            use the data management facilities at the
            <a href="https://escbeta.pithia.eu/">e-Science Centre beta site</a>
            instead. Thank you.
        </div>
    </div>
</div>
{% endblock content %}