{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <form action="{% url 'login' %}{% if 'next' != '' %}?next={{ next }}{% endif %}" method="post">
                        {% csrf_token %}
                        <div class="row align-items-center gy-3">
                            <div class="col-lg-8">
                                {% if messages %}
                                <div class="registration-alerts">
                                    {% for message in messages %}
                                    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-12">
                                {% if form.password.errors %}
                                    <ul>
                                    {% for error in form.password.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}