<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="d-md-none d-flex align-items-center navbar-brand header-logo-link" href="/">
            {% load static %}
            <picture>
                <source srcset="{% static "pithia-logo.png" %}" alt="PITHIA e-Science Centre Logo" media="(prefers-color-scheme: light)" />
                <source srcset="{% static "pithia-logo-dark.png" %}" alt="PITHIA e-Science Centre Logo" class="header-logo" media="(prefers-color-scheme: dark)" />
                <img src="{% static "pithia-logo.png" %}" alt="PITHIA e-Science Centre Logo" class="header-logo">
            </picture>
            <div class="d-inline-flex flex-column align-items-start text-decoration-none fs-4">
                <span class="fs-6 fw-semibold lh-sm pithia-blue-2">PITHIA</span>
                <span class="fs-5 lh-sm">eSC</span>
            </div>
        </a>
        <button class="navbar-toggler mx-2 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-0 px-2" id="navbarNav">
            <div class="d-md-none d-block pt-4 pb-3">
                {% include 'header/user_menu.html' %}
            </div>
            <ul class="navbar-nav align-items-lg-center align-items-start column-gap-4 w-100 py-lg-0 py-md-3 py-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-inline-flex align-items-baseline column-gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-1" viewBox="0 0 16 16" style="transform: translateY(0.125rem);">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>Search Data Collections
                            </span></a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li>
                                {% url 'search:index' as search_url %}
                                <a href="{{ search_url }}" class="dropdown-item">Search Data Collections by Content</a>
                            </li>
                            <li>
                                {% url 'simple_search:index' as simple_search_url %}
                                <a href="{{ simple_search_url }}" class="dropdown-item">Data Collection Simple Search</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Scientific Metadata</a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li>
                                {% url 'browse:list_data_collections' as data_collections_url %}
                                <a href="{{ data_collections_url }}" class="dropdown-item">Data Collections</a>
                            </li>
                            <li>
                                {% url 'browse:catalogue_tree' as catalogues_url %}
                                <a href="{{ catalogues_url }}" class="dropdown-item">Catalogues</a>
                            </li>
                            <li>
                                {% url 'browse:list_workflows' as workflows_url %}
                                <a href="{{ workflows_url }}" class="dropdown-item">Workflows</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                {% url 'browse:index' as browse_url %}
                                <a href="{{ browse_url }}" class="dropdown-item">All Scientific Metadata</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    {% url 'ontology:index' as browse_ontology_url %}
                    <a href="{{ browse_ontology_url }}" class="nav-link link-plain-by-default">
                        Space Physics Ontology
                    </a>
                </li>
                {% if request.session.institution_for_login_session %}
                <li class="nav-item ms-lg-auto ms-0 mt-lg-0 mt-2">
                    <a href="{% url 'resource_management:index' %}" class="nav-link link-plain-by-default">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text me-2" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                        </svg>Manage Registrations
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="d-md-none d-block border-top pb-3 pt-3 mt-3">
                {% if request.session.is_logged_in %}
                <div class="d-flex justify-content-between">
                    {% include 'header/help_and_support_link.html' %}
                    <a href="{% url 'logout' %}" class="link-plain-by-default logout-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right me-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>Logout</a>
                </div>
                {% else %}
                <div class="text-md-start text-end">
                    {% include 'header/help_and_support_link.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>