{% extends 'base.html' %}
{% load static %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<div class="d-flex flex-column row-gap-3 col-xl-7 col-lg-9">
    <h1 class="border-bottom pb-4">{{ title }}</h1>
    <section class="border-bottom pb-5">
        <div class="d-flex flex-column align-items-start row-gap-4">
            <h2>Help</h2>
            <p>
                We currently have a limited number of help and information articles available in the e-Science Centre. For personal
                support with any problems or queries, <a href="#support-heading" class="link-underline-by-default">raise a ticket below</a>
                with our support team.
            </p>
            <a class="icon-link icon-link-hover link-underline-by-default" href="{% url 'help:index' %}">
                See all help topics
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right ms-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>
        </div>
    </section>
    <section>
        <div class="d-flex flex-column align-items-start row-gap-3">
            <h2 id="support-heading" class="mt-3">GGUS Helpdesk</h2>
            <p>
                You can raise a ticket via the GGUS helpdesk service.
                To use GGUS, you will need to sign up/log in with an EGI
                Check-in account, which GGUS will ask for before you can
                start creating your ticket.
            </p>
            <div class="alert alert-light">
                <p class="fw-medium">Ticket Guidelines</p>
                <div class="d-flex align-items-baseline column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0 me-1" viewBox="0 0 16 16" style="transform: translateY(0.125rem);">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                    </svg>
                    <p class="fw-bold mb-2">
                        Tickets are manually re-assigned to our support
                        unit by the Ticket Process Managers (TPM) in GGUS.
                        To ensure we that will receive a notification of
                        your ticket, please:
                    </p>
                </div>
                <ul class="ps-4 ms-1">
                    <li class="pb-2">
                        Include a line in the ticket's description to request
                        the re-assignment of the ticket to the <strong>PITHIA
                        e-Science Centre</strong> support unit, which will help
                        TPM with re-assigning the ticket to us later.
                    </li>
                    <li>Set the ticket group to <strong>TPM</strong>.</li>
                </ul>
                <div class="d-flex align-items-baseline column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0 me-1" viewBox="0 0 16 16" style="transform: translateY(0.125rem);">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                    </svg>
                    <p class="mb-0">
                        If appropriate, also consider attaching screenshots and/or files to help us better
                        understand your ticket.
                    </p>
                </div>
            </div>
            <a href="https://ggus.eu/index.php?mode=ticket_submit" target="_blank" id="raise-ticket-link" class="btn btn-outline-dark btn-outline-dark-togglable btn-lg fw-bold">
                Raise a ticket with GGUS</a>
        </div>
    </section>
</div>
{% endblock content %}