<section id="operation-time-section" class="d-flex flex-column row-gap-4">
    {% with time_period_section_heading_text='Operation Time' time_period_section_help_text='When the operation occurred.' time_period_section_summary_text='Adding information on the operation time is optional. If you would like to add this, you must fill out all of the operation-time-related fields below.' %}
    {% with time_period_id_field=form.time_period_id %}
    {% with time_instant_begin_id_field=form.time_instant_begin_id time_instant_begin_position_field=form.time_instant_begin_position %}
    {% with time_instant_end_id_field=form.time_instant_end_id time_instant_end_position_field=form.time_instant_end_position %}
    {% include 'metadata_editor/components/time_period.html' %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</section>