<div class="pb-1">
    {% block main_error_text %}
    One or multiple resources referenced by the
    <span class="font-monospace">xlink:href</span>
    attribute have not been registered with the
    e-Science Centre.
    {% endblock main_error_text %}
</div>
<div class="pb-1">
    {% block pre_list_text %}
    Unregistered document URLs:
    {% endblock pre_list_text %}
</div>
<ul>
    {% for url in unregistered_resource_urls %}
    <li>{{ url }}</li>
    {% endfor %}
</ul>
<div class="pt-2">
    <strong>Note:</strong>
    If your URLs start with <b>http://</b> please
    change this to <b>https://</b>.
</div>
{% if file_upload_registration_url_and_url_texts %}
<div class="pt-2">
    {% block post_note_text %}
    Please use the following links to register
    the resources referenced in the submitted
    metadata file:
    {% endblock post_note_text %}
</div>
<ul class="pt-1">
    {% for url, url_text in file_upload_registration_url_and_url_texts %}
    <li>
        <a href="{{ url }}" target="_blank" class="alert-link">{{ url_text }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block extra_content %}{% endblock extra_content %}