<details name="details-capabilities" {% if is_open %}open{% endif %}>
    <summary class="summary-marker-custom summary-marker-custom-baseline summary-marker-custom-sm p-3 mb-0">
        <div>
            <h3 class="fs-6">{{ cap.name }}</h3>
            {% if cap.observed_property %}
            <div class="text-body-secondary">
                {% with value=cap.observed_property %}
                {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                {% endwith %}
            </div>
            {% endif %}
        </div>
    </summary>
    {% include 'browse/detail/components/capability_details_pane_component.html' %}
</details>