<details name="details-capability-links" {% if is_open %}open{% endif %}>
    <summary class="summary-marker-custom summary-marker-custom-baseline summary-marker-custom-sm p-3 px-0 mb-0">
        <div>
            <h3 class="fs-6">
                {# Computation capabilities #}
                {% if cap_link.computation_capabilities %}
                {% with value=cap_link.computation_capabilities %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
                {% endif %}
                {# Acquisition capabilities #}
                {% if cap_link.acquisition_capabilities %}
                {% with value=cap_link.acquisition_capabilities %}
                {% include 'browse/placeholders/resource_server_url_placeholder.html' %}
                {% endwith %}
                {% endif %}
            </h3>
            {# Smaller details below capability link name #}
            <div class="d-flex flex-column text-body-secondary">
                {# Platforms #}
                {% if cap_link.platforms %}
                <span>
                    {% with value=cap_link.platforms.0 %}
                    {% include 'browse/placeholders/resource_server_url_placeholder_no_link.html' %}
                    {% endwith %}
                    {% if cap_link.platforms|length == 1 %}
                    {% elif cap_link.platforms|length == 2 %}
                    and {{ cap_link.platforms|length|add:-1 }} other platform
                    {% else %}
                    and {{ cap_link.platforms|length|add:-1 }} other platforms
                    {% endif %}
                </span>
                {% endif %}
            </div>
        </div>
    </summary>
    {% include 'browse/detail/components/capability_link_details_pane_component.html' %}
</details>