{% load project_tags %}
<address class="row row-gap-4 gx-5 text-break">
    {% with position_name=resource.properties.position_name.strip organisation=resource.properties.organisation.strip non_address_contact_info=resource.properties.non_address_contact_info col_width_class=col_width_class|default:'col-md-6' heading_font_size_class=heading_font_size_class|default:'fs-5' %}
    {# Non-address contact info = website, email, phone number or hours of service #}
    {% if position_name or organisation or non_address_contact_info %}
    <div class="d-flex flex-column row-gap-4 {{ col_width_class }}">
        {# This block is for detail pages for individuals #}
        {# Uses: organisation and/or position_name #}
        {% block position_name_section %}{% endblock position_name_section %}
        {% with website=resource.properties.online_resource.strip email_address=resource.properties.email_address.strip phone=resource.properties.phone.strip contact_instructions=resource.properties.contact_instructions %}
        {% if website or email_address or phone %}
        <section class="d-flex flex-column align-items-start row-gap-1 py-0">
            <h2 class="fw-semibold {{ heading_font_size_class }} mb-0">
                {% if website %}Website and {% endif %}Contact Details
            </h2>
            {% if website %}
            <a href="{{ website }}" class="link-underline-by-default mb-2">
                {{ website }}
            </a>
            {% endif %}
            <div class="d-flex flex-column">
                {% if email_address %}
                <a href="mailto:{{ email_address }}" class="link-underline-by-default">
                    Send email
                </a>
                {% endif %}
                {% if phone %}
                <a href="tel:{{ phone }}" class="link-underline-by-default">
                    {{ phone }}
                </a>
                {% endif %}
            </div>
            {% if contact_instructions %}
            <div class="text-secondary-emphasis" style="font-size: 0.875rem;">
                {{ contact_instructions }}
            </div>
            {% endif %}
        </section>
        {% endif %}
        {% endwith %}
        {% with hours_of_service=resource.properties.hours_of_service %}
        {% if hours_of_service %}
        <section class="d-flex flex-column row-gap-1 py-0">
            <h2 class="fw-semibold {{ heading_font_size_class }} mb-0">Hours of Service</h2>
            <p class="mb-0">{{ hours_of_service }}</p>
        </section>
        {% endif %}
        {% endwith %}
    </div>
    {% endif %}
    {% if resource.properties.address %}
    <section class="d-flex flex-column row-gap-1 {{ col_width_class }} py-0">
        <h2 class="fw-semibold {{ heading_font_size_class }} mb-0">Location</h2>
        <div>
            {% if resource.properties.delivery_point %}
            <p class="mb-0">{{ resource.properties.delivery_point }}</p>
            {% endif %}
            {% if resource.properties.street_name %}
            <p class="mb-0">{{ resource.properties.street_name }}</p>
            {% endif %}
            {% if resource.properties.city %}
            <p class="mb-0">{{ resource.properties.city }}</p>
            {% endif %}
            {% if resource.properties.administrative_area %}
            <p class="mb-0">{{ resource.properties.administrative_area }}</p>
            {% endif %}
            {% if resource.properties.postal_code %}
            <p class="mb-0">{{ resource.properties.postal_code }}</p>
            {% endif %}
            {% if resource.properties.country %}
            <p class="mb-0">{{ resource.properties.country }}</p>
            {% endif %}
        </div>
    </section>
    {% endif %}
    {% endwith %}
</address>