{% load project_tags %}
<div class="d-flex flex-column align-items-start row-gap-3">
    <div class="d-flex flex-column row-gap-2">
        {% with online_resource_access_type=online_resource_access_type|default:'' %}
        {% if online_resource_access_type %}
        <span class="fw-semibold text-body-secondary">
            {{ online_resource_access_type }}
        </span>
        {% endif %}
        {% endwith %}
        <a href="{{ online_resource.linkage }}" class="icon-link icon-link-hover align-items-start fw-semibold link-underline-by-default" target="_blank" rel="noopener noreferrer">
            {{ online_resource.name }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short fs-5" viewBox="0 0 16 16" style="margin-top: 0.15rem;">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
            </svg>
        </a>
        {% with service_functions=online_resource.service_functions %}
        {% if service_functions %}
        <div class="fw-semibold">
            {% if service_functions|length == 1 %}
            <div>
                {% with value=service_functions.0 %}
                {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                {% endwith %}
            </div>
            {% else %}
            <details>
                <summary>
                    {% with value=service_functions.0 %}
                    {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                    {% endwith %} and
                    {% with num_remaining_service_functions=service_functions|length|add:-1 %}
                    {{ num_remaining_service_functions }} other service function{% if num_remaining_service_functions > 1 %}s{% endif %}
                    {% endwith %}
                </summary>
                <ul style="list-style-type: disc;">
                    {% for service_function_url in service_functions %}
                    <li>
                        {% with value=service_function_url %}
                        {% include 'browse/placeholders/ontology_server_url_placeholder_no_link.html' %}
                        {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
            </details>
            {% endif %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
    {% if online_resource.description.strip %}
    <div class="d-inline-flex flex-column align-items-start online-resource-description">
        {% with type_id=type|server_url_id|lower text_block_font_size_class='' line_clamp_number=3 %}
        {% with text_block_paragraphs=online_resource.description|wrap_in_list_if_dict text_block_id='online-resource-description-'|add:type_id|add:'-'|add:forloop_counter_str expand_btn_type='sm btn-link pithia-blue link-underline-by-default px-0' expand_btn_top_margin='mt-1' expand_btn_text='Show more...' %}
        {% include 'utils/expandable_text_block.html' %}
        {% endwith %}
        {% endwith %}
    </div>
    {% endif %}
    {% if online_resource.protocol or online_resource.data_format %}
    <details class="details-interaction-methods" name="details-collection-results">
        <summary>
            <span style="font-size: 0.975rem;">Additional details</span>
        </summary>
        <dl class="d-flex flex-column row-gap-2 my-2">
            {% if online_resource.protocol %}
            <div>
                <dt>Protocol</dt>
                <dd>{{ online_resource.protocol }}</dd>
            </div>
            {% endif %}
            {% if online_resource.data_format %}
            <div>
                <dt>Data Formats</dt>
                {% for data_format in online_resource.data_format|wrap_in_list_if_dict %}
                <dd class="dd-list-item">
                    {% with value=data_format %}
                    {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                    {% endwith %}
                </dd>
                {% endfor %}
            </div>
            {% endif %}
            {% if online_resource.service_functions %}
            <div>
                <dt>Service Functions</dt>
                {% for service_function_url in online_resource.service_functions %}
                <dd class="dd-list-item">
                    {% with value=service_function_url %}
                    {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                    {% endwith %}
                </dd>
                {% endfor %}
            </div>
            {% endif %}
        </dl>
    </details>
    {% endif %}
</div>