{% load project_tags %}
<ul class="list-group list-group-flush online-resource-list mt-4">
    {% for source in sources|wrap_in_list_if_dict %}
    {% with forloop_counter_str=forloop.counter|stringformat:'s' %}
    {% with online_resource=source.OnlineResource %}
    {% if sources|length == 1 %}
    <li class="list-group-item py-2 ps-0">
    {% else %}
    <li class="list-group-item py-4 ps-0">
    {% endif %}
        {% include 'browse/detail/components/online_resource.html' %}
    </li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>