{% load project_tags %}
<details class="details-interaction-methods py-2" name="details-collection-results" {% if forloop.counter == 1 or only_online_resource %}open{% endif %}>
    <summary class="summary-marker-custom summary-marker-custom-baseline">
        <h3 class="fs-5">
            <a href="{{ online_resource.linkage|get_key_value:'gmd:URL' }}" class="icon-link icon-link-hover link-plain-by-default" target="_blank" rel="noopener noreferrer">
                {{ online_resource.name }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right flex-shrink-0 ms-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </a>
        </h3>
    </summary>
    <div class="d-flex flex-column align-items-start row-gap-3">
        {% if 'serviceFunction' in online_resource %}
        {% with value=online_resource.serviceFunction|get_key_value:'@xlink:href' pill_type='secondary' %}
        {% include 'browse/placeholders/ontology_server_url_pill_placeholder_no_link.html' %}
        {% endwith %}
        {% else %}
        <span class="badge rounded-pill text-bg-secondary">
            Linkage
        </span>
        {% endif %}
        {% if 'description' in online_resource and online_resource.description %}
        <p class="mb-0">
            {{ online_resource.description|urlize }}
        </p>
        {% endif %}
        {% if 'protocol' in online_resource or 'dataFormat' in online_resource %}
        <details>
            <summary>More details</summary>
            <dl class="mt-3 ms-3">
                {% if 'protocol' in online_resource %}
                <div>
                    <dt>Protocol</dt>
                    <dd>{{ online_resource.protocol }}</dd>
                </div>
                {% endif %}
                {% if 'dataFormat' in online_resource %}
                <div class="mt-3">
                    <dt>Data Formats</dt>
                    {% for data_format in online_resource.dataFormat|wrap_in_list_if_dict %}
                    <dd class="dd-list-item">
                        {% with value=data_format|get_key_value:'@xlink:href' %}
                        {% include 'browse/placeholders/ontology_server_url_placeholder.html' %}
                        {% endwith %}
                    </dd>
                    {% endfor %}
                </div>
                {% endif %}
            </dl>
        </details>
        {% endif %}
    </div>
</details>