{% load project_tags %}
<address class="mt-4">
    <div class="row gy-4">
        <div class="col-lg-6">
            <div class="d-flex flex-column row-gap-1">
                {% if 'organisation' in resource.json %}
                {% with organisation_url=resource.json.organisation|get_key_value_or_blank_string:'@xlink:href' %}
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill text-secondary me-2" viewBox="0 0 16 16">
                        <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5M4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                    </svg>
                    <span class="metadata-server-url resource-server-url loading" data-metadata-server-url="{{ organisation_url.strip }}">
                        <a href="{{ organisation_url }}" class="icon-link icon-link-hover link-underline-by-default metadata-server-url-text">
                            {% if organisation_url.strip in server_url_to_id_mappings %}
                            {{ server_url_to_id_mappings|get_key_value:organisation_url.strip }}
                            {% else %}
                            {{ organisation_url.strip }}
                            {% endif %}
                        </a>
                    </span>
                </div>
                {% endwith %}
                {% endif %}
                {% if resource.properties.email_address %}
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill text-secondary me-2" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                    </svg>
                    <a href="mailto:{{ resource.properties.email_address }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ resource.properties.email_address }}
                    </a>
                </div>
                {% endif %}
                {% if resource.properties.phone %}
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill text-secondary me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                    </svg>
                    <a href="tel:{{ resource.properties.phone }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ resource.properties.phone }}
                    </a>
                </div>
                {% endif %}
                {% if resource.properties.online_resource.strip %}
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg text-secondary me-2" viewBox="0 0 16 16">
                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                    </svg>
                    <a href="{{ resource.properties.online_resource }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ resource.properties.online_resource }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% if resource.properties.address %}
        <div class="col-lg-6">
            <div class="d-flex align-items-baseline column-gap-3">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill text-secondary" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                </div>
                <div>
                    {% if resource.properties.delivery_point %}
                    <p class="mb-0">{{ resource.properties.delivery_point }}</p>
                    {% endif %}
                    {% if resource.properties.street_name %}
                    <p class="mb-0">{{ resource.properties.street_name }}</p>
                    {% endif %}
                    {% if resource.properties.city %}
                    <p class="mb-0">{{ resource.properties.city }}</p>
                    {% endif %}
                    {% if resource.properties.administrative_area %}
                    <p class="mb-0">{{ resource.properties.administrative_area }}</p>
                    {% endif %}
                    {% if resource.properties.postal_code %}
                    <p class="mb-0">{{ resource.properties.postal_code }}</p>
                    {% endif %}
                    {% if resource.properties.country %}
                    <p class="mb-0">{{ resource.properties.country }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</address>