{% load project_tags %}
{% if resource.properties.contact_info %}
<address class="mt-4">
    <div class="row row-gap-4">
        {% if resource.properties.non_address_contact_info %}
        <div class="col-lg-6">
            <h2 class="fs-6 mb-1">{{ contact_info_details_top_section_heading }}</h2>
            <div class="d-flex flex-column row-gap-4">
                {% if 'organisation' in resource.json or 'positionName' in resource.json or resource.properties.online_resource.strip %}
                <div class="d-flex flex-column align-items-start row-gap-1">
                    {% if 'organisation' in resource.json %}
                    {% with organisation_url=resource.json.organisation|get_key_value_or_blank_string:'@xlink:href' %}
                    <span class="metadata-server-url resource-server-url loading" data-metadata-server-url="{{ organisation_url.strip }}">
                        <a href="{{ organisation_url }}" class="icon-link icon-link-hover link-underline-by-default metadata-server-url-text">
                            {% if organisation_url.strip in server_url_to_id_mappings %}
                            {{ server_url_to_id_mappings|get_key_value:organisation_url.strip }}
                            {% else %}
                            {{ organisation_url.strip }}
                            {% endif %}
                        </a>
                    </span>
                    {% endwith %}
                    {% endif %}
                    {% if 'positionName' in resource.json %}
                    <span class="text-secondary-emphasis">
                        {{ resource.json.positionName }}
                    </span>
                    {% endif %}
                    {% if resource.properties.online_resource.strip %}
                    <a href="{{ resource.properties.online_resource }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ resource.properties.online_resource }}
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                <div class="d-flex flex-column align-items-start row-gap-1">
                    {% if resource.properties.email_address %}
                    <a href="mailto:{{ resource.properties.email_address }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        Send email
                    </a>
                    {% endif %}
                    {% if resource.properties.phone %}
                    <a href="tel:{{ resource.properties.phone }}" class="link-underline-by-default" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ resource.properties.phone }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if resource.properties.address %}
        <div class="col-lg-6">
            <div class="d-flex flex-column row-gap-1">
                <h2 class="fs-6 mb-0">Location</h2>
                <div>
                    {% if resource.properties.delivery_point %}
                    <p class="mb-0">{{ resource.properties.delivery_point }}</p>
                    {% endif %}
                    {% if resource.properties.street_name %}
                    <p class="mb-0">{{ resource.properties.street_name }}</p>
                    {% endif %}
                    {% if resource.properties.city %}
                    <p class="mb-0">{{ resource.properties.city }}</p>
                    {% endif %}
                    {% if resource.properties.administrative_area %}
                    <p class="mb-0">{{ resource.properties.administrative_area }}</p>
                    {% endif %}
                    {% if resource.properties.postal_code %}
                    <p class="mb-0">{{ resource.properties.postal_code }}</p>
                    {% endif %}
                    {% if resource.properties.country %}
                    <p class="mb-0">{{ resource.properties.country }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</address>
{% endif %}