{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'utils/xml_download.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>{{ resource_name }}</div>
            <button class="btn btn-primary xml-file-download-btn" type="button">
                <div class="d-flex align-items-center">
                    <img src="{% static 'download-white.svg' %}" alt="Download" class="me-2">Download
                </div>
            </button>
        </div>
    </div>
    <div class="card-body p-lg-5">
        <input type="hidden" id="resource-localid" value="{{ resource_localid }}">
        <div class="xml-display-area">{{ xml }}</div>
    </div>
</div>
{% endblock content %}