<section id="location-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Location</h2>
        </div>
        <div class="col-xl-9 col-lg-10">
            <p>
                Location of the platform. Note, that it is only applicable to static platforms or geo-stationary satellites.
            </p>
        </div>
        <div class="col-xl-6 col-lg-7">
            {% with field=form.location_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            <section id="geometry-location-section">
                <div class="row flex-column gy-3">
                    <div class="col-lg-12">
                        <h3 class="fw-bold fs-6">Geometry</h3>
                    </div>
                    <div class="col-lg-2">
                        {% with field=form.geometry_location_point_id %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-lg-3">
                        {{ form.geometry_location_point_pos_1.label_tag }}
                        <div class="d-flex column-gap-2">
                            {{ form.geometry_location_point_pos_1 }}
                            {{ form.geometry_location_point_pos_2 }}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        {% with field=form.geometry_location_point_srs_name %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>