<section id="location-section">
    <div class="row flex-column gy-3">
        <div class="col-lg-12">
            <h2>Location</h2>
        </div>
        <div class="col-xl-9 col-lg-10">
            <p>
                Location of the platform operation.
            </p>
        </div>
        <div class="col-lg-10">
            {% with field=form.location_name %}
            {% include 'register_with_support/components/form_field_template.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-12">
            <section>
                <div class="row flex-column gy-3">
                    <div class="col-lg-12">
                        <h3 class="fw-bold fs-6">Geometry</h3>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        {% with field=form.geometry_location_point_id %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        {% with field=form.geometry_location_point_pos %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-xl-9 col-lg-10">
                        {% with field=form.geometry_location_point_srs_name %}
                        {% include 'register_with_support/components/form_field_template.html' %}
                        {% endwith %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>