/* Conditional hiding */
/* The responses section is not shown if the live
responses table has not been added to the DOM yet. */
#swagger-ui[data-mode="user"] .responses-wrapper:not(:has(.live-responses-table)) {
    display: none;
}

/* Hide these elements */

/* Hides the little <pre> stamps in the <h2>. */
#swagger-ui[data-mode="user"] h2.title span {
    display: none;
}

/* Hides the copy button for the endpoint URL. */
#swagger-ui[data-mode="user"] .opblock-summary .copy-to-clipboard {
    display: none;
}

/* Hides the method type of each endpoint (e.g., GET, POST, PUT, DELETE, etc.). */
#swagger-ui[data-mode="user"] .opblock-summary-method {
    display: none;
}

/* Hides the endpoint URL (e.g., /upload/). */
#swagger-ui[data-mode="user"] .opblock-summary-path {
    display: none !important;
}

/* Hides the "Response Body" <h4> in the responses section. */
#swagger-ui[data-mode="user"] .responses-inner h4:nth-child(3) {
    display: none;
}

/* Hides the <h4> for the example responses table. */
#swagger-ui[data-mode="user"] .responses-inner h4:last-child {
    display: none;
}

/* Hides the curl details in the responses section. */
#swagger-ui[data-mode="user"] .responses-inner .curl-command {
    display: none;
}

/* Hides the request URL details in the responses section. */
#swagger-ui[data-mode="user"] .responses-inner .request-url {
    display: none;
}

/* Hides the Response Headers <h5> in the live responses
section. */
#swagger-ui[data-mode="user"] .live-responses-table h5 {
    display: none;
}

/* Hides the response headers code section in the live
responses section. */
#swagger-ui[data-mode="user"] .live-responses-table .microlight {
    display: none;
}

/* Hides the "Code" table column in the live responses
table. */
#swagger-ui[data-mode="user"] .live-responses-table tr td:first-child {
    display: none;
}

/* Ensures that the cell containing the endpoint response
content fills the full width of the screen. */
#swagger-ui[data-mode="user"] .live-responses-table tr td:nth-child(2) {
    width: 1%;
}

/* Hides the response examples table. */
#swagger-ui[data-mode="user"] .responses-table:last-child {
    display: none;
}

/* Hides the schema dropdown at the bottom of the page. */
#swagger-ui[data-mode="user"] .wrapper:last-child {
    display: none;
}

/* Hides the schemes section at the bottom of the page. */
#swagger-ui[data-mode="user"] .scheme-container {
    display: none;
}

/* Hides the schemas section at the bottom of the page. */
#swagger-ui[data-mode="user"] .models {
    display: none;
}