{% extends 'base.html' %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'resource_management:catalogues' %}">Catalogues</a>
        <span class="text-muted">{{ num_current_catalogues }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:catalogues' %}">Catalogue Entries</a>
        <span class="text-muted">{{ num_current_catalogues }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:catalogues' %}">Catalogue Data Subsets</a>
        <span class="text-muted">{{ num_current_catalogues }}</span>
    </li>
</ul>
{% endblock content %}