{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item index_page_title_breadcrumb index_page_url_name_breadcrumb %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<div class="col-xl-7 col-lg-9">
    <h1 class="mb-4">{{ title }}</h1>
    <p class="d-block page-info page-info-emphasised my-4">
        Registering a static dataset involves registering <strong>
        up to 3 types of metadata</strong>, registered in the
        order presented below.
        Information on what to include for each type can be
        found in the
        <a
            href="{% url 'resource_registration_user_guide' %}#page=21"
            target="_blank" class="link-underline-by-default">
            data resource registration guide</a>.
    </p>
    <ul class="list-group list-group-numbered">
        <li class="list-group-item">
            <a href="{% url 'resource_management:static_datasets' %}">Static Datasets</a>
            <span class="text-body-secondary">{{ num_current_static_datasets }}</span>
        </li>
        <li class="list-group-item">
            <a href="{% url 'resource_management:static_dataset_entries' %}">Static Dataset Entries</a>
            <span class="text-body-secondary">{{ num_current_static_dataset_entries }}</span>
        </li>
        <li class="list-group-item">
            <a href="{% url 'resource_management:data_subsets' %}">Data Subsets</a>
            <span class="text-body-secondary">{{ num_current_data_subsets }}</span>
        </li>
    </ul>
</div>
{% endblock content %}