{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item index_page_title_breadcrumb index_page_url_name_breadcrumb %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">{{ title }}</h1>
<ul class="list-group list-group-numbered">
    <li class="list-group-item">
        <a href="{% url 'resource_management:organisations' %}">Organisations</a>
        <span class="text-muted">{{ num_current_organisations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:individuals' %}">Individuals</a>
        <span class="text-muted">{{ num_current_individuals }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:projects' %}">Projects</a>
        <span class="text-muted">{{ num_current_projects }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:platforms' %}">Platforms</a>
        <span class="text-muted">{{ num_current_platforms }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:operations' %}">Operations</a>
        <span class="text-muted">{{ num_current_operations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:instruments' %}">Instruments</a>
        <span class="text-muted">{{ num_current_instruments }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:acquisition_capabilities' %}">Acquisition Capabilities</a>
        <span class="text-muted">{{ num_current_acquisition_capabilities }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:acquisitions' %}">Acquisitions</a>
        <span class="text-muted">{{ num_current_acquisitions }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:computation_capabilities' %}">Computation Capabilities</a>
        <span class="text-muted">{{ num_current_computation_capabilities }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:computations' %}">Computations</a>
        <span class="text-muted">{{ num_current_computations }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:processes' %}">Processes</a>
        <span class="text-muted">{{ num_current_processes }}</span>
    </li>
    <li class="list-group-item">
        <a href="{% url 'resource_management:data_collections' %}">Data Collections</a>
        <span class="text-muted">{{ num_current_data_collections }}</span>
    </li>
</ul>
{% endblock content %}