{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block content %}
<h1>{{ title }}</h1>
<p class="lead mb-5">
    Add, update and delete metadata. Select the type of metadata you would like to change below.
</p>
<div class="card-menu mb-3">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'resource_management:data_collection_related_metadata_index' %}">
                Data Collection-related Metadata
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="{% url 'resource_management:catalogue_related_metadata_index' %}">
                Catalogue-related Metadata
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="{% url 'resource_management:workflows' %}">
                Workflows
            </a>
        </div>
    </div>
</div>
{% endblock content %}
