{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item_active 'Resource Management' %}
{% endblock breadcrumbs %}
{% block content %}
<h1 class="pb-3">Resource Management</h1>
<p class="lead">
    Select the type of resource you would like to make changes for below.
</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 card-menu">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:acquisitions:list_resources_of_type' %}">Acquisitions</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:computations:list_resources_of_type' %}">Computations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:data-collections:list_resources_of_type' %}">Data Collections</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:individuals:list_resources_of_type' %}">Individuals</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:instruments:list_resources_of_type' %}">Instruments</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:operations:list_resources_of_type' %}">Operations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:organisations:list_resources_of_type' %}">Organisations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:platforms:list_resources_of_type' %}">Platforms</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:processes:list_resources_of_type' %}">Processes</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'resource_management:projects:list_resources_of_type' %}">Projects</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}