{% extends 'utils/dialog_template.html' %}
{% block dialog_header_content %}
<h2 class="fs-base-2 mb-0">
    Outdated Registrations <span class="text-secondary"></span>
</h2>
{% endblock dialog_header_content %}
{% block dialog_body_content %}
<div class="d-flex flex-column align-items-start row-gap-3 py-2">
    <div class="placeholder bg-body-secondary rounded col-lg-8"></div>
    <div class="placeholder fs-sm-1 bg-body-secondary rounded col-lg-5"></div>
</div>
{% endblock dialog_body_content %}