{% load project_tags %}
<table class="table">
    <thead>
        <tr>
            <th id="name">Name</th>
            <th id="updated-by">Updated by</th>
            <th id="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resource_list %}
        <tr>
            <td headers="name">
                {{ resource.name|default:resource.localid }}
            </td>
            <td headers="updated-by">
                {{ institution_members_by_id|get_key_value:resource.owner_id|default:'Unknown' }}
            </td>
            <td headers="actions">
                <div class="dropdown">
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url resource_xml_download_page_url_name resource.pk %}" class="dropdown-item">View</a>
                        </li>
                        <li>
                            <a href="{% url resource_update_page_url_name resource.pk %}" class="dropdown-item">Upload a New XML File</a>
                        </li>
                        <li>
                            {% if interaction_method_update_page_url_name %}
                            <a href="{% url interaction_method_update_page_url_name resource.pk %}" class="dropdown-item">Update Interaction Methods</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url resource_delete_page_url_name resource.pk %}" class="dropdown-item">Delete...</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>