{% extends 'base.html' %}
{% load project_tags %}
{% load static %}
{% block breadcrumbs %}
{% breadcrumb_item resource_management_index_page_breadcrumb_text 'resource_management:index' %}
{% breadcrumb_item resource_management_category_list_page_breadcrumb_text resource_management_category_list_page_breadcrumb_url_name %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% block scripts %}
<script src="{% static 'resource_management/resource_management.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
<div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-stretch justify-content-between flex-wrap gap-3 mb-3">
    <h1>{{ title }}</h1>
    {% if resource_register_with_editor_name %}
    <a href="{% url resource_register_with_editor_name %}" class="btn btn-outline-secondary fw-bold ms-lg-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1 align-text-bottom" viewBox="0 0 16 16" style="width: 1.2rem; height: 1.2rem;">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Register with Wizard
    </a>
    {% endif %}
    <a href="{% url resource_register_page_url_name %}" class="btn btn-primary fw-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1 align-text-bottom" viewBox="0 0 16 16" style="width: 1.2rem; height: 1.2rem;">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Register via File Upload
    </a>
</div>
{% if not resources %}
<p>{{ empty_resource_list_text }}</p>
{% else %}
{% block resource_list_inner %}
{% with resource_list=resources %}
{% include 'resource_management/resource_management_list_by_type_inner.html' %}
{% endwith %}
{% endblock resource_list_inner %}
{% endif %}
{% endblock content %}