{% load project_tags %}
<div class="fs-sm-1 text-body-secondary bg-body-tertiary rounded p-3">
    <h2 class="fs-sm-1 text-secondary-emphasis">{{ resource_type_plural.title }}</h2>
    {% if description %}
    <div class="mb-3">
        {% with description_urlized=description|urlize %}
        {% with text_block_paragraphs=description_urlized|wrap_in_list_if_dict text_block_id=text_block_id|default:'type-description' expand_btn_type='sm btn-link' expand_btn_top_margin='mt-1' expand_btn_text='Show more...' %}
        {% include 'utils/expandable_text_block.html' %}
        {% endwith %}
        {% endwith %}
    </div>
    {% endif %}
    <p class="fw-semibold mb-0">{{ resources|length }} registered</p>
    <div class="border-top pt-3 mt-3">
        <p class="fw-semibold mb-0">
            <button
                class="fs-sm-1 btn btn-link btn-show-outdated-regs-dialog icon-link link-underline-by-default text-body p-0"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                </svg>{{ outdated_registrations.keys|length }} outdated registrations
            </button>
        </p>
    </div>
</div>