<ul class="list-group">
    {% for resource in resources_list %}
    {% with pithia_identifier=resource.identifier.PITHIA_Identifier %}
    <li class="list-group-item">
        <div class="row gx-2 gy-4">
            <div class="col-8">
                <div class="d-flex flex-column">
                    <span class="mb-1">{{ resource.name|default:pithia_identifier.localID }}</span>
                    <small class="text-muted w-100 resource-identifier-short-text">{{ pithia_identifier.namespace }}, {{ pithia_identifier.localID }}</small>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-end"><a href="{% url delete_resource_view_name resource.id %}" role="button" class="btn btn-danger btn-delete">Delete...</a></div>
            </div>
            <div class="col-lg-12">
                <div class="d-flex flex-wrap justify-content-start align-items-center update-buttons">
                    <a href="{% url view_as_xml_view_name resource.id %}" class="btn btn-outline-secondary" role="button">View</a>
                    <a href="{% url update_resource_view_name resource.id %}" class="btn btn-outline-dark" role="button">Upload a New XML File</a>
                    {% if update_interaction_methods_view_name %}
                    <a href="{% url update_interaction_methods_view_name resource.id %}" class="btn btn-outline-dark" role="button">Update Interaction Methods</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
    {% endwith %}
    {% endfor %}
</ul>