{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Resource Management' 'resource_management:index' %}
{% breadcrumb_item breadcrumb_item_list_resources_of_type_text url_namespace|add:':list_resources_of_type' %}
{% breadcrumb_item_active title %}
{% endblock breadcrumbs %}
{% load static %}
{{ validation_url|json_script:"validation-url" }}
{% block scripts %}
<script src="{% static 'register/register.js' %}" id="register-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row pb-4">
    <div class="col-xl-9 col-lg-8">
        <h1 class="mb-0">
            {{ title }}
        </h1>
        <small class="text-muted">
            Updating resource: {{ resource_to_update_name }}
        </small>
    </div>
</div>
<div class="row gy-3">
    <div class="col-xl-9 col-lg-8">
        <div class="row">
            <div class="col-lg-8">
                {% if messages %}
                <div class="registration-alerts">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <h2 class="fs-5">Upload an XML Metadata File</h2>
        <form action="{% url url_namespace|add:':update' resource_id %}" method="post" enctype="multipart/form-data" id="update-resource-form">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-lg-8">
                    {% if form.file.errors %}
                        <ul>
                        {% for error in form.file.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.file.label_tag }}
                    {{ form.file }}
                </div>
                <div class="col-lg-8">
                    {% include 'register/validation_template.html' %}
                </div>
                <div class="col-lg-12">
                    <div class="d-flex flex-column align-items-xl-start align-items-lg-start">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}