{% extends 'base.html' %}
{% load project_tags %}
{% block breadcrumbs %}
{% breadcrumb_item 'Resource Management' 'resource_management:index' %}
{% breadcrumb_item 'Acquisitions' url_namespace|add:':list_resources_of_type' %}
{% breadcrumb_item_active 'Update Resource Metadata' %}
{% endblock breadcrumbs %}
{% load static %}
{% block scripts %}
{{ validation_url|json_script:"validation-url" }}
<script src="{% static "register/register.js" %}" id="register-script" defer></script>
{% endblock scripts %}
{% block content %}
<div class="row pb-4">
    <div class="col-xl-9 col-lg-8">
        <h1>
            {{ title }}
        </h1>
    </div>
</div>
<div class="row gy-3">
    <div class="col-xl-9 col-lg-8">
        <h2 class="mb-3">XML File Upload</h2>
        <form action="{{ post_url }}" method="post" enctype="multipart/form-data" id="upload-form">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-lg-8">
                    {% if messages %}
                    <div class="registration-alerts">
                        {% for message in messages %}
                        <div class="alert{% if message.tags %}{% if 'success' in message.tags %} alert-success{% elif 'error' in message.tags %} alert-danger{% elif 'warning' in message.tags %} alert-warning{% endif %} {{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if form.file.errors %}
                        <ul>
                        {% for error in form.file.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.file.label_tag }}
                    {{ form.file }}
                </div>
                <div class="col-lg-8">
                    <div>XML Validation Status:</div>
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="file-validation-status-container">
                                The status will be updated upon selecting a file for upload.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex flex-column align-items-xl-start align-items-lg-start">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}